<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Social media marketing made easy and affordable
        Adbanao app is specially made for Indian people which making posters, advertise, banner ads,
  videos, creating social media posts, and graphic designs, Ads page design, photo art, festival 
  posters, promotional posters, and all with Indian languages such as create social media poster in Hindi, Marathi, Gujarati, English etc.">
    <meta name="author" content="Accucia Softwares Pvt. Ltd.">
    <meta data-id="image" property="og:image" content="/img/industryimages/about-us.jpg">
    <link rel="canonical" href="/img/industryimages/about-us.jpg">
    <meta data-id="site_name" property="og:site_name" content="">
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="poster maker, flyers,  flyer designer, flyer maker, template, page design, Ads page designer,
  Ads page design, ads page maker, graphic design, banners, banner maker, banner design, 
  poster maker 2021, video maker, poster maker for business, poster maker with name and image, video collage, poster maker, poster designer, poster maker, poster creator, art designer, high quality poster designs, custom poster maker, banner ads, Digital Marketing Poster maker, hindi poster maker, Design banner flyer in hindi, video story template, photo art, fancy text art, 
  Flyer & banner maker, creative flyer maker, create promotional posters, cover photos, 
  indian festival banners, festival banners, adbanao apk download 
  ,adbanao for pc 
  ,adbanao posters 
  ,adbanao app free download 
  ,adbanao premium for free 
  ,adbanao app mod apk 
  ,narendra  firodia linkedin 
  ,narendra firodia twitter 
  ,Narendra firodia contact details 
  ,Narendra firodia 
  ,Narndra firodia ahemdnagar 
  ,narendra firodia adbanao 
  ,narendra firodia adbanao app 
  ,adbanao app narendra firodia 
  ,sumeet katariya adbanao app 
  ,sumeet katariya adbanao 
  ,sumeet katariya ceo 
  ,adbanao ceo 
  ,sumeet katariya linkedin 
  ,accucia software pune 
  ,adbanao app 
  ,adbanao pune 
  ,adbanao nagar
 , adbanao india 
  ,adbanao poster maker 
  ,adbanao branding 
  ,add banao india app 
  ,contact us
  ,about us page
  ,contact us page
  ,about us for website
 , about us page content sample
  ,best about us lines
  ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="AdBanao is a mobile app specially made for Indian users and Indian businessmen. AdBanao is a multi-featured app that allows users to make social media posts, digital posters, digital greetings, festival greetings, business banners, promotional posters, logo, videos, background remover, business ecards etc. 
  It also provides readymade templates of Indian festivals and events creatives such as Diwali, Holi, Dasshera, Rakshabandhan, Ganesh Chaturthi, Independence Day, etc.
  AdBanao also provides readymade templates for Indian Businessmen where they can choose from 150+ different industries which include jewellery business, mobile shop, doctors, digital marketer, bakery shop, hotels, restaurants, agriculture, furniture showroom, and so on." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords" content="Post Maker, Post Designer, Post Editor, Poster maker, Poster Designer, branding videos maker, create promotional video, online advertisement designer, Readymade banner, shop banner designs, design shop posters,adbanao apk download 
        ,adbanao for pc 
        ,adbanao posters 
        ,adbanao app free download 
        ,adbanao premium for free 
        ,adbanao app mod apk 
        ,narendra  firodia linkedin 
        ,narendra firodia twitter 
       , Narendra firodia contact details 
        ,Narendra firodia 
        ,Narndra firodia ahemdnagar 
        ,narendra firodia adbanao 
        ,narendra firodia adbanao app 
        ,adbanao app narendra firodia 
        ,sumeet katariya adbanao app 
        ,sumeet katariya adbanao 
        ,sumeet katariya ceo 
        ,adbanao ceo 
        ,sumeet katariya linkedin 
        ,accucia software pune 
        ,adbanao app 
       , adbanao pune 
       , adbanao nagar
       , adbanao india 
       , adbanao poster maker 
       , adbanao branding 
       , add banao india app 
       , contact us
        ,about us page
        ,contact us page
       , about us for website
        ,about us page content sample
        best about us lines" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Overpass:ital,wght@0,100;0,300;1,100&family=Poppins:ital,wght@0,100;0,400;1,100&display=swap"
        rel="stylesheet">

    <%- include ./layouts/partials/meta.ejs %>

        <!--title-->
        <title>AdBanao App India's #1 ultimate branding solution for you.</title>

        <!--favicon icon-->
        <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href=" https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.2/lottie.min.js">

        <!--custom css-->
        <%- include ./layouts/partials/styles.ejs %>
            <!-- <link rel="stylesheet" href="/css/aboutus.css"> -->
            <link rel="stylesheet" href="/css/industry.css">

            <!-- <link rel="stylesheet" href="/css/industry.css"> -->
            <link rel="stylesheet" href="/js/lightbox/css/lightbox.css">


            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

            <!-- Normalize CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />
            <link rel="stylesheet" type="text/css"
                href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
            <link rel="stylesheet" type="text/css"
                href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">

            <!-- for google analytics -->
            <%- include ./layouts/partials/google-analytics.ejs %>
                <link rel="stylesheet" href="/css/about-us.css">
<style>
    .lb-dataContainer{
        width: 303px;
    position: absolute;
    top: -34px;
    right: 17%;
    }
    /* .lb-data .lb-close{
        background-color: #000;
        color: #fff;
        border-radius: 50%;
    } */
    .lb-container{
        position: relative;
    }
    .lb-details{
        display: none;
    }
    @media(max-width:480px){
        .lb-dataContainer{
            right: 3%;
        }
    }
</style>
</head>

<body>



    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->
        <section class="hero-section pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-6 d-flex mobile-div">
                        <div class=" my-auto">
                            <h2 class="text-center text-md-left mb-5 about-us-title">About AdBanao</h2>
                            <p class="text-justify para">AdBanao is a Social Media Branding
                                Solution that enables you to generate and share the best social creatives with your
                                business branding.
                                Lacs of Customers are already using our ready-to-use Social Media Branding Templates for
                                their Business promotion.
                                AdBanao Brand Badhao!</p>
                        </div>
                    </div>
                    <div class="col-6 mobile-div">
                        <div class="w-100 h-100">
                            <div id="my-animation"></div>


                        </div>
                    </div>

                </div>
            </div>
            <div class="container  brochure-section">
                <div class="row">
                    <div class="col-6 mobile-div">
                        <h2>Download our </h2>
                        <h4>DIGITAL BROCHURE</h4>
                        <p>A look inside your company’s offering
                            Add a tagline that encapsulates your value proposition.</p>
                        <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                            <samp class="btn-design">
                                <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                <samp>Download Now</samp>
                            </samp>
                        </a>
                    </div>


                </div>

            </div>
        </section>
        <!--counting section start-->
        <section id="counting" class="feature-section  ">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center howitworkheading mb-4">
                            <h2 class="about-us-title">Because Number Speaks itself !</h2>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="container-sm" style="max-width: 100%;">
                <div class="row counter-div">
                    <div class="counter-main">
                        <div class="counter_title">
                            <h6><samp id="businessRegisteredNumber"></samp> Lac+</h6>
                        </div>
                        <div class="counter_decription">
                            <p>Business
                                Registered</p>
                        </div>
                    </div>
                    <div class=" counter-main">
                        <div class="counter_title">
                            <h6><samp id="SubIndustry"></samp>+</h6>
                        </div>
                        <div class="counter_decription">
                            <p>Sub
                                Industries</p>
                        </div>
                    </div>

                    <div class="counter-main">
                        <div class="counter_title">
                            <h6 id="language"></h6>
                        </div>
                        <div class="counter_decription">
                            <p>Regional Language
                            </p>
                        </div>
                    </div>
                    <div class=" counter-main">
                        <div class="counter_title">
                            <h6><samp id="templateNumber"></samp> Lac+</h6>
                        </div>
                        <div class="counter_decription">
                            <p>Creative
                                Template</p>
                        </div>
                    </div>
                    <div class="counter-main">
                        <div class="counter_title">
                            <h6><samp id="readyMedeNumber"></samp> Lac+</h6>
                        </div>
                        <div class="counter_decription">
                            <p>Readymade
                                Videos</p>
                        </div>
                    </div>
                    <div class="counter-main">
                        <div class="counter_title">
                            <h6 id="whatsappstickerNumber"></h6>
                        </div>
                        <div class="counter_decription">
                            <p>Whatsapp
                                Stickers</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about start -->
        <section class="feature-section pt-5 pb-5  mb-5 team-section">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center howitworkheading mb-4">
                            <h2 class="about-us-title">Meet Our Team</h2>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-5 pb-5">
                    <div class="col-md-5">
                        <div class="text-center">
                            <img src="img/aboutus_img/Narendra-Firodia.png" alt="Co-founder Narendra Firodia"
                                class="img-fluid founder-img">
                        </div>
                    </div>
                    <div class="col-md-7 d-flex">
                        <div class="mt-5">
                            <h2 class="text-center text-md-left mb-1 p-0">Narendra Firodia</h2>
                            <p class=" text-center text-md-left">Co-founder</p>
                            <div class=" gap-3 mb-4 text-center text-md-left">
                                <a href="https://x.com/narendrafirodia?s=20"><img src="img/aboutus_img/image1.png"
                                        alt="twitter" style="width:30px;"></a>
                                <a href="https://www.linkedin.com/in/narendrafirodia/"><img
                                        src="img/aboutus_img/image2.png" alt="linkedin"
                                        style="width:30px;margin-left: 14px;"></a>
                            </div>
                            <p class=" text-justify p-tag" style="word-spacing: 2px;">
                                Narendra Firodia is an Angel
                                Investor from Ahmednagar. Prominent investment areas are Health-Tech, AI and ML and
                                has
                                invested in startups like Healthledger, & Reset Tech.</p>
                        </div>


                    </div>

                </div>
                <div class="row mobile-flex-reverse">
                    <div class="col-md-7 my-5">
                        <div class="">
                            <h2 class=" text-center text-md-left mb-1 p-0">Sumeet Katariya</h2>
                            <p class="text-center text-md-left">Co-founder</p>
                            <div class=" gap-3 mb-4 text-center text-md-left">
                                <a href="https://x.com/SumeetKatariya_?s=20"><img src="img/aboutus_img/image1.png"
                                        alt="twitter" style="width:30px;"></a>
                                <a href="https://www.linkedin.com/in/sumeetkatariya/"> <img
                                        src="img/aboutus_img/image2.png" alt="linkedin"
                                        style="width:30px; margin-left: 14px;"></a>
                            </div>
                            <p class="text-justify p-tag" style="word-spacing: 2px;">
                                Sumeet Katariya, Cofounder
                                AdBanao, says, “AdBanao platform is designed to offer ready-to-use social media
                                branding
                                posts, videos, WhatsApp stickers, images, GIFs, audio jingle, etc for small and
                                medium
                                businesses for their business promotion.</p>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <div class="text-center">
                            <img src="img/aboutus_img/Sumeet-Katariya.png" alt="Co-founder Sumeet Katariya"
                                class="img-fluid founder-img">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- about end -->
        <!-- mission and vission start-->
        <section class="feature-section  mb-5" style="background-image: url('img/aboutus_img/mission_vision_bg.png');">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 d-flex justify-content-center">
                        <img src="img/aboutus_img/mission.png" alt="mission" class="img-fluid">
                    </div>
                    <div class="col-md-1 my-auto d-none d-md-block">
                        <img src="img/aboutus_img/line.png" alt="line">
                    </div>
                    <div class="col-md-5 col-sm-12   d-flex align-items-center mt-3 mt-md-0">
                        <div class="text-center text-md-left">
                            <h2 class="mb-0">MISSION</h2>
                            <div class="mb-4 text-center text-md-left mx-md-0 mx-auto"
                                style="background-color: #FDAF06;width: 15%;height: 3px;"></div>
                            <P class="fs-6 text-justify para" style="">With a vision to
                                make advertising simple, and be the de-facto platform for advertisement
                                generation. With a vision to make advertising simple, and be the de-facto platform
                                for
                                advertisement generation</P>
                        </div>

                    </div>
                </div>
                <div class="row mobile-flex-reverse">
                    <div class="col-md-5 col-sm-12   d-flex align-items-center mt-3 mt-md-0">
                        <div class="text-center text-md-left">
                            <h2 class="mb-0">Vision</h2>
                            <div class="mb-4 text-center text-md-left mx-md-0 mx-auto"
                                style="background-color: #FDAF06;width: 15%;height: 3px;"></div>
                            <P class=" fs-6 text-justify para" style="">With a vision to
                                make advertising simple, and be the de-facto platform for advertisement
                                generation. With a vision to make advertising simple, and be the de-facto platform
                                for
                                advertisement generation</P>
                        </div>

                    </div>
                    <div class="col-md-1 my-auto ml-auto d-none d-md-block">
                        <img src="img/aboutus_img/line.png" alt="line">
                    </div>
                    <div class="col-md-5 d-flex justify-content-center align-content-center">
                        <img src="img/aboutus_img/vision1.png" alt="vision" class="img-fluid">
                    </div>

                </div>
            </div>
        </section>
        <!-- mission and vission end -->
        <!--media and award section start-->
        <section id="media" class="feature-section ">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center howitworkheading mb-4">
                            <h2 class="allTitle_font_size">As Featured In Media & Awards</h2>
                            <br>
                            <p class="feature_text">Breaking barriers and making headlines: Our award-winning work
                                is capturing the attention of media outlets worldwide. Join us on our journey to
                                success.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container ">
               
                    <div class="row align-items-center">
                        <div class="col-md-12 trusted_companies_div">
                            <!-- Swiper -->
                            <div class="swiper trusted_companies_swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="media-award">
                                            <img src="/img/mediaandaward/msme.png" alt="msme">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="https://www.hindustantimes.com/cities/pune-news/startup-mantra-economical-branding-solutions-gaining-traction-101671878019705.html"target="_blank">
                                        <div class="media-award">
                                            <img src="/img/mediaandaward/hindustantime.png" alt="hindustantime">
                                        </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="https://indianexpress.com/article/cities/pune/an-app-for-small-businesses-to-create-ads-pune-entrepreneurs-brainchild-8524499/"
                                    target="_blank">
                                        <div class="media-award">
                                            <img src="/img/mediaandaward/indianexress.png" alt="the india express">
                                        </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="https://epaper.enavabharat.com/article-20-january-2023-pune-edition-navabharat-pun/2-10/"
                                    target="_blank" >
                                        <div class="media-award">
                                            <img src="/img/mediaandaward/navbhart.png" alt="navbhart">
                                        </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="https://www.esakal.com/pune/adbanao-startup-to-boost-business-growth-pjp78" target="_blank"
                                   >
                                        <div class="media-award">
                                            <img src="/img/mediaandaward/sakal.png" alt="sakal">
                                        </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="http://epunyanagari.com/editionpage.php?edn=Smart%20Pune&date=2023-01-26&edid=PNAGARI_PUS&pid=PNAGARI_PU&issueid=PNAGARI_PUS_20230203&pn=1#Page/7"
                                    target="_blank">
                                        <div class="media-award">
                                            <img src="/img/mediaandaward/punenagri.png" alt="punenagri">
                                        </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="https://epaper.navarashtra.com/article-21-february-2023-pune-edition-pune-plus/4-3/"
                                    target="_blank">
                                        <div class="media-award">
                                            <img src="/img/mediaandaward/navrashtra.png" alt="navrashtra">
                                        </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="http://www.dailykesari.com/epaper/PaperPdf/Pune/21022023Pune.pdf"
                                        target="_blank">
                                        <div class="media-award">
                                            <img src="/img/mediaandaward/kesari.png" alt="kesari">
                                        </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="https://www.punekarnews.in/adbanao-rolls-out-attractive-plans-for-small-businesses-make-creatives-for-less-than-rs-one/"
                                        target="_blank">
                                        <div class="media-award">
                                            <img src="/img/mediaandaward/punekar.png" alt="punekar">
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="pb-4 d-flex justify-content-center media_explore">
                            <button type="button" class="btn btn-warning pl-3 font-weight-bold ">Explore
                                More</button>

                        </div>
               
            </div>
</div>
        </section>
        <!--media and award section end-->
        <!-- startup india award section start -->
        <section id="startup-award" class="mt-5">
            <div class="container-fluid startup-award">
                <div class="row">
                    <div class="col-4 certificat-1 mobile-div ">
                        <h3 class="pb-5">Recognized as Start up of the year 2023 by
                            Startup India.</h3>
                        <img src="/img/aboutus_img/startupindia.png" alt="startupindia">
                    </div>
                    <div class="col-8 text-end bg-certificate mobile-div">
                        <div class="certificate-main">
                            <a href="/img/aboutus_img/certificate.png" class="certificate-img"
                                data-lightbox="certificate" data-title="Startup India AdBanao Award">
                                <img src="/img/aboutus_img/certificate.png" alt="Image 1">
                                <button class="certificate-btn"> <i class="fa fa-eye fa-1x" aria-hidden="true"></i>
                                    View</button>
                            </a>

                        </div>
                    </div>
                </div>


            </div>

        </section>
        <!-- startup india section start -->
        <!-- media award section start -->
        <section class="pt-5 mt-5">
            <div class="container">
                <div class="row mb-2 pb-5">
                    <h2 class="d-flex justify-content-center text-center text-md-left">Hello! Welcome To AdBanao
                        Gallery</h2>
                </div>
                <div class="gallery-single-img">
                    <div class="gallery-image-container">
                        <a href="/img/aboutus_img/view-gallery.png" data-lightbox="gallery">
                            <img src="/img/aboutus_img/gallery-image.png" class="img-fluid" alt="Gallery photo">
                        </a>

                    </div>

                </div>

                <!-- first gallery start -->
                <div class="new-gallery-container" style="display: none;">
                    <div class="new-gallery">
                        <div class="item big-img">
                            <a href="/img/aboutus_img/photo1.png" data-lightbox="gallery">
                                <img src="/img/aboutus_img/photo1.png" class="img-fluid" alt="Gallery photo">
                            </a>

                        </div>
                        <div class="item">
                            <div>
                                <a href="/img/aboutus_img/photo2.png" data-lightbox="gallery">
                                    <img src="/img/aboutus_img/photo2.png" style="height: 96%;" class="img-fluid "
                                        alt="Gallery photo">
                                </a>
                                <a href="/img/aboutus_img/photo3.png" data-lightbox="gallery">
                                    <img src="/img/aboutus_img/photo3.png" class="img-fluid" alt="Gallery photo">
                                </a>
                            </div>
                            <div>
                                <a href="/img/aboutus_img/photo4.png" data-lightbox="gallery">
                                    <img src="/img/aboutus_img/photo4.png" class="img-fluid g-height"
                                        alt="Gallery photo">
                                </a>

                                <a href="/img/aboutus_img/photo5.png" data-lightbox="gallery">
                                    <img src="/img/aboutus_img/photo5.png" class="img-fluid g-height"
                                        alt="Gallery photo">
                                </a>
                            </div>


                        </div>
                    </div>
                    <div class="new-gallery">

                        <div class="item">
                            <div>
                                <a href="/img/aboutus_img/photo6.png" data-lightbox="gallery">
                                    <img src="/img/aboutus_img/photo6.png" class="img-fluid" alt="Gallery photo">
                                </a>
                                <a href="/img/aboutus_img/photo7.png" data-lightbox="gallery">
                                    <img src="/img/aboutus_img/photo7.png" style="height: 97%;" class="img-fluid"
                                        alt="Gallery photo">
                                </a>
                            </div>
                            <div>
                                <a href="/img/aboutus_img/photo8.png" data-lightbox="gallery">
                                    <img src="/img/aboutus_img/photo8.png" class="img-fluid g-height"
                                        alt="Gallery photo">
                                </a>

                                <a href="/img/aboutus_img/photo9.png" data-lightbox="gallery">
                                    <img src="/img/aboutus_img/photo9.png" class="img-fluid g-height"
                                        alt="Gallery photo">
                                </a>
                            </div>


                        </div>
                        <div class="item big-img">
                            <a href="/img/aboutus_img/photo10.png" data-lightbox="gallery">
                                <img src="/img/aboutus_img/photo10.png" class="img-fluid" alt="Gallery photo">
                            </a>

                        </div>
                    </div>
                </div>




            </div>
        </section>
        <!-- media award section end -->
        <!-- join us section start -->
        <br>
        <section id="join-us" class="mt-5">
            <div class="container-fluid join-us">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>JOIN THE ADBANAO TEAM!</h3>
                        <br>
                        <p>Get the job you want by researching employers, using the right keywords to filter job search
                            results and improving
                            your networking skills,</p>
                        <a href="/career" class="join-btn">
                            <button>
                                Join Our Team
                            </button>
                        </a>
                    </div>
                </div>


            </div>

        </section>
        <!-- join us section end -->

        <!-- testmonials section start -->
        <section class="newTestimonials pt-5 pb-5 mt-5" id="newTestimonials">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center mx-auto">Don’t just take our word
                        </h2>
                        <p class="text-black text-center mx-auto mb-5" style="font-size: 22px;">
                            Hear what our customers are saying
                        </p>

                        <div class="newTestimonialsContain mt-3" style="width: 90%;margin: 0 auto;">
                            <div class="owl-carousel testimonials-carousel-new owl-theme">

                                <!-- slide-1 -->
                                <div class="card mx-auto ">
                                    <div class="card-head ml-3 mt-3">
                                        <img src="/img/republic/quotes.png" alt="quotes"
                                            style="width: 30px;height: 25px;">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text text-justify m-0" style="color: #808080;">
                                            AdBanao has a good variety of categories which offers from
                                            events, to birthdays, day
                                            special, festivals and with brand advertising. Each and
                                            every category has its own style, which means full of
                                            customization. The best app so far
                                        </p>
                                    </div>
                                    <div class="card-footer" style="background-color: #FFFFFA;">
                                        <div class="media">
                                            <!-- <img class="mr-3" src="/img/republic/testmonial-1.png"
                                            alt="Generic placeholder image" style="width: 50px;"> -->
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-0" style="color: #4d4d4d;">Puja Raj</h5>
                                                <p class="mb-0" style="color: #FDAF06;">Event Management</p>
                                                <small style="color: #B3B3B3;">Kochi</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- slide-2 -->
                                <div class="card mx-auto ">
                                    <div class="card-head ml-3 mt-3">
                                        <img src="/img/republic/quotes.png" alt="quotes"
                                            style="width: 30px;height: 25px;">
                                    </div>
                                    <div class="card-body ">
                                        <p class="card-text text-justify m-0" style="color: #808080;">
                                            User Friendly app Easy to use Anyone can operate easily All of
                                            them are very updated I have
                                            just one suggestion Increase Your no of templates
                                            and it should be look like very rich. Thank u All 😇♥️ Now 5
                                        </p>
                                    </div>
                                    <div class="card-footer" style="background-color: #FFFFFA;">
                                        <div class="media">
                                            <!-- <img class="mr-3" src="/img/republic/testmonial-1.png"
                                            alt="Generic placeholder image" style="width: 50px;"> -->
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-0" style="color: #4d4d4d;">Rbbhosale
                                                    Jewellers</h5>
                                                <p class="mb-0" style="color: #FDAF06;">Jewellery Business
                                                </p>
                                                <small style="color: #B3B3B3;">Solapur</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- slide-3 -->
                                <div class="card mx-auto ">
                                    <div class="card-head ml-3 mt-3">
                                        <img src="/img/republic/quotes.png" alt="quotes"
                                            style="width: 30px;height: 25px;">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text text-justify" style="color: #808080;">
                                            I have been using this app recently. It has helped me alot in
                                            very few days... Wonderful
                                            app. I suggest everyone to download it if they want to save
                                            money nad advertise more.
                                        </p>
                                    </div>
                                    <div class="card-footer" style="background-color: #FFFFFA;">
                                        <div class="media">
                                            <!-- <img class="mr-3" src="/img/republic/testmonial-1.png"
                                            alt="Generic placeholder image" style="width: 50px;"> -->
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-0" style="color: #4d4d4d;">Garvit Ahuja
                                                </h5>
                                                <p class="mb-0" style="color: #FDAF06;">Distribution &
                                                    trading</p>
                                                <small style="color: #B3B3B3;">Ratnagiri</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- slide-4 -->
                                <div class="card mx-auto ">
                                    <div class="card-head ml-3 mt-3">
                                        <img src="/img/republic/quotes.png" alt="quotes"
                                            style="width: 30px;height: 25px;">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text text-justify" style="color: #808080;">
                                            User Friendly app Easy to use Anyone can operate easily All of
                                            them are very updated I have just one suggestion Increase Your
                                            no of templates
                                            and it should be look like very rich. Thank u All 😇♥️ Now 5
                                        </p>
                                    </div>
                                    <div class="card-footer" style="background-color: #FFFFFA;">
                                        <div class="media">
                                            <!-- <img class="mr-3" src="/img/republic/testmonial-1.png"
                                            alt="Generic placeholder image" style="width: 50px;"> -->
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-0" style="color: #4d4d4d;">RBBHOSALE
                                                    JEWELLERS</h5>
                                                <p class="mb-0" style="color: #FDAF06;">Jewellery business
                                                </p>
                                                <small style="color: #B3B3B3;">Solapur</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>




                        </div>

                    </div>

                </div>
            </div>

        </section>
        <!-- testmonials section end  -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"
            type="text/javascript"></script>






        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->


                <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"
                    type="text/javascript"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <script src="/js/aboutus.js" type="text/javascript"></script>
                <script src="/js/lightbox/js/lightbox.js"></script>

                <script>
                    var animation = bodymovin.loadAnimation({
                        container: document.getElementById('my-animation'),
                        renderer: 'svg',
                        loop: true,
                        autoplay: true,
                        path: 'js/Check.json'
                    });
                </script>
                <script>

                    lightbox.option({
                        'resizeDuration': 200,
                        'wrapAround': true
                    })
                    var swiper = new Swiper(".trusted_companies_swiper", {
                        slidesPerView: 7,
                        spaceBetween: 20,
                        autoplay: true,
                        breakpoints: {
                            320: { slidesPerView: 2, spaceBetween: 40 },
                            360: { slidesPerView: 3, spaceBetween: 10 },
                            480: { slidesPerView: 3, spaceBetween: 10 },
                            768: { slidesPerView: 7, spaceBetween: 10 }
                        }
                    });
                </script>
                <script>
                    document.documentElement.style.setProperty("--animate-duration", "5s");
                    // Search box function
                    // ---- ---- Search Const ---- ---- //
                    // Target the HTML element you want to animate
                    // Function to check if an element is in the viewport

                    function isInViewport(element) {
                        var $element = $(element);
                        var elementTop = $element.offset().top;
                        var elementHeight = $element.outerHeight();
                        var viewportTop = $(window).scrollTop();
                        var viewportHeight = $(window).height();

                        var elementBottom = elementTop + elementHeight;
                        var viewportBottom = viewportTop + viewportHeight;

                        return elementBottom > viewportTop && elementTop < viewportBottom;
                    }

                    // Target the HTML element you want to animate
                    var element = document.getElementById("counting");

                    // Function to start the animation when element is in the viewport
                    // Because Number Speaks itself! section animation
                    function animateIfVisible() {
                        if (isInViewport(element)) {
                            // Number counter animation
                            function counterAnimation(elementId, targetValue) {
                                $(elementId).text(targetValue);
                                $(elementId).each(function () {
                                    $(this).prop("Counter", 0).animate(
                                        {
                                            Counter: $(this).text()
                                        },
                                        {
                                            duration: 2000,
                                            easing: "swing",
                                            step: function (now) {
                                                $(this).text(Math.ceil(now));
                                            }
                                        }
                                    );
                                });
                            }
                            counterAnimation("#businessRegisteredNumber", 20);
                            counterAnimation("#SubIndustry", 1400);
                            counterAnimation("#language", 11);
                            counterAnimation("#templateNumber", 50);
                            counterAnimation("#readyMedeNumber", 10);
                            counterAnimation("#whatsappstickerNumber", 2000);
                            window.removeEventListener("scroll", animateIfVisible);
                        }
                    }

                    // Add event listener to trigger animation on scroll
                    window.addEventListener("scroll", animateIfVisible);

                    // Check if element is already in the viewport when the page loads
                    animateIfVisible();
                </script>




</body>

</html>