<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Social media marketing made easy and affordable
        Adbanao app is specially made for Indian people which making posters, advertise, banner ads,
  videos, creating social media posts, and graphic designs, Ads page design, photo art, festival 
  posters, promotional posters, and all with Indian languages such as create social media poster in Hindi, Marathi, Gujarati, English etc.">
    <meta name="author" content="Accucia Softwares Pvt. Ltd.">
    <meta data-id="image" property="og:image" content="./img/industryimages/media.jpg">
    <link rel="canonical" href="https://www.adbanao.com/img/industryimages/media.jpg">
    <meta data-id="site_name" property="og:site_name" content="">
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="poster maker, flyers,  flyer designer, flyer maker, template, page design, Ads page designer,
  Ads page design, ads page maker, graphic design, banners, banner maker, banner design, 
  poster maker 2021, video maker, poster maker for business, poster maker with name and image, video collage, poster maker, poster designer, poster maker, poster creator, art designer, high quality poster designs, custom poster maker, banner ads, Digital Marketing Poster maker, hindi poster maker, Design banner flyer in hindi, video story template, photo art, fancy text art, 
  Flyer & banner maker, creative flyer maker, create promotional posters, cover photos, 
  indian festival banners, festival banners
  ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="AdBanao is a mobile app specially made for Indian users and Indian businessmen. AdBanao is a multi-featured app that allows users to make social media posts, digital posters, digital greetings, festival greetings, business banners, promotional posters, logo, videos, background remover, business ecards etc. 
  It also provides readymade templates of Indian festivals and events creatives such as Diwali, Holi, Dasshera, Rakshabandhan, Ganesh Chaturthi, Independence Day, etc.
  AdBanao also provides readymade templates for Indian Businessmen where they can choose from 150+ different industries which include jewellery business, mobile shop, doctors, digital marketer, bakery shop, hotels, restaurants, agriculture, furniture showroom, and so on." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="Post Maker, Post Designer, Post Editor, Poster maker, Poster Designer, branding videos maker, create promotional video, online advertisement designer, Readymade banner, shop banner designs, design shop posters" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <%- include ./layouts/partials/meta.ejs %>

    <!--title-->
    <title>AdBanao App India's #1 ultimate branding solution for you.</title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
        <link rel="stylesheet" href="/css/media_awards.css">
        <link rel="stylesheet" href="/css/style.css">
     <!-- for google analytics -->
     <%- include ./layouts/partials/google-analytics.ejs %>
<style>
    .frame{  
        width: 250px;
        height: 200px;
        margin: 20px;
        border: 1px solid black;
        position: relative;
    }    
    .fream img{  
        max-height: 100%;  
        max-width: 100%; 
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }
</style>
    
</head>

<body class="gray-light-bg">
    <h1 style="position: absolute;left:-10000px">Adbanao in media</h1>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->



        <!-- navbar -->
        <nav class="mt-5 py-5">
            <div class="container mt-5 d-flex justify-content-center gap-2">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-center p-0">
                        <div class="nav-item">
                            <div class="btn border-0 nav-link active text-black fs-4 fw-bold" href="#media" onclick="media()">Media</div>
                            <div class="underline"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center p-0">
                        <div class="nav-item">
                            <div class=" btn border-0 nav-link fs-4 fw-bold text-black" href="#awards" onclick="awards()">Awards</div>
                            <div class="underline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
        <!-- navbar end -->


        <!-- media -->
        <section id="media">
        <div class="container" >
            <div class="row">

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="ui-card mt-3">
                        <img class="card-img" src="./img/media_awards/indian_exp.png" alt="Indian Express">
                        <div class="card-img-overlay justify-content-center d-flex align-content-center text-center">
                            <div class="mx-auto my-auto h5 description gap-2"><button
                                    class="btn btn-warning h6 mb-4 font-weight-bold mr-2" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                                    onclick="photomodel('./img/media_awards/indian_exp.png')">
                                    <i class="bi bi-eye me-2" style="font-size: 22px;"></i><b
                                        class="h5 font-weight-bold mr-2">View</b></button><br>
                                <a href="https://indianexpress.com/article/cities/pune/an-app-for-small-businesses-to-create-ads-pune-entrepreneurs-brainchild-8524499/"
                                    target="_blank" class="h5 text-light px-2 text-center"><img
                                        src="./img/media_awards/readmore_icon.png" alt="readmore icon" width="23"
                                        height="23" class=" me-3 " />Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui-card mt-3">
                        <img class="card-img" src="./img/media_awards/sakal_news.JPG" alt="Sakal News">
                        <div class="card-img-overlay justify-content-center d-flex align-content-center text-center">
                            <div class="mx-auto my-auto h5 description"><button class="btn btn-warning  h6 mb-4"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    onclick="photomodel('./img/media_awards/sakal_news.JPG')"><i class="bi bi-eye me-2"
                                        style="font-size: 22px;"></i><b
                                        class="h5 font-weight-bold mr-2">View</b></button><br>
                                <a href="https://www.esakal.com/pune/adbanao-startup-to-boost-business-growth-pjp78" target="_blank"
                                    class="h5 text-light px-3 "><img src="./img/media_awards/readmore_icon.png"
                                        width="23" height="23" class=" me-3" alt="readmore icon" />Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui-card mt-3">
                        <img class="card-img" src="./img/media_awards/kesari.png" alt="Kesari">
                        <div class="card-img-overlay justify-content-center d-flex align-content-center text-center">
                            <div class="mx-auto my-auto h5 description"><button class="btn btn-warning  h6 mb-4"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    onclick="photomodel('./img/media_awards/kesari.png')"><i class="bi bi-eye me-2"
                                        style="font-size: 22px;"></i><b
                                        class="h5 font-weight-bold mr-2">View</b></button><br>
                                <a href="http://www.dailykesari.com/epaper/PaperPdf/Pune/21022023Pune.pdf"
                                    target="_blank" class="h5 text-light"><img
                                        src="./img/media_awards/readmore_icon.png"  alt="readmore icon" width="23" height="23"
                                        class=" me-3" />Read More</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 mb-lg-0 mb-4">

                    <div class="ui-card mt-3">
                        <img class="card-img " src="./img/media_awards/navbharat.png" alt="Navbharat">
                        <div class="card-img-overlay justify-content-center d-flex align-content-center text-center">
                            <div class="mx-auto my-auto h5 description"><button class="btn btn-warning  h6 mb-4"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    onclick="photomodel('./img/media_awards/navbharat.png')"><i class="bi bi-eye me-2"
                                        style="font-size: 22px;"></i><b
                                        class="h5 font-weight-bold mr-2">View</b></button><br>
                                <a href="https://epaper.enavabharat.com/article-20-january-2023-pune-edition-navabharat-pun/2-10/"
                                    target="_blank" class="h5 text-light"><img
                                        src="./img/media_awards/readmore_icon.png" alt="readmore icon" width="23" height="23"
                                        class="me-3" />Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui-card mt-3">
                        <img class="card-img " src="./img/media_awards/et_pune.jpeg" alt="Et pune">
                        <div class="card-img-overlay justify-content-center d-flex align-content-center text-center">
                            <div class="mx-auto my-auto h5 description"><button class="btn btn-warning  h6 mb-4"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    onclick="photomodel('./img/media_awards/et_pune.jpeg')"><i class="bi bi-eye me-2"
                                        style="font-size: 22px;"></i><b
                                        class="h5 font-weight-bold mr-2">View</b></button><br>
                                <a href="https://epaper.hindustantimes.com/Home/ShareArticle?OrgId=24123d70c4ad"
                                    target="_blank" class="h5 text-light"><img
                                        src="./img/media_awards/readmore_icon.png"  alt="readmore icon" width="23" height="23"
                                        class="me-3" />Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui-card mt-3">
                        <img class="card-img" src="./img/media_awards/punya_nagri.jpg" alt="Punya Nagari">
                        <div class="card-img-overlay justify-content-center d-flex align-content-center text-center">
                            <div class="mx-auto my-auto h5 description"><button class="btn btn-warning  h6 mb-4"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    onclick="photomodel('./img/media_awards/punya_nagri.jpg')"><i class="bi bi-eye me-2"
                                        style="font-size: 22px;"></i><b
                                        class="h5 font-weight-bold mr-2">View</b></button><br>
                                <a href="http://epunyanagari.com/editionpage.php?edn=Smart%20Pune&date=2023-01-26&edid=PNAGARI_PUS&pid=PNAGARI_PU&issueid=PNAGARI_PUS_20230203&pn=1#Page/7"
                                    target="_blank" class="h6 text-light"><img
                                        src="./img/media_awards/readmore_icon.png" alt="readmore icon" width="23" height="23"
                                        class=" me-3" />Read More</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 mb-lg-0 mb-5">
                    <div class="ui-card mt-3">
                        <img class="card-img" src="./img/media_awards/navarashtra.JPG" alt="Navarashtra">
                        <div class="card-img-overlay justify-content-center d-flex align-content-center text-center">
                            <div class="mx-auto my-auto h5 description"><button class="btn btn-warning  h6 mb-4"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    onclick="photomodel('./img/media_awards/navarashtra.JPG')"><i class="bi bi-eye me-2"
                                        style="font-size: 22px;"></i><b
                                        class="h5 font-weight-bold mr-2">View</b></button><br>
                                <a href="https://epaper.navarashtra.com/article-21-february-2023-pune-edition-pune-plus/4-3/"
                                    target="_blank" class="h5 text-light"><img
                                        src="./img/media_awards/readmore_icon.png" alt="readmore icon" width="23" height="23"
                                        class=" me-3" />Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui-card mt-3">
                        <img class="card-img" src="./img/media_awards/punkar_news.JPG" alt="Punekar news">
                        <div class="card-img-overlay justify-content-center d-flex align-content-center text-center">
                            <div class="mx-auto my-auto h5 description"><button class="btn btn-warning  h6 mb-4"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    onclick="photomodel('./img/media_awards/punkar_news.JPG')"><i class="bi bi-eye me-2"
                                        style="font-size: 22px;"></i><b
                                        class="h5 font-weight-bold mr-2">View</b></button><br>
                                <a href="https://www.punekarnews.in/adbanao-rolls-out-attractive-plans-for-small-businesses-make-creatives-for-less-than-rs-one/"
                                    target="_blank" class="h5 text-light"><img
                                        src="./img/media_awards/readmore_icon.png" alt="readmore icon" width="23" height="23"
                                        class=" me-3" />Read More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
            <!-- new popup-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg shadow-lg">
                    <div class="modal-content">
                        <div class="modal-header text-end">
                            <!-- <img src="./img/media_awards/logo-black.svg" width="120" alt="logo" class="img-fluid"> -->
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="photo"></div>
                    </div>
                </div>
            </div>
            <!-- end -->
        </div>
        <!-- media end -->


        <!-- awards -->
        <section id="awards">
        <div class="container-fluid mt-3" >
            <div class="container mx-auto">

                <div class="card  mx-auto mb-5 awards_card" style="border-radius:10px; height: auto;max-width: 320px;">
                    <a href="https://www.youtube.com/embed/OOIASr6wCgU" target="videomodel" class="testimonial-card">
                        <div class="" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            <div style="width: 100%;">
                                <img class="" src="/img/media_awards/awards_thumb.png"
                                alt="Card image" style="height:430px;width: 100%;">

                            </div>
                            <div class="card-img-overlay d-flex align-content-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/800px-YouTube_full-color_icon_%282017%29.svg.png"
                                    alt="youtube icon" class="mx-auto my-auto" style="width: 100px;">
                            </div>
                        </div>
                        
                    </a>
                    <!-- <div
                                    class="card-body d-flex justify-content-center flex-column align-items-center text-center py-2 fs-6 m-0">
                                    <p class="test-title fs-6">Avadhut Lohokare</p>
                                    <p class="test-plan fs-6">Jewellery</p>
                                    <p class="test-location fs-6">Ahmednagar</p>
                                </div> -->
                </div>

            </div>
        </div>
        </section>
        <!-- new popup-->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg shadow-lg">
                <div class="modal-content">
                    <div class="modal-header text-end">
                        <img src="./assets/images/logo/logo-black.svg" width="120" alt="logo" class="img-fluid">
                        <a href="https://www.nicepng.com/png/full/77-772716_small-white-colour-dp-for-whatsapp.png"
                            target="videomodel" class="mx-auto my-auto w-100">
                            <button type="button" class="btn-close btn-warning" data-bs-dismiss="modal"
                                aria-label="Close" ></button></a>
                    </div>
                    <div class="modal-body" style="height: 500px;">
                        <iframe name="videomodel" frameborder="0" width="100%" height="100%" allow="autoplay"
                            autoplay></iframe>

                        <!-- <iframe  src="https://www.youtube.com/embed/OOIASr6wCgU" ></iframe> -->

                    </div>
                </div>
            </div>
        </div>
        <!-- end -->
        <!--testimonial section end-->
        </div>
        <!-- award end -->


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="/js/media_awards.js" type="text/javascript"></script>

        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->
                
</body>

</html>