<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description" content="Joy & Celebration on this Kargil Vijay Diwas  
        Create customize posters and videos with our creatives and 
        share your design with your loved ones.try now">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/all_events`>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords"
        content="kargil vijay diwas, kargil vijay diwas posters, kargil vjiay diwas videos , kargil vijay diwas , vikram batra , kargil vijay diwas short video, kargil vijay diwas video download, kargil vijay diwas wishes, kargil vijay diwas images free download, 
    kargil viijay diwas videos free , free videos download,kargil vijay diwas poster , kargil vijay diwas hindi status,kargil vijay diwas hd images, kargil vijay diwas marathi, ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description" content="Joy & Celebration on this Kargil Vijay Diwas  
        Create customize posters and videos with our creatives and 
        share your design with your loved ones.try now" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords"
        name="kargil vijay diwas, kargil vijay diwas posters, kargil vjiay diwas videos , kargil vijay diwas , vikram batra , kargil vijay diwas short video, kargil vijay diwas video download, kargil vijay diwas wishes, kargil vijay diwas images free download, 
    kargil viijay diwas videos free , free videos download,kargil vijay diwas poster , kargil vijay diwas hindi status,kargil vijay diwas hd images, kargil vijay diwas marathi, " />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

        <!--title-->
        <title>Events</title>

        <!--favicon icon-->
        <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

        <!--custom css-->
        <%- include ./layouts/partials/styles.ejs %>
            <link rel="stylesheet" href="/css/allevents.css">

            <!-- for google analytics -->
            <%- include ./layouts/partials/google-analytics.ejs %>

</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height pt-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6 hero_content">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h1 class="text-center text-md-left republicDayHead">
                                    Every festival or event
                                    AdBanao App<br> For You Always....
                                </h1>
                                <p class="youWillGetPara">
                                    365 Days Unlimited Branding Opportunities To Celebrate Everything.
                                </p>

                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">
                                        <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                            <samp class="btn-design">
                                               <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                      <samp>Explore
                                                        Now</samp>
                                            </samp>
                                     </a>
                                        
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/all_event_images/hero_Section.png" alt="Kargil Vijay Divas posters"
                                class="img-fluid   img_header herosectionimage" style="scale:1.2">

                        </div>

                    </div>
                </div>

            </section>
            <!--hero section end-->
            <section>

            </section>
            <section>
                <div>
                    <img src="/img/all_event_images/hero_section.png" class="img-fluid   img_header herosectionimg">
                </div>
            </section>

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium pb-5" id="ourBrandingMedium"
                style="background-image: url(/img/all_event_images/branding_medium_bg.png)">
                <div>
                    <img src="/img/all_event_images/designer_line.png" class="img-fluid   img_header">
                </div>
                <div class="container text-center ourBrandingPara py-4">
                    <h2 class="text-center">Branding Mediums available for All Festivals & Events </h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex ourBrandingcontent1 ">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#festivalPost" class="pl-3">Festivals & Events Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">Festivals & Events WhatsApp Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick " class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">Festivals & Events GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#animatedVideos" class="pl-3">Festivals & Events Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex ourBrandingcontent2">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">Festivals & Events Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">Festivals & Events Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#eventSpecific" class="pl-3">Event Special Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Business Branding Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </section>

            <!-- Branding Medium end -->
            <!-- All festival & Events List start -->

            <section id="testimonials" class="pb-5">
                <div class="container-fluid mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-8 ">
                            <div class="section-heading text-center">
                                <h2 class="text-black">All Festivals & Events List</h2>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row pb-5">
                            <div class="col-12 faqssection pt-2 " id="buttons" style="display: flex;gap:6px;">
                            </div>
                        </div>
                    </div>
                    <div class="container p-0">
                        <div class="row d-flex justify-content-center"id="events_data">

                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main  ">
                                <a href="/mahashivratri-posters">
                                    <div class="card card_style">
                                       
                                            <img src="/img/all_event_images/01.png" class="card-img-top "
                                                alt="img">
                                       
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Makar Sankranti</h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main ">
                                <a href="/republic-event">
                                    <div class="card card_style">
                                       
                                            <img src="/img/all_event_images/02.png" class="card-img-top "
                                                alt="img">
                                       
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Republic Day </h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main ">
                                <a href="/mahashivratri-posters">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/03.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Maha Shivratri </h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main ">
                                <a href="/shivjayanti-banners">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/04.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Shiv Jayanti </h5>
                                        </div>
                                    </div>
                                </a></div>
                        </div>
                        <div class="row d-felx justify-content-center" id="events_data">

                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main ">
                                <a href="/holiposters-greetings">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/05.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Holi </h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main ">
                                <a href="/gangaur-posters-videos">
                                    <div class="card card_style">
                                       
                                            <img src="/img/all_event_images/07.png" class="card-img-top "
                                                alt="img">
                                       
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Gangaur </h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main ">
                                <a href="/ramadan-posters">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/06.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Ramzan Eid </h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main ">
                                <a href="/mahavirjayanti-posters-banners">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/08.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Mahavir Kayanak </h5>
                                        </div>
                                    </div>
                                </a></div>
                        </div>
                        <div class="row d-felx justify-content-center" id="events_data">

                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main ">
                                <a href="/hanumanjayanti-banners">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/09.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Hanuman Janmotsav</h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main ">
                                <a href="/ramnavami-posters-banners">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/10.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Ramnavmi </h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main ">
                                <a href="/ambedkar-jayanti-posters">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/11.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Ambedkar Jayanti </h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main ">
                                <a href="/puthandu-banners-posters-videos">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/12.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Puthandu - Tamil New Year </h5>
                                        </div>
                                    </div>
                                </a></div>
                        </div>
                        <div class="row d-none justify-content-center event_hidden" id="events_data1">

                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/maharashtra-day-posters">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/13.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Maharastra Day </h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/gujarat-day-posters">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/14.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Gujarat Day </h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/maharana-pratap-jayanthi-posters">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/15.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Maharana Pratap Jayanti </h5>
                                        </div>
                                    </div>
                                </a></div>
                            <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event ">
                                <a href="/ahilya-devi-holkar-jayanti-posters">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/16.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Ahilyabai Holkar Jayanti </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/telangana-formation-day-posters">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/17.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Telangana Formation Day  </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/shivrajya-abhishek-sohala-images-banner">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/18.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Shivrajyabhishekh Sohala</h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/rath-yatra-banners">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/19.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Rath Yatra </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/Ashadi-ekadashi-posters-images-videos">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/20.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Ashadhi Ekadashi </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/independence-day-posters-images-wishes">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/21.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Independence Day </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/krishna-janmashtami-images-posters">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/22.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Krishna Janmasthami </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/onam-images-greetings-posters">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/23.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Onam </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/ganesh-chaturthi-posters-images-wishes">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/24.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Ganesh Chaturthi </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/ramdev-jayanti-posters-videos">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/25.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Ramdev Jayanti </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/gandhi-jayanti-posters-banners">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/26.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Gandhi Jayanti </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/navratri-greetings-images-poster">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/27.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Navratri </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/dusshera-greetings-images-poster">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/28.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Dusshera </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/diwali-posters-videos">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/29.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Diwali  </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/guru-nanak-jayanti-greetings-images">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/30.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Guru Nanak Jayanti  </h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/christmas-images-posters-banner">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/31.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Christmas Day</h5>
                                        </div>
                                    </div>
                                </a></div>
                                <div
                                class="col d-flex justify-content-center col-lg-3 col-md-5 col-sm-7 col-xs-6 card-main hidden-event">
                                <a href="/happy-new-year-posters-images">
                                    <div class="card card_style">
                                        
                                            <img src="/img/all_event_images/32.png" class="card-img-top "
                                                alt="img">
                                        
                                        <div class="card-body py-2">
                                            <h5 class="card-title text-center text-justify" style="font-size:16px;">
                                                Happy New Year </h5>
                                        </div>
                                    </div>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button  type="button" id="readMoreButton" class="btn downloadFreePost rounded-pill  download_button">Explore More
                      
                    </button>
                </div>

            </section>

            <!-- All festival & Events List end -->




            <!--testimonial section end-->
            <%- include ./layouts/partials/event-testimonials.ejs %>
                <!--testimonial section end-->





        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>
                <script src="/js/allevents.js"></script>

                <!-- script end -->
</body>

</html>