<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Get Events info here and download posters , videos , WhatsApp stickers and more only on AdBanao app.">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/Birsa-munda-punnyatithi-posters-banners`>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="friendship day 2023 images,friendship day video download ,friendship day status download, friendship day pics download , friendship day posters, friendship day reels download, 
    friendship day status video download
    friendship day hindi status, friendship day wishes in marathi, friendship day free images, friendship day free images download, ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="Get Events info here and download posters , videos , WhatsApp stickers and more only on AdBanao app."/>
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="birsa munda status, birsa munda images, bhagwan birsa munda, birsa munda banner, birsa munda punyatithi marathi,birsa munda photo video, birsa munda status video, birsa munda hindi video, 
        बिरसा मुंडा शहादत दिवस, बिरसा मुंडा इमेज, birsa munda photo, birsa munda banner photo,birsa munda wallpaper hd" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

    <!--title-->
    <title>Create Birsa Munda Punyatithi posters & videos now</title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
        <link rel="stylesheet" href="/css/events.css">

    <!-- for google analytics -->
    <%- include ./layouts/partials/google-analytics.ejs %>

</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height pt-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h1 class="text-center text-md-left republicDayHead">
                                    Create Birsa Munda Punyatithi Posters & Videos Now
                                </h1>
                                <p class="youWillGetPara text-justify">
                                    AdBanao app makes it easy to create posters and videos that honor Birsa Munda on his Punyatithi. 
                                    Share your tribute with loved ones today.
                                </p>
                                
                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                                    <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                        <samp class="btn-design">
                                           <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                  <samp>Download Free Posters Now</samp>
                                        </samp>
                                 </a>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/birsa_munda_punyatithi/Header Section birsa_munda_punyatithi.png" alt="Birsa Munda Punyatithi posters" class="img-fluid   img_header">

                        </div>
                    </div>
                </div>

            </section>
            <!--hero section end-->

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium ptb-50" id="ourBrandingMedium">
                <div class="container text-center">
                    <h2 class="text-center">Branding Mediums available for Birsa Munda Punyatithi</h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick"  class="event_tick_img" >
                                    <a href="#festivalPost" class="pl-3">Birsa Munda Punyatithi Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">Birsa Munda Punyatithi WhatsApp Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick "class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">Birsa Munda Punyatithi GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img" >
                                    <a href="#animatedVideos" class="pl-3">Birsa Munda Punyatithi Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">Birsa Munda Punyatithi Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">Birsa Munda Punyatithi Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img" >
                                    <a href="#eventSpecific" class="pl-3">Birsa Munda Punyatithi Special Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick"  class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Birsa Munda Punyatithi Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                        <samp class="btn-design-1">
                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                            <samp>Download Free
                                Posts Now</samp>
                        </samp>
                    </a>
                </div>
            </section>

            <!-- Branding Medium end -->

            <!-- Start Festival post -->
            <section class="FestivalPostSection" id="festivalPost">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/Karnatka Election Event Page/Festival Post.png" alt="Birsa Munda Punyatithi festival post" class="img-fluid" width="400px">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2  class="text-center text-md-left mx-auto">Festival Posts</h2>
                            <p  class="text-center text-md-left mx-auto">
                                Celebrate the life of Birsa Munda on his Punyatithi with AdBanao app's creative tools. 
                                Use them to design unique posters and videos for all festivals. try now.
                            </p>
                            <div  class="text-center text-md-left mx-auto festivalPostAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get Started for
                                            Free</samp>
                                    </samp>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- End Festival post -->

            <!--event videos section start-->
            <section class="event-videos pt-3 pb-4" id="event-videos">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-6 ptb-50">
                            <h2 class="text-center text-md-left mx-auto">Create Birsa Munda Punyatithi Video</h2>
                            <p  class="text-center text-md-left mx-auto">
                                With AdBanao app, you can quickly create videos that pay tribute to Birsa Munda on his Punyatithi. 
                                Share your tribute video on social media now.
                            </p>
                            <div class="text-center text-md-left mx-auto event-video-anchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Don't wait Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>



                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <img src="/img/eventpage-images/birsa_munda_punyatithi/Videos birsa_munda_punyatithi.png" alt="Birsa Munda Punyatithi videos" class="img-fluid  event_video_img">
                        </div>


                    </div>


                </div>
            </section>
            <!--event videos section end-->


            <!--event whats app sticker section start -->
            <section class="whatsAppStickerSection" id="whatsAppSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv">
                            <img src="./img/eventpage-images/Karnatka Election Event Page/WhatsApp Sticker.png" alt="Birsa Munda Punyatithi whatsapp sticker" class="" >
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Birsa Munda Punyatithi Whatsapp Stickers </h2>
                            <p class="text-black text-center text-md-left mx-auto" >
                                AdBanao app offers a user-friendly way to create exceptional WhatsApp Stickers to commemorate 
                                the life and work of Birsa Munda on his Punyatithi. 
                            </p>
                            <div  class="text-center text-md-left mx-auto whatsAppStickerAnchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Find Out More</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--event whats app sticker section end -->

            <!--event Audio Jingle section start -->
            <section class="audioJingleSection ptb-50" id="audioJingle">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Birsa Munda Punyatithi With Audio Jingles</h2>
                            <p class="text-black text-center text-md-left mx-auto" >
                                Jannayak Bhagwan - Design exclusive audio jingles for Birsa Munda Punyatithi with AdBanao app. 
                                Select sound loops and create your jingle in just a few clicks!                           
                            </p>
                            <div  class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get it Now</samp>
                                    </samp>
                                </a>                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/audio-jingle.png" alt="Birsa Munda Punyatithi Audio Jingles" class="img-fluid  audio_jingle_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event Audio Jingle section end -->

            <!--event GIF stickers section start -->
            <section class="GIFStickerSection yellow-bg" id="GIFSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/birsa_munda_punyatithi/Gif Sticker birsa_munda_punyatithi.png" alt="Birsa Munda Punyatithi GIF stickers" class="img-fluid event_gif_sticker">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2  class="text-center text-md-left mx-auto">Birsa Munda Punyatithi GIF Stickers</h2>
                            <p  class="text-center text-md-left mx-auto">
                                Use AdBanao's special GIF stickers to celebrate the life of Birsa Munda Ji.
                                Create personalized stickers and use them to grow your business's digital branding..
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #4d4d4d !important;color: #ffffff;">Download your posts</a>
              </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!--event GIF stickers section end -->

            <!--event specific and hashtags section start -->
            <section class="eventSpecificSection" id="eventSpecific">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Captions & Hashtags For Birsa Munda Punyatithi </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Use AdBanao app's exclusive feature to improve your social media visibility. 
                                Reach the right audience with targeted hashtags and captions.
                            </p>
                           
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Karnatka Election Event Page/Caption_Hashtag.png" alt="Captions & Hashtags for Birsa Munda Punyatithi" class="img-fluid event_specific_img">
                        </div>
                    </div>
                </div>
            </section>

            <!--event specific and hashtags section end -->


            <!--event Audio Jingle section start -->
            <section class="animatedVideosSection" id="animatedVideos">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/birsa_munda_punyatithi/Animated Videos birsa_munda_punyatithi.png"  alt="Animated Birsa Munda Punyatithi Video Content." class="img-fluid  animated_video_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Birsa Munda Punyatithi Animated Video</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Show your gratitude to Birsa Munda on his Punyatithi by creating exceptional animated videos using AdBanao app..
                            </p>
                            <div class="text-center text-md-left mx-auto animatedVideosAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Click Here to Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--event Audio Jingle section end -->


            <!--event specific business section start -->
            <section class="specificBusinessSection" id="specificBusiness">
                <div class="container pt-4 pb-4">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2  class="text-center text-md-left mx-auto">Business Branding Post
                            </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Boost your brand's value. 
                                Choose from 100+ varieties of industries, 
                                create a stunning design with simple editing options, and take your business branding to the next level.
                            </p>
                            <div class="text-center text-md-left mx-auto specificBusinessAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Try it Now</samp>
                                    </samp>
                                </a>                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/birsa_munda_punyatithi/Business Branding Post birsa_munda_punyatithi.png" alt="Birsa Munda Punyatithi Business Branding Post " class="img-fluid  bussines_branding_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event specific business section end -->


            <!--testimonial section end-->
            <%- include ./layouts/partials/event-testimonials.ejs %>
            <!--testimonial section end-->

        


        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


        <!-- script start -->
        <%- include ./layouts/partials/scripts.ejs %>
        <!-- script end -->


</body>

</html>