<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Social media marketing made easy and affordable
        Adbanao app is specially made for Indian people which making posters, advertise, banner ads,
  videos, creating social media posts, and graphic designs, Ads page design, photo art, festival 
  posters, promotional posters, and all with Indian languages such as create social media poster in Hindi, Marathi, Gujarati, English etc.">
    <meta name="author" content="Accucia Softwares Pvt. Ltd.">
    <meta data-id="image" property="og:image" content="./img/industryimages/main-ind-page.jpg">
    <link rel="canonical" href="https://www.adbanao.com/img/industryimages/main-ind-page.jpg">
    <meta data-id="site_name" property="og:site_name" content="">
    <meta name="language" content="en">
    <link rel="canonical" href="https://www.adbanao.com/industry">

    <!-- Meta Keyword-->
    <meta name="keywords" content="p ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="AdBanao is a mobile app specially made for Indian users and Indian businessmen. AdBanao is a multi-featured app that allows users to make social media posts, digital posters, digital greetings, festival greetings, business banners, promotional posters, logo, videos, background remover, business ecards etc. 
  It also provides readymade templates of Indian festivals and events creatives such as Diwali, Holi, Dasshera, Rakshabandhan, Ganesh Chaturthi, Independence Day, etc.
  AdBanao also provides readymade templates for Indian Businessmen where they can choose from 150+ different industries which include jewellery business, mobile shop, doctors, digital marketer, bakery shop, hotels, restaurants, agriculture, furniture showroom, and so on." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="Post Maker, Post Designer, Post Editor, Poster maker, Poster Designer, branding videos maker, create promotional video, online advertisement designer, Readymade banner, shop banner designs, design shop posters" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <!-- <%- include ./layouts/partials/meta.ejs %> -->

    <!--title-->
    <title>AdBanao App India's #1 ultimate branding solution for you.</title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/plugins/swiper/swiper-bundle.min.css" />
    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/careers.css">
        <!-- for google analytics -->
        <%- include ./layouts/partials/google-analytics.ejs %>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<style>
    .sidepanelContainer{
        top: 30% !important;
    }
</style>

<body>

    <!-- <h1 style="position: absolute;left:-10000px">Adbanao Industries</h1> -->
    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->

        <!-- header end -->
        <section class="page_title ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-8 col-xl-8 text-center">
                        <h2 class="section__title mb-4">Jobs Openings at AdBanao</h2>

                        <p class="title-paragraph">We’re always searching for amazing people to join our team. Take a
                            look at our current
                            openings.</p>

                    </div>
                </div>

            </div>

        </section>

        <!--body content wrap start-->
        <section id="sectionJobList" class="section section-job-list gradient-light--lean-left ">
            <div class="container">

                <div class="row row-grid justify-content-center mb-5">



                    <div class="col-md-10">
                        <br>
                        <br>
                        <div class="job-list__wrapper mb-6">
                            <h3 class="mb-4">Design</h3>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class=" card p-0 mb-3 accordion-item shadow-sm shadow--on-hover">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">

                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne">
                                            <span class="col-md-5 color--heading">
                                                <span
                                                    class="badge badge-circle background--danger text-white mr-3">GD</span>
                                                Graphic Designer
                                            </span>

                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <!-- <p> <strong>Are you a passionate and creative Graphic Designer
                                                                looking for your next exciting opportunity? We're on the
                                                                hunt for a talented individual to join our team and help
                                                                us
                                                                bring our visual brand to life!</strong></p> -->
                                                        <p>Department: Design</p>
                                                        <p> Location: Ahmednagar
                                                        </p>

                                                        <h5>Job Summary:
                                                        </h5>
                                                        <p>As a Graphic Designer at Adbanao, you will play a pivotal
                                                            role in shaping visual aspects of company projects, from
                                                            advertisements and product packaging to social media and
                                                            website graphics. With at least 1 year of hands-on
                                                            experience, you will use a blend of creativity and technical
                                                            tools to convey our brand message through design.</p>
                                                        <h5>Key Responsibilities:</h5>
                                                        <ul>
                                                            <li> Conceptualization & Design:*<br>
                                                                 - Understand project requirements and create
                                                                        compelling visuals accordingly.<br>
                                                                 - Work closely with the marketing and product
                                                                        teams to produce high-quality graphics for
                                                                        various platforms such as websites, banners,
                                                                        social media, and print materials.
                                                                  
                                                            </li>
                                                          <li> Branding:<br>
                                                              - Assist in maintaining and updating company
                                                                        branding materials, including brochures,
                                                                        letterheads, and other stationary.<br>
                                                                    - Ensure all graphics and designs are consistent
                                                                        with brand guidelines.
                                                                  
                                                            </li>
                                                           <li>Collaboration:<br>
                                                         - Attend creative brainstorming sessions to
                                                                        generate innovative ideas.<br>
                                                                  - Coordinate with copywriters, web developers, and
                                                                        other team members to ensure the smooth
                                                                        execution of design components.
                                                                    
                                                            </li>
                                                          <li> Stay Updated:<br>
                                                           - Keep updated with the latest design trends,
                                                                        techniques, and tools.<br>
                                                                  - Attend relevant design workshops or seminars to
                                                                        enhance skills.
                                                                  
                                                            </li>
                                                        </ul>
                                                        <br>
                                                        <h5>Required Skills & Qualifications:
                                                        </h5>
                                                        <ul class="pb-3">

                                                            <li> A Bachelor’s degree in Graphic Design or a related
                                                                field.</li>
                                                            <li> Minimum 1 year of professional experience in graphic
                                                                design.</li>
                                                            <li>Proficiency in design software, including but not
                                                                limited to Adobe Creative Suite (Illustrator, Photoshop,
                                                                InDesign,Figma).</li>
                                                            <li>A strong portfolio showcasing a variety of design
                                                                projects.</li>
                                                            <li> Knowledge of design principles, color theory,
                                                                typography, and layout techniques.</li>
                                                            <li> Basic understanding of digital platforms and their
                                                                design constraints.</li>
                                                            <li>Excellent communication and time management skills.</li>
                                                            <li>A keen eye for details and visual consistency.</li>



                                                        </ul>
                                                        <h5>Preferred Skills:
                                                        </h5>
                                                        <ul>
                                                            <li>Experience with motion graphics or video editing.</li>
                                                            <li> Familiarity with UI/UX design principles.</li>
                                                            <li>Knowledge of print production processes.
                                                            </li>
                                                        </ul>
                                                        <br>
                                                        <button type="button" class="btn btn-warning"
                                                            data-bs-toggle="modal" data-bs-target="#careerModal">Apply
                                                            Now</button>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class=" card p-0 mb-3 accordion-item shadow-sm shadow--on-hover">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">

                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                            <span class="col-md-5 color--heading">
                                                <span
                                                    class="badge badge-circle background--success text-white mr-3">VD</span>
                                                Video Editor
                                            </span>

                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse "
                                        aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>Job Title: Video Editor
                                                        </p>
                                                        <p>
                                                            Department: Design</p>
                                                        <p>Location: Ahmednagar
                                                        </p>

                                                        <h5>Job Summary:
                                                        </h5>
                                                        <p>We are seeking a dynamic and creative Video Editor with a
                                                            year of professional experience to join our growing team.
                                                            The ideal candidate will possess a keen eye for detail, a
                                                            strong sense of timing, and the ability to weave together
                                                            raw footage into a polished final product that resonates
                                                            with audiences.
                                                        </p>
                                                        <h5>Key Responsibilities:
                                                        </h5>
                                                        <ul class="pb-3">
                                                            <li> Editing and Assembling Raw Footage: Work closely with
                                                                the production team to assemble raw footage into a
                                                                finished project suitable for broadcasting. The material
                                                                may include camera footage, interviews, sound effects,
                                                                graphics, and special effects.
                                                            </li>
                                                            <li>Collaborating with Team: Collaborate with the content
                                                                team, graphic designers, and other stakeholders to
                                                                ensure a cohesive story and brand consistency.
                                                            </li>
                                                            <li>Post-Production Tasks: Incorporate sound effects, music,
                                                                graphics, and special effects as needed. Ensure the
                                                                project follows a logical sequence.
                                                            </li>
                                                            <li>Revisions: Revise content based on feedback from
                                                                stakeholders to ensure the final product aligns with the
                                                                desired vision.</li>
                                                            <li>Maintain Archives: Properly back up and archive video
                                                                footage and final edited video files.
                                                            </li>

                                                            <li>Stay Updated: Keep up-to-date with the latest editing
                                                                software, post-production techniques, industry trends,
                                                                and best practices.
                                                            </li>
                                                            <li>Quality Assurance: Review all edited tapes to identify
                                                                any issues and ensure the highest quality.
                                                            </li>
                                                            <li>Time Management: Meet tight deadlines and manage
                                                                multiple projects simultaneously.
                                                            </li>
                                                        </ul>
                                                        <h5>Qualifications and Skills:
                                                        </h5>
                                                        <ul class="pb-3">
                                                            <li> A diploma or degree in video editing, film studies, or
                                                                related field.
                                                            </li>
                                                            <li>Minimum of 1 year of professional video editing
                                                                experience. A portfolio or reel of past work is
                                                                required.
                                                            </li>
                                                            <li> Proficiency in video editing software such as Adobe
                                                                Premiere Pro, Final Cut Pro, Avid Media Composer, etc.
                                                                Familiarity with After Effects is a plus.
                                                            </li>
                                                            <li>Creativity: A keen eye for detail and a critical mind.
                                                                Ability to understand and bring a creative vision to
                                                                life.
                                                            </li>
                                                            <li>Communication: Strong communication skills to understand
                                                                the brief and collaborate effectively with the team.
                                                            </li>
                                                            <li>Time Management: Ability to manage multiple projects
                                                                simultaneously and meet tight deadlines.
                                                            </li>
                                                            <li>Adaptability: Willingness to adapt to changes and take
                                                                feedback positively.
                                                            </li>
                                                        </ul>
                                                        <button type="button" class="btn btn-warning"
                                                            data-bs-toggle="modal" data-bs-target="#careerModal">Apply
                                                            Now</button>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="job-list__wrapper mb-6">
                            <h3 class="mb-4">Marketing</h3>

                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class=" card p-0 mb-3 accordion-item shadow-sm shadow--on-hover">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">

                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne">
                                            <span class="col-md-5 color--heading">
                                                <span
                                                    class="badge badge-circle background--warning text-white mr-3">TC</span>
                                                Tele Caller
                                            </span>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>Job Title: Tele Caller
                                                        </p>
                                                        <p> Department: Design</p>
                                                        <p> Location: Ahmednagar
                                                        </p>

                                                        <h5> Job Summary:
                                                        </h5>
                                                        <p>We are in search of a dedicated and experienced Telecaller to
                                                            strengthen our customer outreach and enhance our client
                                                            relationships. The candidate should have a proven track
                                                            record in telecalling, strong communication skills, and the
                                                            ability to successfully convert calls into business
                                                            opportunities or provide exceptional customer service.
                                                        </p>
                                                        <h5>Key Responsibilities:
                                                        </h5>
                                                        <ul>
                                                            <li> Making Calls: Contact potential or existing customers
                                                                to inform them about a product or service.</li>

                                                            <li> Understanding Customer Needs: Ask questions to
                                                                understand customer requirements and provide the best
                                                                solutions based on the services/products the company
                                                                offers.</li>

                                                            <li> Record Keeping: Maintain records of calls and sales,
                                                                and note down important information in the CRM or
                                                                database.</li>

                                                            <li> Achieving Targets: Meet monthly and quarterly sales and
                                                                service targets set by the management.</li>

                                                            <li> Handling Grievances: Address any concerns or grievances
                                                                a customer might have and ensure they're directed to the
                                                                appropriate department for resolution.</li>

                                                            <li>Follow-up: Regularly follow up with potential leads or
                                                                existing customers to update them on new products or
                                                                services.</li>

                                                            <li>Team Collaboration: Work closely with the sales and
                                                                marketing teams to ensure consistent information flow
                                                                and to address any challenges.</li>

                                                            <li> Training: Stay updated with product knowledge, company
                                                                offerings, and best practices through regular training
                                                                sessions.</li>

                                                        </ul>
                                                        <br>
                                                        <h5>Qualifications and Skills:
                                                        </h5>
                                                        <ul>
                                                            <li>Educational Background: Minimum of a high school
                                                                diploma. A bachelor's degree in a related field is a
                                                                plus.</li>

                                                            <li>Experience: At least 1 year of experience in a
                                                                telecalling or telemarketing role.</li>

                                                            <li>Technical Skills: Familiarity with CRM systems and
                                                                practices, as well as basic computer skills.</li>

                                                            <li>Communication: Excellent interpersonal and verbal
                                                                communication skills.</li>

                                                            <li> Listening Skills: Ability to listen and understand the
                                                                customer's needs before pitching a product or service.
                                                            </li>

                                                            <li>Patience & Empathy: Ability to handle customer
                                                                rejections gracefully and maintain a positive demeanor.
                                                            </li>

                                                            <li> Adaptability: Quick learner and ability to adapt to
                                                                changes in scripts or company offerings.</li>

                                                            <li>Language Proficiency: Proficiency in the primary
                                                                language of operation, with additional language skills
                                                                being a plus.</li>



                                                        </ul>
                                                        <br>
                                                        <button type="button" class="btn btn-warning"
                                                            data-bs-toggle="modal" data-bs-target="#careerModal">Apply
                                                            Now</button>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class=" card p-0 mb-3 accordion-item shadow-sm shadow--on-hover">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">

                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                            <span class="col-md-5 color--heading">
                                                <span
                                                    class="badge badge-circle background--success text-white mr-3">BDE</span>
                                                Business Development Executive
                                            </span>

                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse "
                                        aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>Experience: 1 Year</p>
                                                        <p>Industry: Information Technology</p>
                                                        <p>Location: Wakad, Pune.</p>
                                                        <h5>Job Overview:</h5>
                                                        <p>The Business Development Executive will focus on customer
                                                            acquisition, lead generation, and prospect management. The
                                                            role requires minimum one year of experience in the IT
                                                            industry, showcasing a proven track record in outbound lead
                                                            generation and closing sales. The candidate is expected to
                                                            be a proactive go-getter who thrives in a fast-paced,
                                                            high-growth environment.</p>
                                                     
                                                        <h5>Key Responsibilities:</h5>
                                                        <ul>
                                                            <li>Lead Generation: Identify and generate new sales
                                                                leads through networking, cold calling, and referrals.
                                                            </li>
                                                            <li>Client Acquisition: Reach out to potential clients
                                                                and give presentations about our IT services and
                                                                products.
                                                            </li>
                                                            <li> Account Management: Maintain relationships with
                                                                existing clients and identify avenues for upselling or
                                                                cross-selling.</li>
                                                            <li>Sales Targets: Achieve and exceed monthly and annual
                                                                sales targets.</li>
                                                            <li>Market Research: Conduct market research to
                                                                understand competitors and market trends.</li>
                                                            <li>                                                             6. Sales Strategy: Collaborate with team members to
                                                                develop sales strategies and identify growth
                                                                opportunities.
                                                            </li>
                                                            <li>Proposal & Contract Management: Drafting proposals
                                                                and handling contract negotiations.</li>
                                                            <li>Data Management: Keep a record of client
                                                                interactions
                                                                and sales activities within the company CRM.</li>
                                                            <li>Reporting: Provide weekly and monthly sales reports
                                                                to top management, offering insights into the sales
                                                                process and client feedback.</li>
                                                            <li> Team Collaboration: Work closely with the technical
                                                                team to ensure seamless service delivery.</li>
                                                            <li> Customer Feedback: Collect and interpret customer
                                                                feedback, coordinating with technical teams for
                                                                customized solutions if needed.</li>
                                                            <li> Industry Updates: Stay up-to-date with industry
                                                                trends, attending webinars, conferences, and other
                                                                professional development opportunities.</li>
                                                        </ul>
                                                       
                                                        <p>
                                                        <h5>Skills & Qualifications:
                                                        </h5>
                                                        <ul>
                                                            <li>Bachelor's degree in Business, Marketing, or a
                                                                related
                                                                field.</li>
                                                            <li> Minimum one year of experience in business
                                                                development
                                                                within the IT sector.</li>
                                                            <li>                                                            Excellent written and verbal communication.
                                                            </li>
                                                            <li> Strong negotiation and closing skills.</li>
                                                            <li> Ability to analyze market trends and sales metrics.
                                                            </li>
                                                            <li>Proficiency in using CRM software.</li>
                                                            <li> Skilled in delivering effective presentations.</li>
                                                            <li> Ability to manage multiple tasks and projects
                                                                simultaneously.</li>
                                                        </ul>
                                                        </p>
                                                        <br>
                                                        
                                                        <button type="button" class="btn btn-warning"
                                                            data-bs-toggle="modal" data-bs-target="#careerModal">Apply
                                                            Now</button>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class=" card p-0 mb-3 accordion-item shadow-sm shadow--on-hover">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">

                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapsefive" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                            <span class="col-md-5 color--heading">
                                                <span
                                                    class="badge badge-circle background--info text-white mr-3">FS</span>
                                                Field Sales Executive
                                            </span>

                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapsefive" class="accordion-collapse collapse "
                                        aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <ul>
                                                            <li>Location: Nagpur/Pune/Ahmendanag/Mumbai/Nashik</li>
                                                            <li> Experience: Fresher & experienced candidates </li>
                                                            <li> Gender: Male candidates only</li>
                                                        </ul>
                                                        <br>
                                                        <br>
                                                        <h5> Required Skills:</h5>
                                                        <ul>
                                                            <li>Sales Techniques
                                                            </li>
                                                            <li> Client Relationship Management</li>
                                                            <li>Negotiation Skills</li>
                                                            <li> Lead Generation</li>
                                                            <li> Market Understanding</li>
                                                            <li>Customer-Centric Approach</li>
                                                        </ul>

                                                        <br>
                                                        <br> <br>
                                                        <button type="button" class="btn btn-warning"
                                                            data-bs-toggle="modal" data-bs-target="#careerModal">Apply
                                                            Now</button>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class=" card p-0 mb-3 accordion-item shadow-sm shadow--on-hover">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">

                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapsesix" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                            <span class="col-md-5 color--heading">
                                                <span
                                                    class="badge badge-circle background--tertiary text-white mr-3">MIS</span>
                                                MIS Executive
                                            </span>

                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapsesix" class="accordion-collapse collapse "
                                        aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>Location: Wakad, Pune</p>
                                                        <p>Position Type: Full-time (Work from Office)</p>
                                                        <h5>Objective:</h5>
                                                        <p>The MIS Executive will be responsible for managing and
                                                            analyzing organizational data to optimize and advise on
                                                            business decisions. The role requires someone with strong
                                                            analytical skills, keen attention to detail, and a profound
                                                            knowledge of data management tools.</p>
                                                        <h5>Key Responsibilities:</h5>
                                                        <ol>
                                                            <li>
                                                                Data Management & Reporting: Collect, analyze, and
                                                                present data in clear and concise reports.
                                                            </li>
                                                            <li>
                                                                Advanced Data Analytics: Utilize advanced Excel and
                                                                Google Sheets features, such as Pivot Tables, for
                                                                in-depth data analysis.
                                                            </li>
                                                            <li>
                                                                Macros & Automation: Utilize, and possibly create,
                                                                macros to automate repetitive tasks and improve
                                                                efficiency.
                                                            </li>
                                                            <li>
                                                                Data-Driven Decision Making: Assist various departments
                                                                in making informed decisions based on data analytics.
                                                            </li>
                                                            <li>
                                                                Collaboration: Collaborate with various teams to
                                                                determine data needs and provide insights.
                                                            </li>
                                                            <li>
                                                                Continuous Learning: Stay updated with the latest trends
                                                                in data management and analytics.

                                                            </li>

                                                        </ol><br>
                                                        <h5>Skills & Qualifications:</h5>

                                                        <ul class="pb-3">
                                                            <li>
                                                                *Essential <br>
                                                                - Proficiency in Excel and Google Sheets.
                                                                <br> - Familiarity with Excel formulas, Pivot Tables,
                                                                and
                                                                data visualization tools.
                                                                <br> - Strong analytical and problem-solving skills.
                                                                <br> - Excellent command over English, both written and
                                                                spoken.
                                                                <br> - A background in Mathematics or a related field.
                                                            </li>
                                                            <li>
                                                                 *Desirable
                                                                <br> - Knowledge of Excel Macros.
                                                                <br> - Prior experience in a similar role, especially
                                                                within
                                                                the MIS domain.
                                                            </li>
                                                        </ul>
                                                        <h5>Experience:</h5>
                                                        <ul class="pb-3">
                                                            <li>Candidates should have 2- 5 years of working experience
                                                                as an MIS Executive or in a similar role.</li>
                                                        </ul>
                                                        <h5>Other Requirements:</h5>
                                                        <ul>
                                                            <li>
                                                               The candidate must be an immediate joiner.
                                                            </li>
                                                            <li>
                                                               Comfortable committing to a minimum of 1-year
                                                                employment contract.
                                                            </li>
                                                            <li>
                                                               Strong work ethic, proactive, and the ability to work
                                                                independently.
                                                            </li>
                                                        </ul>





                                                        <br>

                                                        <button type="button" class="btn btn-warning"
                                                            data-bs-toggle="modal" data-bs-target="#careerModal">Apply
                                                            Now</button>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class=" card p-0 mb-3 accordion-item shadow-sm shadow--on-hover">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">

                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapsesevn" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                            <span class="col-md-5 color--heading">
                                                <span
                                                    class="badge badge-circle background--dark text-white mr-3">CW</span>
                                                Content Writer
                                            </span>

                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapsesevn" class="accordion-collapse collapse "
                                        aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                    <p>Location: Ahmednagar</p> 
                                                    <p>Position Type: Full-time (Work from Office)</p>
                                                    <h5>Job Summary:*
                                                    </h5>
                                                    <p>We are seeking a passionate Hindi Content Writer with a minimum
                                                        of 1 year of professional experience. The candidate should
                                                        possess strong writing skills, a deep understanding of the Hindi
                                                        language, and an ability to craft engaging content tailored for
                                                        a Hindi-speaking audience.
                                                    </p>
                                                    <h5>Key Responsibilities:
                                                    </h5>
                                                    <ul class="pb-3">
                                                        <li>Content Creation: Write, edit, and produce high-quality
                                                            content in Hindi across various digital platforms, including
                                                            blogs, articles, website copy, and social media posts.</li>
                                                        <li> Research: Conduct in-depth research on industry-related
                                                            topics to develop original content.
                                                        </li>
                                                        <li> Collaboration: Work with the content and marketing teams to
                                                            brainstorm and ideate on content that resonates with our
                                                            target audience.</li>
                                                        <li>SEO Integration: Understand and integrate SEO best practices
                                                            to increase web traffic.</li>

                                                        <li>Proofreading: Review and edit articles before publication,
                                                            ensuring clarity, accuracy, and quality.</li>

                                                        <li>Feedback Incorporation: Revise content based on feedback
                                                            from stakeholders.</li>

                                                        <li>Stay Updated: Keep up with the latest industry trends and
                                                            news relevant to the Hindi-speaking market.</li>

                                                    </ul>
                                                    <h5>Other Requirements:</h5>
                                                    <ul class="pb-3">
                                                        <li>Educational Background: A bachelor's degree in Hindi,
                                                            Journalism, or a related field.</li>
                                                        <li>Experience: Minimum of 1 year of professional content
                                                            writing experience in Hindi.</li>
                                                        <li>Language Proficiency: Excellent command over written and
                                                            spoken Hindi. Knowledge of regional dialects is a plus.</li>
                                                        <li>Research Skills: Ability to gather, validate, and interpret
                                                            data from diverse sources.</li>
                                                        <li>SEO Knowledge: Basic understanding of SEO and how it applies
                                                            to content marketing.</li>
                                                        <li>Creativity: Ability to present information in an engaging
                                                            manner that resonates with readers.</li>
                                                        <li> Adaptability: Flexibility to adapt to changing priorities
                                                            and deadlines.</li>
                                                    </ul>
                                                    <br>

                                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                        data-bs-target="#careerModal">Apply
                                                        Now</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
            </div>
        </section>


        <!-- Modal -->
        <div class="modal fade" id="careerModal" tabindex="-1" aria-labelledby="careerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="careerModalLabel">Apply Now</h5>
                        <p id="massege">
                            And we'll get back to you within 48 hours.</p>
                        <button type="button" class="btn-close" id="career-close"data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="career-jobform" class="row mb-0">

                            <div class="form-process">
                                <div class="css3-spinner">
                                    <div class="css3-spinner-scaler"></div>
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="template-jobform-fname">First Name <small>*</small></label>
                                <input type="text" id="jobformfname" name="jobformfname" value=""
                                    class="form-control required">
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="template-jobform-lname">Last Name <small>*</small></label>
                                <input type="text" id="jobformlname" name="jobformlname" value=""
                                    class="form-control required">
                            </div>

                            <div class="w-100"></div>

                            <div class="col-12 form-group">
                                <label for="template-jobform-email">Email <small>*</small></label>
                                <input type="email" id="jobformemail" name="jobformemail" value=""
                                    class="required email form-control">
                            </div>
                            <div class="col-12 form-group">
                                <label for="template-jobform-email">Contact Number <small>*</small></label>
                                <input class="form-control" id="mobile_number" name="mobile_number" type="text"
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '');">

                            </div>

                            <div class="col-md-6 form-group">
                                <label for="template-jobform-city">City <small>*</small></label>
                                <input type="text" name="jobformcity" id="jobformcity" value="" size="22" tabindex="5"
                                    class="form-control required">
                            </div>

                            <div class="w-100"></div>

                            <div class="col-12 form-group">
                                <label for="template-jobform-service">Position <small>*</small></label>
                                <select name="template-jobform-position" id="jobformposition" tabindex="9"
                                    class="form-select required">
                                    <option value="">-- Select Position --</option>
                                    <option value="Graphic Designer">Graphic Designer</option>
                                    <option value="Video Editor">Video Editor</option>
                                    <option value="TeleCaller">TeleCaller</option>
                                    <option value="Field Salse Executive">Field Salse Executive</option>
                                    <option value="Business Development Executive">Business Development Executive
                                    </option>
                                    <option value="Content Writers">Content Writers</option>
                                    <option value="HR">HR</option>
                                    <option value="MIS Executive">MIS Executive</option>
                                </select>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="template-jobform-time">Start Date<small>*</small></label>
                                <input type="date" name="jobformstart" id="jobformstart" value="" size="22" tabindex="7"
                                    class="form-control">
                            </div>



                            <div class="col-12 form-group">
                                <label for="template-jobform-experience">Experience (optional)</label>
                                <textarea name="jobformexperience" id="jobformexperience" rows="3" tabindex="10"
                                    class="form-control"></textarea>
                            </div>

                            <div class="col-12 form-group">
                                <label for="template-jobform-cvfile">Upload CV <small>*</small></label>
                                <small id="file-upload-error">Upload file less then 5mb</small>
                                <input type="file" id="jobformcvfile" name="jobformcvfile" data-url="" value=""
                                    class="form-control" data-append-class="cvfile_icon_container"
                                    data-progress-bar="cvfile_icon_bar" data-common-class="cvfile_icon"
                                    data-subfolder-name="cvfile_file" data-is-multiple="false"
                                    onchange="UPLOAD_ICON(this, event)">
                                <br>
                                <img id="loader-file" src="/img/loader.gif" width="25px" alt="">

                            </div>


                            <div class="col-12 form-group">
                                <button class="button button-3d button-large w-100 m-0 btn btn-primary" id="careersub"
                                    type="submit">Send
                                    Application</button>
                            </div>
                            <div class="g-recaptcha" data-sitekey="6Ld7dSYpAAAAAPZ-_TRhnFWokU9xNWLv34z8uxCI"></div>
                            <br/>
                        </form>


                    </div>

                </div>
            </div>
        </div>
        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->
                <script src="/js/jquery-3.4.1.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>


                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
                    integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"
                    integrity="sha512-6S5LYNn3ZJCIm0f9L6BCerqFlQ4f5MwNKq+EthDXabtaJvg3TuFLhpno9pcm+5Ynm6jdA9xfpQoMz2fcjVMk9g=="
                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script src="./assets/js/career.js"></script>
                <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
         
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var modalCloseBtn = document.getElementById('career-close');
    modalCloseBtn.addEventListener('click', function() {
        var careerForm = document.getElementById('career-jobform');

        careerForm.reset();
    });
});

</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>

</body>



</html>