<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- SEO Meta description -->
    <meta name="description"
        content="Social media marketing made easy and affordable
      Adbanao app is specially made for Indian people which making posters, advertise, banner ads,
videos, creating social media posts, and graphic designs, Ads page design, photo art, festival 
posters, promotional posters, and all with Indian languages such as create social media poster in Hindi, Marathi, Gujarati, English etc.">
    <meta name="author" content="Accucia Softwares Pvt. Ltd.">
    <meta data-id="image" property="og:image" content="/img/industryimages/contact-us.jpg">
    <link rel="canonical" href="https://www.adbanao.com/img/industryimages/contact-us.jpg">
    <meta data-id="site_name" property="og:site_name" content="www.drpremkumar.marspoles.in">
    <meta name="language" content="en">
    <link rel="canonical" href="https://www.adbanao.com/contact-us.jpg">

    <!-- Meta Keyword-->
    <meta name="keywords" content="poster maker, flyers,  flyer designer, flyer maker, template, page design, Ads page designer,
Ads page design, ads page maker, graphic design, banners, banner maker, banner design, 
poster maker 2021, video maker, poster maker for business, poster maker with name and image, video collage, poster maker, poster designer, poster maker, poster creator, art designer, high quality poster designs, custom poster maker, banner ads, Digital Marketing Poster maker, hindi poster maker, Design banner flyer in hindi, video story template, photo art, fancy text art, 
Flyer & banner maker, creative flyer maker, create promotional posters, cover photos, 
indian festival banners, festival banners
">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="AdBanao is a mobile app specially made for Indian users and Indian businessmen. AdBanao is a multi-featured app that allows users to make social media posts, digital posters, digital greetings, festival greetings, business banners, promotional posters, logo, videos, background remover, business ecards etc. 
It also provides readymade templates of Indian festivals and events creatives such as Diwali, Holi, Dasshera, Rakshabandhan, Ganesh Chaturthi, Independence Day, etc.
AdBanao also provides readymade templates for Indian Businessmen where they can choose from 150+ different industries which include jewellery business, mobile shop, doctors, digital marketer, bakery shop, hotels, restaurants, agriculture, furniture showroom, and so on." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="Post Maker, Post Designer, Post Editor, Poster maker, Poster Designer, branding videos maker, create promotional video, online advertisement designer, Readymade banner, shop banner designs, design shop posters" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

        <!--title-->
        <title>Contact Us</title>

        <!--favicon icon-->
        <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

        <!--custom css-->
        <%- include ./layouts/partials/styles.ejs %>
            <link rel="stylesheet" href="/css/privacy-and-policy.css">
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
            <link rel="stylesheet" href="/css/contactus.css">
            <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"> -->

            <!-- for google analytics -->
            <%- include ./layouts/partials/google-analytics.ejs %>
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
           
</head>

<body>
    <h1 style="position: absolute;left:-10000px">Adbanao Contact Us</h1>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">


            <section class="privacy-policy">
                <div class="container-fluid privacy-policy-header d-flex justify-content-center align-items-center">
                    <h2 class="text-yellow text-center text-lg-left text-white privacy-policy-txt">
                        Contact Us </h2>
                </div>
            </section>
            <div class="container mt-5 mb-5">
                <div class="contact__wrapper shadow-lg mt-n9">
                    <div class="row no-gutters">
                        <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-2 order-lg-2">
                            <h3 class="color--white mb-5">Contact Information</h3>

                            <ul class="contact-info__list list-style--none position-relative z-index-101">
                                <li class="mb-4 pl-5 text-black">
                                    <span class="position-absolute"><i class="fa fa-envelope-o"></i></span><a
                                        href="mailto:hello@adbanao.com" style="color: #000;font-size: 17px;font-weight: 600;" >  hello@adbanao.com</a>
                                </li>
                                <li class="mb-4 pl-5 text-black">
                                    <span class="position-absolute"><i class="fa fa-phone"></i></span><a
                                        href="tel:+917272959525" style="color: #000;font-size: 17px;font-weight: 600;"> +91 7272959525</a>
                                </li>
                                <li class="mb-4 pl-5 text-black">
                                    <span class="position-absolute"><i class="fa fa-map-marker"></i></span><b class="address-head"> Pune
                                        Office</b>
                                    <span class="address-text"><br>303, 3rd Floor, Sanskriti Arcade,
                                    <br>Kaspate Wasti, Wakad, Pune, Maharashtra, 411057</span>

                                    <div class="mt-1">
                                        <a class="hoverIcon" href="https://goo.gl/maps/DttTBnZ33oTaVN2EA" target="_blank"
                                            class="text-link link--right-icon ">Get directions <i
                                                class="link__icon fa fa-long-arrow-right "></i></a>
                                    </div>
                                </li>
                                <li class="mb-4 pl-5 text-black">
                                    <span class="position-absolute"><i class="fa fa-map-marker"></i></span>

                                    <b class="address-head">
                                        Ahmednagar Head Office</b>
                                    <span class="address-text"><br> Anuron Near Saroj Petrol Pump,
                                    <br> Near GPO, Ahmednagar, Maharashtra, 414001</span>

                                    <div class="mt-1">
                                        <a class="hoverIcon" href="https://goo.gl/maps/6wWwUgxB5jxfp8G89" target="_blank"
                                            class="text-link link--right-icon ">Get directions <i
                                                class="link__icon fa fa-long-arrow-right"></i></a>
                                    </div>
                                </li>
                            </ul>

                        </div>

                        <div class="col-lg-7 contact-form__wrapper p-2 order-lg-1">
                            <h3 class="color--white mb-5" id="form-title" >Let’s Connect!</h3>
                            <p class="massge">Your message has been sent successfully. We'll get back to you shortly.</p>
                            <form class="contact-form" id="contactUs">
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <div class="form-group">
                                            <label class="required-field" for="firstName">First Name</label>
                                            <input type="text" class="form-control" id="firstName" name="firstName"
                                                placeholder="AdBanao">
                                        </div>
                                    </div>

                                    <div class="col-sm-6 mb-3">
                                        <div class="form-group">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" class="form-control" id="lastName" name="lastName"
                                                placeholder="AdBanao">
                                        </div>
                                    </div>

                                    <div class="col-sm-6 mb-3">
                                        <div class="form-group">
                                            <label class="required-field" for="email">Email</label>
                                            <input type="text" class="form-control" id="email" name="email"
                                                placeholder="adbanao.com">
                                        </div>
                                    </div>

                                    <div class="col-sm-6 mb-3">
                                        <div class="form-group">
                                            <label for="phone">Phone Number</label>
                                            <input type="tel" class="form-control" id="phone" name="phone"
                                                placeholder="8888888888"
                                                oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                        </div>
                                    </div>

                                    <div class="col-sm-12 mb-3">
                                        <div class="form-group">
                                            <label class="required-field" for="message">How can we help?</label>
                                            <textarea class="form-control" id="message" name="message" rows="4"
                                                placeholder="Hi there, I would like to....."></textarea>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 mb-3 btn-flex">
                                        <button type="submit" id="contact-btn" name="submit"
                                            class="btn-warning rounded-pill contact-us-btn">Submit   </button>
                                            <img id="loader" src="/img/loader.gif" alt="loader" width="25px" height="25px">
                                    </div>
                                    <div class="g-recaptcha" data-sitekey="6Ld7dSYpAAAAAPZ-_TRhnFWokU9xNWLv34z8uxCI"></div>
                                    <br/>
                                </div>
                            </form>
                            <br>
                            <br>
                            <ul class="list-unstyled social-list mb-3">
                                <li class="list-inline-item"><a href="https://www.facebook.com/adbanao/" target="_blank"
                                        class="rounded"><span class="fa-brands fa-facebook-f shadow"></span></a></li>
                                <li class="list-inline-item"><a href="https://twitter.com/adbanao_app" target="_blank"
                                        class="rounded"><span class="fa-brands fa-x-twitter shadow"></span></a>
                                </li>
                                <li class="list-inline-item"><a
                                        href="https://www.youtube.com/channel/UCZur0aBgHNMOyNYRS80_RxA" target="_blank"
                                        class="rounded"><span class="fa-brands fa-youtube shadow"></span></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/company/adbanao"
                                        target="_blank" class="rounded"><span class="fa-brands fa-linkedin-in shadow"></span></a>
                                </li>
                                <!-- <li class="list-inline-item"><a href="https://adbanao.tumblr.com/" target="_blank"
                                        class="rounded"><span class="fa fa-tumblr shadow"></span></a></li> -->
                                <li class="list-inline-item">
                                    <a href="https://instagram.com/adbanao?utm_medium=copy_link" target="_blank"
                                        class="rounded">
                                        <span class="fa-brands fa-instagram shadow"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://wa.me/917272959525?text=Hello%20from%20AdBanao%20Web"
                                        target="_blank" class="rounded"><span class="fa-brands fa-whatsapp shadow"></span>
                                    </a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="https://www.quora.com/profile/AdBanao-1" target="_blank"
                                        class="rounded"><span class="fa-brands fa-quora shadow"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Contact Form Wrapper -->

                    </div>
                </div>
            </div>

        </div>
        <!--body content wrap end-->
        <script src="/js/jquery-3.4.1.min.js"></script>

    
     

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->




            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js" integrity="sha512-6S5LYNn3ZJCIm0f9L6BCerqFlQ4f5MwNKq+EthDXabtaJvg3TuFLhpno9pcm+5Ynm6jdA9xfpQoMz2fcjVMk9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/contactus.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>

</html>