<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Celebrate Gujarat Gaurav Day with pride and joy! Join the festivities and showcase your pride for Gujarat with Adbanao's customizable posters and videos. Choose from a range of templates, fonts, colors, and images.">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/gujarat-day-posters`>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="Gujarat day celebration, Gujarat Diwas images, gujarat day poster, Gujarat Foundation day, Foundation Day of Gujarat, 
    gujarat diwas videos, gujarat day creative, garvi gujarat, gujarat day 2023, gujarat images hd    
">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="Celebrate Gujarat Gaurav Day with pride and joy! Join the festivities and showcase your pride for Gujarat with Adbanao's customizable posters and videos. Choose from a range of templates, fonts, colors, and images." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="Post Maker, Post Designer, Post Editor, Poster maker, Poster Designer, branding videos maker, create promotional video, online advertisement designer, Readymade banner, shop banner designs, design shop posters" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

    <!--title-->
    <title>Create Gujarat day poster and Videos Now!</title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
        <link rel="stylesheet" href="/css/events.css">

    <!-- for google analytics -->
    <%- include ./layouts/partials/google-analytics.ejs %>

</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height ptb-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h2 class="text-center text-md-left republicDayHead">
                                    Create Gujarat day poster and Videos Now!
                                </h2>
                                <p>
                                    Celebrate Gujarat Gaurav Day with pride and joy! Join the festivities and showcase your pride for Gujarat with Adbanao's customizable posters and videos. Choose from a range of templates, fonts, colors, and images. 
                                </p>
                                
                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                                    <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                        <samp class="btn-design">
                                           <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                  <samp>Download Free Posters Now</samp>
                                        </samp>
                                 </a>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/republic/republic-header.png" alt="Gujarat Day posters" class="img-fluid   img_header">

                        </div>
                    </div>
                </div>

            </section>
            <!--hero section end-->

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium ptb-50" id="ourBrandingMedium">
                <div class="container text-center">
                    <h2 class="text-center">Branding Mediums available for Gujarat Day</h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick"  class="event_tick_img" >
                                    <a href="#festivalPost" class="pl-3">Festival Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">Gujarat Day WhatsApp Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick "class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">Gujarat Day GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img" >
                                    <a href="#animatedVideos" class="pl-3">Gujarat Day Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">Gujarat Day Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">Gujarat Day Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img" >
                                    <a href="#eventSpecific" class="pl-3">Event Special Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick"  class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Business Branding Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                        <samp class="btn-design-1">
                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                            <samp>Download Free
                                Posts Now</samp>
                        </samp>
                    </a>
                </div>
            </section>

            <!-- Branding Medium end -->

            <!-- Start Festival post -->
            <section class="FestivalPostSection" id="festivalPost">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/republic/republic-festival-post.png" alt="Gujarat Day festival posters" class="img-fluid  festival_post_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2  class="text-center text-md-left mx-auto">Festival Posts</h2>
                            <p  class="text-center text-md-left mx-auto">
                                Join AdBanao for Creating Gujrat Gaurav Posters  and explore
                                the world of creativity and innovation, and Let's Create
                                the art of making with Festival Posters.
                            </p>
                            <div  class="text-center text-md-left mx-auto festivalPostAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get Started for
                                            Free</samp>
                                    </samp>
                                </a>


                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- End Festival post -->

            <!--event videos section start-->
            <section class="event-videos pt-3 pb-4" id="event-videos">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-6 ptb-50">
                            <h2 class="text-center text-md-left mx-auto">Gujrat day video </h2>
                            <p  class="text-center text-md-left mx-auto">
                                Let's celebrate a special day for Gujarat with lots of creative video ideas to show your gratitude and devotion to this Gujarat Gaurav day in your life. With Adbanao, you may easily create beautiful videos with personalised words, photographs, and music.
                            </p>
                            <div class="text-center text-md-left mx-auto event-video-anchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Don't wait Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>



                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <img src="/img/republic/republic-videos.png" alt="Gujarat Day video poster" class="img-fluid  event_video_img">
                        </div>


                    </div>


                </div>
            </section>
            <!--event videos section end-->


            <!--event whats app sticker section start -->
            <section class="whatsAppStickerSection" id="whatsAppSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv">
                            <img src="./img/republic/republic-whatsapp-sticker.png" alt="Gujarat Day whatsapp sticker poster" class="" >
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Gujarat day Whtsapp Stickers</h2>
                            <p class="text-black text-center text-md-left mx-auto" >
                                Creating your own special Occasional WhatsApp stickers with the Adbanao app is easy. you can choose from a variety of images and templates to create your own unique and personalized Gujarat day stickers and can simply share them directly to your WhatsApp
                            </p>
                            <div  class="text-center text-md-left mx-auto whatsAppStickerAnchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Find Out More</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--event whats app sticker section end -->

            <!--event Audio Jingle section start -->
            <section class="audioJingleSection ptb-50" id="audioJingle">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Gujarat Day Audio Jingles</h2>
                            <p class="text-black text-center text-md-left mx-auto" >
                                Creating your own special Gujarat Day Audio Jingles with the Adbanao app and share audio jingles with your audience.
                            </p>
                            <div  class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get it Now</samp>
                                    </samp>
                                </a>                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/audio-jingle.png" alt="Gujarat Day audio jingle poster" class="img-fluid  audio_jingle_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event Audio Jingle section end -->

            <!--event GIF stickers section start -->
            <section class="GIFStickerSection yellow-bg" id="GIFSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-gif-sticker.png" alt="Gujarat Day gif sticker poster" class="img-fluid event_gif_sticker">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2  class="text-center text-md-left mx-auto">Gif Stickers</h2>
                            <p  class="text-center text-md-left mx-auto">
                                There's no better way to celebrate Gujarat Day, a day of pride and joy, than by making your own Gif Stickers using the AdBanao app. With just a few taps, AdBanao lets you make customized Gif Stickers.
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #4d4d4d !important;color: #ffffff;">Download your posts</a>
              </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!--event GIF stickers section end -->

            <!--event specific and hashtags section start -->
            <section class="eventSpecificSection" id="eventSpecific">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Caption and Hashtags</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                AdBanao offers a variety of options to choose from and ensures that your Occasional Day posts stand out on social media. Save time and effort by using our pre-made captions and hashtags.
                            </p>
                           
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-event-specific.png" alt="Gujarat Day caption and hashtags poster" class="img-fluid event_specific_img">
                        </div>
                    </div>
                </div>
            </section>

            <!--event specific and hashtags section end -->


            <!--event Audio Jingle section start -->
            <section class="animatedVideosSection" id="animatedVideos">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-animated-videos.png" alt="Gujarat Day animated video poster" class="img-fluid  animated_video_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Animated Video</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Celebrate the spirit of unity and pride on Gujarat Day with ready-made animated videos by AdBanao.
                            </p>
                            <div class="text-center text-md-left mx-auto animatedVideosAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Click Here to Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--event Audio Jingle section end -->


            <!--event specific business section start -->
            <section class="specificBusinessSection" id="specificBusiness">
                <div class="container pt-4 pb-4">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2  class="text-center text-md-left mx-auto">Business Branding post
                            </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Gujarat Day is observed to remember the formation of the state of Gujarat. On this occasion of honour, heritage, and achievements of Gujarat and AdBanao helps you celebrate this festive occasion With more creatively.
                            </p>
                            <div class="text-center text-md-left mx-auto specificBusinessAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Try it Now</samp>
                                    </samp>
                                </a>                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-special-business-branding.png" alt="Gujarat Day branding poster" class="img-fluid  bussines_branding_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event specific business section end -->



            <!--testimonial section end-->
            <%- include ./layouts/partials/event-testimonials.ejs %>
            <!--testimonial section end-->

        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->


</body>

</html>