<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Celebrate Guru Nanak Jayanti ਗੁਰੂ ਨਾਨਕ ਜਯੰਤੀ only on AdBanao app.  get free posters and videos today. 
"        >
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/guru-nanak-jayanti-greetings-images`>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="guru nanak jayanti poster, guru nanak jayanti posters, guru nanak jayanti status. guru nanak jayanti banner ,guru nanak jayanti quotes in hindi, guru nanak jayanti wishes in english
    guru nanak jayanti image download, guru nanak jayanti images download, happy guru nanak jayanti gif, guru nanak jayanti video download, guru nanak jayanti status video , ਗੁਰੂ ਨਾਨਕ ਜਯੰਤੀ , ਗੁਰੂ ਨਾਨਕ
    gurpuraab, guru nanak birthday, guru nanak's birthday,happy gurpurab, guru nanak dev ji birthday,guru nanak dev ji gurpurab, guru nanak gurpurab,gurpurab of guru nanak dev ji,guru nanak dev ji quotes        
    gurpurab wishes, happy guru nanak jayanti, guru nanak jayanti images, guru nanak jayanti poster, gurunanak jayanti poster,guru nanak jayanti photos, guru nanak jayanti posts        
    guru nanak jayanti post, creative poster guru nanak jayanti, guru nanak jayanti creative ads, guru nanak jayanti banner, poster on guru nanak jayanti">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="Celebrate Guru Nanak Jayanti ਗੁਰੂ ਨਾਨਕ ਜਯੰਤੀ only on AdBanao app.  get free posters and videos today. 
        "/>
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="guru nanak jayanti poster, guru nanak jayanti posters, guru nanak jayanti status. guru nanak jayanti banner ,guru nanak jayanti quotes in hindi, guru nanak jayanti wishes in english
        guru nanak jayanti image download, guru nanak jayanti images download, happy guru nanak jayanti gif, guru nanak jayanti video download, guru nanak jayanti status video , ਗੁਰੂ ਨਾਨਕ ਜਯੰਤੀ , ਗੁਰੂ ਨਾਨਕ
        gurpuraab, guru nanak birthday, guru nanak's birthday,happy gurpurab, guru nanak dev ji birthday,guru nanak dev ji gurpurab, guru nanak gurpurab,gurpurab of guru nanak dev ji,guru nanak dev ji quotes        
        gurpurab wishes, happy guru nanak jayanti, guru nanak jayanti images, guru nanak jayanti poster, gurunanak jayanti poster,guru nanak jayanti photos, guru nanak jayanti posts        
        guru nanak jayanti post, creative poster guru nanak jayanti, guru nanak jayanti creative ads, guru nanak jayanti banner, poster on guru nanak jayanti        " />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

    <!--title-->
    <title>Get Guru nanak jayanti posters, videos and more on AdBanao app. </title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
        <link rel="stylesheet" href="/css/events.css">

    <!-- for google analytics -->
    <%- include ./layouts/partials/google-analytics.ejs %>

</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height pt-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h1 class="text-center text-md-left republicDayHead">
                                    Guru Nanak Jayanti Posters & Videos Now
                                </h1>
                                <p class="youWillGetPara text-justify">
                                    Make posters & videos for Guru Nanak Jayanti using the AdBanao app. 
Browse Guru Nanak Jayanti poster templates and edit them using our easiest tools. 
                                </p>
                                
                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                                    <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                        <samp class="btn-design">
                                           <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                  <samp>Download Free Posters Now</samp>
                                        </samp>
                                 </a>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/Gurunanak jayanti/header_section.png" alt="Guru Nanak Jayanti posters" class="img-fluid   img_header">

                        </div>
                    </div>
                </div>

            </section>
            <!--hero section end-->

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium ptb-50" id="ourBrandingMedium">
                <div class="container text-center">
                    <h2 class="text-center">Branding Mediums available for  Guru Nanak Jayanti</h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick"  class="event_tick_img" >
                                    <a href="#festivalPost" class="pl-3">Guru Nanak Jayanti Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">Guru Nanak Jayanti WhatsApp Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick "class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">Guru Nanak Jayanti GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img" >
                                    <a href="#animatedVideos" class="pl-3">Guru Nanak Jayanti Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">Guru Nanak Jayanti Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">Guru Nanak Jayanti Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img" >
                                    <a href="#eventSpecific" class="pl-3">Guru Nanak Jayanti  Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick"  class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Guru Nanak Jayanti Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                        <samp class="btn-design-1">
                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                            <samp>Download Free
                                Posts Now</samp>
                        </samp>
                    </a>
                </div>
            </section>

            <!-- Branding Medium end -->

            <!-- Start Festival post -->
            <section class="FestivalPostSection" id="festivalPost">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/Gurunanak jayanti/festival_post.png" alt="Guru Nanak Jayanti festival posters" class="img-fluid  festival_post_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2  class="text-center text-md-left mx-auto">Festival Posts</h2>
                            <p  class="text-center text-md-left mx-auto">
                                Take your festival celebration to a brand-new scale. 
                                Use AdBanao app to create personalized posters across all festivals. 
                                share on socials & boost your brand.</p>
                            <div  class="text-center text-md-left mx-auto festivalPostAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get Started for
                                            Free</samp>
                                    </samp>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- End Festival post -->

            <!--event videos section start-->
            <section class="event-videos pt-3 pb-4" id="event-videos">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-6 ptb-50">
                            <h2 class="text-center text-md-left mx-auto">Create Guru Nanak Jayanti Video</h2>
                            <p  class="text-center text-md-left mx-auto">
                                Create special videos for Guru Nanak Jayanti with the AdBanao app today. 
                                Use our custom video templates edit it with our simple tools and share it with your audience.
                            </p>
                            <div class="text-center text-md-left mx-auto event-video-anchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Don't wait Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>



                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <img src="/img/eventpage-images/Gurunanak jayanti/videos.png" alt="Guru Nanak Jayanti video poster" class="img-fluid  event_video_img">
                        </div>


                    </div>


                </div>
            </section>
            <!--event videos section end-->


            <!--event whats app sticker section start -->
            <section class="whatsAppStickerSection" id="whatsAppSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv">
                            <img src="./img/republic/republic-whatsapp-sticker.png" alt="Guru Nanak Jayanti whatsapp sticker poster" class="" >
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Guru Nanak Jayanti Whatsapp Stickers </h2>
                            <p class="text-black text-center text-md-left mx-auto" >
                                Make your own personalized WhatsApp stickers with the AdBanao app. 
                                Choose from our range of templates, add stickers in WhatsApp, and share with everyone.
                            </p>
                            <div  class="text-center text-md-left mx-auto whatsAppStickerAnchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Find Out More</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--event whats app sticker section end -->

            <!--event Audio Jingle section start -->
            <section class="audioJingleSection ptb-50" id="audioJingle">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Guru Nanak Jayanti With Audio Jingles</h2>
                            <p class="text-black text-center text-md-left mx-auto" >
                                Happy Guru Nanak Jayanti - Our range of audio jingles will make a big impact on your social branding. 
                                choose the best audio jingles 
                                select your sound loop and share exclusive jingle today.
                            </p>
                            <div  class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get it Now</samp>
                                    </samp>
                                </a>                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/audio-jingle.png" alt="Guru Nanak Jayanti audio jingle poster" class="img-fluid  audio_jingle_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event Audio Jingle section end -->

            <!--event GIF stickers section start -->
            <section class="GIFStickerSection yellow-bg" id="GIFSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-gif-sticker.png" alt="Guru Nanak Jayanti gif sticker poster" class="img-fluid event_gif_sticker">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2  class="text-center text-md-left mx-auto">Guru Nanak Jayanti GIF Stickers</h2>
                            <p  class="text-center text-md-left mx-auto">
                                Create Guru Nanak Jayanti GIF stickers with AdBanao app. 
                                Choose from a wide range of ready-made templates and customize them today. 
                                
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #4d4d4d !important;color: #ffffff;">Download your posts</a>
              </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!--event GIF stickers section end -->

            <!--event specific and hashtags section start -->
            <section class="eventSpecificSection" id="eventSpecific">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Captions & Hashtags For Guru Nanak Jayanti Day </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Use AdBanao app's exclusive feature to improve your social media visibility. 
Reach the right audience with our targeted hashtags and captions.
                            </p>
                           
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Gurunanak jayanti/caption_hashtag.png" alt="Guru Nanak Jayanti caption and hashtags poster" class="img-fluid event_specific_img">
                        </div>
                    </div>
                </div>
            </section>

            <!--event specific and hashtags section end -->


            <!--event Audio Jingle section start -->
            <section class="animatedVideosSection" id="animatedVideos">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-animated-videos.png" alt="Guru Nanak Jayanti animated video poster" class="img-fluid  animated_video_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Guru Nanak Jayanti Animated Video</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Share your Guru Nanak Jayanti gratitude with our Animated Videos.
choose from our customize templates , edit and share them on social media platforms . try now.
                            </p>
                            <div class="text-center text-md-left mx-auto animatedVideosAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Click Here to Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--event Audio Jingle section end -->


            <!--event specific business section start -->
            <section class="specificBusinessSection" id="specificBusiness">
                <div class="container pt-4 pb-4">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2  class="text-center text-md-left mx-auto">Business Branding post
                            </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Boost your brand's value. Choose from 100+ varieties of industries, 
                                create a stunning design with simple editing options, and take your business branding to the next level.
                            </p>
                            <div class="text-center text-md-left mx-auto specificBusinessAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Try it Now</samp>
                                    </samp>
                                </a>                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-special-business-branding.png" alt="Guru Nanak Jayanti branding poster" class="img-fluid  bussines_branding_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event specific business section end -->


            <!--testimonial section end-->
            <%- include ./layouts/partials/event-testimonials.ejs %>
            <!--testimonial section end-->

        


        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


        <!-- script start -->
        <%- include ./layouts/partials/scripts.ejs %>
        <!-- script end -->


</body>

</html>