<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description" content="On the Auspicious Occasion of Guru Gobind Singh Jayanti, let's Create Guru Gobind Singh Jayanti
        posters and videos with Adbanao App, you can easily create beautiful posts and
        videos to celebrate Guru Gobind Singh Jayanti.">
    <meta name="author" content="Accucia Softwares Pvt. Ltd.">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/guru-gobind-singh-jayanti-posters-banner`>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="guru gobind singh, guru govind, shri guru gobind singh ji, गुरु गोबिंद सिंह, guru gobind singh ji birthday, happy guru gobind singh jayanti, guru gobind singh birthday        
    guru gobind singh jayanti wishes, guru gobind singh jayanti 2022 wishes, guru gobind singh jayanti quotes, guru gobind singh jayanti poster, guru gobind singh jayanti images, guru gobind singh jayanti wishes in hindi        
    happy birthday guru gobind singh ji, guru gobind singh ji, guru gobind singh jayanti, guru gobind singh videos, guru gobind singh ji video download, guru gobind whatsapp status, ਸ੍ਰੀ ਗੁਰੂ ਗੋਬਿੰਦ ਸਿੰਘ ਜੀ, ਗੁਰੂ ਗੋਬਿੰਦ ਸਿੰਘ ਜੀ ਦਾ ਵਿਆਹ,ਗੁਰੂ ਗੋਬਿੰਦ ਸਿੰਘ ਜੀ ਦੇ ਕਿੰਨੇ ਵਿਆਹ ਹੋਏ ਸਨ, ਸ੍ਰੀ ਗੁਰੂ ਗੋਬਿੰਦ ਸਿੰਘ ਜੀ jayanti
    
     ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description" content="On the Auspicious Occasion of Guru Gobind Singh Jayanti, let's Create Guru Gobind Singh Jayanti
        posters and videos with Adbanao App, you can easily create beautiful posts and
        videos to celebrate Guru Gobind Singh Jayanti." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords" content="guru gobind singh, guru govind, shri guru gobind singh ji, गुरु गोबिंद सिंह, guru gobind singh ji birthday, happy guru gobind singh jayanti, guru gobind singh birthday        
    guru gobind singh jayanti wishes, guru gobind singh jayanti 2022 wishes, guru gobind singh jayanti quotes, guru gobind singh jayanti poster, guru gobind singh jayanti images, guru gobind singh jayanti wishes in hindi        
    happy birthday guru gobind singh ji, guru gobind singh ji, guru gobind singh jayanti, guru gobind singh videos, guru gobind singh ji video download, guru gobind whatsapp status, ਸ੍ਰੀ ਗੁਰੂ ਗੋਬਿੰਦ ਸਿੰਘ ਜੀ, ਗੁਰੂ ਗੋਬਿੰਦ ਸਿੰਘ ਜੀ ਦਾ ਵਿਆਹ,ਗੁਰੂ ਗੋਬਿੰਦ ਸਿੰਘ ਜੀ ਦੇ ਕਿੰਨੇ ਵਿਆਹ ਹੋਏ ਸਨ, ਸ੍ਰੀ ਗੁਰੂ ਗੋਬਿੰਦ ਸਿੰਘ ਜੀ jayanti
    
           
        " />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

        <!--title-->
        <title>Create Guru Gobind Singh Jayanti Posters And Videos Now!</title>

        <!--favicon icon-->
        <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

        <!--custom css-->
        <%- include ./layouts/partials/styles.ejs %>
            <link rel="stylesheet" href="/css/events.css">

            <!-- for google analytics -->
            <%- include ./layouts/partials/google-analytics.ejs %>
            <style>
                .festival_post_img {
                width: 170px;
            }
            </style>
</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height ptb-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h2 class="text-center text-md-left republicDayHead">
                                    Create Guru Gobind Singh Jayanti Posters & Videos Now
                                </h2>
                                <p class="youWillGetPara text-center text-md-left">
                                    Celebrate birth anniversary of Sikh Guru Gobind Singh Ji with a fantastic video
                                    using AdBanao's app.
                                    Easily create amazing videos and posts and share them online.
                                </p>

                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                                    <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                        <samp class="btn-design">
                                           <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                  <samp>Download Free Posters Now</samp>
                                        </samp>
                                 </a>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/guru-gobind/Guru Gobind Singh Jayanti Header Section.png" alt="Guru Gobind Singh Jayanti poster"
                                class="img-fluid img_header">

                        </div>
                    </div>
                </div>

            </section>
            <!--hero section end-->

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium ptb-50" id="ourBrandingMedium">
                <div class="container text-center">
                    <h2 class="text-center">Branding Mediums available for Guru Gobind Singh Jayanti</h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex justify-content-md-center justify-content-sm-start">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#festivalPost" class="pl-3">Festival Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">Guru Gobind Singh Jayanti WhatsApp
                                        Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">Guru Gobind Singh Jayanti GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#animatedVideos" class="pl-3">Guru Gobind Singh Jayanti Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-md-center justify-content-sm-start">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">Guru Gobind Singh Jayanti Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">Guru Gobind Singh Jayanti Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#eventSpecific" class="pl-3">Event Special Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Business Branding Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                        <samp class="btn-design-1">
                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                            <samp>Download Free
                                Posts Now</samp>
                        </samp>
                    </a>

                </div>
            </section>

            <!-- Branding Medium end -->

            <!-- Start Festival post -->
            <section class="FestivalPostSection" id="festivalPost">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/guru-gobind/Guru Gobind Singh Jayanti Festival Post.png"
                                alt="Guru Gobind Singh Jayanti festival poster" class="img-fluid festival_post_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto"> Festival Posts</h2>
                            <p class="text-center text-md-left mx-auto">
                                AdBanao is your Ultimate partner for festivals.
                                Get all Indian festivals creatives, videos , posters and much throughout the year only
                                on AdBanao app. Try Now.
                            </p>
                            <div class="text-center text-md-left mx-auto festivalPostAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get Started for
                                            Free</samp>
                                    </samp>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- End Festival post -->

            <!--event videos section start-->
            <section class="event-videos pt-3 pb-4" id="event-videos">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-6 ptb-50">
                            <h2 class="text-center text-md-left mx-auto">Create Guru Gobind Singh Jayanti Video</h2>
                            <p class="text-center text-md-left mx-auto">
                                Ik Onkar: Share the message of Guru Gobind Singh Ji on his Jayanti with the AdBanao app.
                                Create special videos, include your details in videos, and bless everyone's timeline.
                            <div style="" class="text-center text-md-left mx-auto event-video-anchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Don't wait Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>



                        </div>
                        <div class="col-12 col-md-6 text-center pt-3">
                            <img src="/img/eventpage-images/guru-gobind/Guru Gobind Singh Jayanti Videos.png" alt="Guru Gobind Singh Jayanti videos poster"
                                class="img-fluid event_video_img">
                        </div>





                    </div>


                </div>
            </section>
            <!--event videos section end-->


            <!--event whats app sticker section start -->
            <section class="whatsAppStickerSection" id="whatsAppSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv" style="">
                            <img src="/img/eventpage-images/guru-gobind/Guru Gobind Singh Jayanti WhatsApp Sticker.png"
                                alt="Guru Gobind Singh Jayanti whatsapp sticker poster">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto pt-3">
                            <h2 style="" class="text-center text-md-left mx-auto">
                                Guru Gobind Singh Jayanti Whatsapp Stickers </h2>
                            <p class=" text-center text-md-left mx-auto">
                                Waheguru - Get blessings of Guru Gobind Singh ji With AdBanao app WhatsApp stickers.
                                Customize & Choose stickers, add them on WhatsApp and share now.

                            </p>
                            <div style="" class="text-center text-md-left mx-auto whatsAppStickerAnchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Find Out More</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--event whats app sticker section end -->

            <!--event Audio Jingle section start -->
            <section class="audioJingleSection ptb-50" id="audioJingle">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Guru Gobind Singh Jayanti With Audio Jingles
                            </h2>
                            <p class=" text-center text-md-left mx-auto" style="">
                                Chirion se main baaz turaun,
                                Tabe Gobind Singh naam kahaun: 
                                Create special Audio Jingles for Guru Gobind Singh Jayanti with the AdBanao app. 
                                Choose from our sound loops or add your own audio and make an extra-special jingle today.
                            </p>
                            <div class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/audio-jingle.png" alt="Guru Gobind Singh Jayanti audio jingle poster"
                                class="img-fluid audio_jingle_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event Audio Jingle section end -->

            <!--event GIF stickers section start -->
            <section class="GIFStickerSection yellow-bg" id="GIFSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-gif-sticker.png"
                                alt="Guru Gobind Singh Jayanti gif sticker poster" class="img-fluid event_gif_sticker">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto">Guru Gobind Singh Jayanti GIF Stickers</h2>
                            <p class="text-center text-md-left mx-auto">
                                ਸ਼ਾਨ ਏ ਪੰਜਾਬ - AdBanao's app brings you exclusive GIF stickers for this Guru Gobind Singh JI Jayanti.
                                Create your own GIF with videos, or download our special GIF stickers and share them online.
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #4d4d4d !important;color: #ffffff;">Download your posts</a>
              </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!--event GIF stickers section end -->

            <!--event specific and hashtags section start -->
            <section class="eventSpecificSection" id="eventSpecific">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Captions & Hashtags For Guru Gobind Singh Jayanti </h2>
                            <p class=" text-center text-md-left mx-auto">
                                Discover the best captions and hashtags for this Guru Gobind Singh Jayanti only on the AdBanao app.
                                Make your post trending on this blissful day and share the happiness with everyone.
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto eventSpecificAnchorDiv">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #FDC705 !important;color: #000000;">Download Captions & Hashtags</a>
              </div> -->
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/republic/republic-event-specific.png"
                                alt="Guru Gobind Singh Jayanti caption and hashtags poster"
                                class="img-fluid event_specific_img">
                        </div>
                    </div>
                </div>
            </section>

            <!--event specific and hashtags section end -->


            <!--event Audio Jingle section start -->
            <section class="animatedVideosSection" id="animatedVideos">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/guru-gobind/Guru Gobind Singh Animated Videos.png"
                                alt="Guru Gobind Singh Jayanti animated video poster"
                                class="img-fluid animated_video_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto">Guru Gobind Singh Jayanti Animated Video</h2>
                            <p class=" text-center text-md-left mx-auto">
                                JO BOLE SO NIHAL, SAT SRI AKAL: Make this Guru Gobind Singh Jayanti spectacular with AdBanao's animated videos. 
                                Edit in two simple steps, download, and share with everyone!
                            </p>
                            <div class="text-center text-md-left mx-auto animatedVideosAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Click Here to Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--event Audio Jingle section end -->


            <!--event specific business section start -->
            <section class="specificBusinessSection mb-5" id="specificBusiness">
                <div class="container pt-4 pb-4">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Business Branding post
                            </h2>
                            <p class=" text-center text-md-left mx-auto">
                                "Boost your brand's value. Choose from 150+ varieties of industries, 
                                Create a stunning design with simple editing options, and take your business branding to the next level."
                            </p>
                            <div class="text-center text-md-left mx-auto specificBusinessAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Try it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/republic/republic-special-business-branding.png"
                                alt="Guru Gobind Singh Jayanti business branding poster"
                                class="img-fluid bussines_branding_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event specific business section end -->



            <!--testimonial section end-->
            <%- include ./layouts/partials/event-testimonials.ejs %>
                <!--testimonial section end-->

        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->


</body>

</html>