<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Create Hariyali Teej Posters Images Wishes  and videos with personalized texts and images with the AdBanao app for Karnataka Elections 2023.  
        Support your party today. ">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/Hariyali-teej-greetings-posters-banners`>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="hariyali teej images,happy hariyali teej images,hariyali teej status,hariyali teej photo hariyali teej status video, hariyali teej poster, hariyali teej posters
    hariyali teej ki photo, hariyali teej pictures, hariyali teej wallpaper, hariyali teej ke status,hariyali teej video,">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="Create hariyali teej personalized poster and videos for this karnataka election with adbanao app. 
        customize our templates with images. fonts ,videos and many more features. "/>
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="hariyali teej images,happy hariyali teej images,hariyali teej status,hariyali teej photo hariyali teej status video, hariyali teej poster, hariyali teej posters
        hariyali teej ki photo, hariyali teej pictures, hariyali teej wallpaper, hariyali teej ke status,hariyali teej video," />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

    <!--title-->
    <title>Create Hariyali Teej posters & videos now</title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
        <link rel="stylesheet" href="/css/events.css">


    <!-- for google analytics -->
    <%- include ./layouts/partials/google-analytics.ejs %>

</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height pt-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h1 class="text-center text-md-left republicDayHead">
                                    Create Hariyali Teej  Posters & Videos Now
                                </h1>
                                <p class="youWillGetPara text-justify">
                                    Get ready to make this Hariyali Teej an unforgettable celebration with the AdBanao App.Create exciting videos and posters for this festive occasion. 
                                </p>
                                
                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                                    <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                        <samp class="btn-design">
                                           <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                  <samp>Download Free Posters Now</samp>
                                        </samp>
                                 </a>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/Hariyali Teej/Hariyali Teej_Header Section.png" alt="Hariyali Teej posters" class="img-fluid   img_header">

                        </div>
                    </div>
                </div>

            </section>
            <!--hero section end-->

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium ptb-50" id="ourBrandingMedium">
                <div class="container text-center">
                    <h2 class="text-center">Branding Mediums available for Hariyali Teej  </h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick"  class="event_tick_img" >
                                    <a href="#festivalPost" class="pl-3">Hariyali Teej  Day Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">Hariyali Teej WhatsApp Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick "class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">Hariyali Teej  GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img" >
                                    <a href="#animatedVideos" class="pl-3">Hariyali Teej  Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">Hariyali Teej  Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">Hariyali Teej  Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img" >
                                    <a href="#eventSpecific" class="pl-3">Hariyali Teej  Special Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick"  class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Hariyali Teej  Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                        <samp class="btn-design-1">
                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                            <samp>Download Free
                                Posts Now</samp>
                        </samp>
                    </a>
                </div>
            </section>

            <!-- Branding Medium end -->

            <!-- Start Festival post -->
            <section class="FestivalPostSection" id="festivalPost">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/Hariyali Teej/Hariyali Teej_Festival Post.png" alt="Hariyali Teej festival post" class="img-fluid" width="400px">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2  class="text-center text-md-left mx-auto">Festival Posts</h2>
                            <p  class="text-center text-md-left mx-auto">
                                Create your own festival posters by using the AdBanao app.
                                Make eye-catching festival-themed animations in minutes and expand your online presence. Download the App Now!
                            </p>
                            <div  class="text-center text-md-left mx-auto festivalPostAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get Started for
                                            Free</samp>
                                    </samp>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- End Festival post -->

            <!--event videos section start-->
            <section class="event-videos pt-3 pb-4" id="event-videos">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-6 ptb-50">
                            <h2 class="text-center text-md-left mx-auto"> Create Hariyali Teej  Video</h2>
                            <p  class="text-center text-md-left mx-auto">
                                Create and share a unique video of Hariyali Teej with your own videos, images, and text. Download the AdBanao app now!
                            </p>
                            <div class="text-center text-md-left mx-auto event-video-anchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Don't wait Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>



                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <img src="/img/eventpage-images/Hariyali Teej/Hariyali Teej_Festival Post.png" alt="Create Hariyali Teej videos" class="img-fluid  event_video_img">
                        </div>


                    </div>


                </div>
            </section>
            <!--event videos section end-->


            <!--event whats app sticker section start -->
            <section class="whatsAppStickerSection" id="whatsAppSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv">
                            <img src="./img/eventpage-images/Karnatka Election Event Page/WhatsApp Sticker.png" alt="Hariyali Teej whatsapp sticker" class="" >
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Hariyali Teej  Whatsapp Stickers</h2>
                            <p class="text-black text-center text-md-left mx-auto" >
                                Let's sprinkle some festive magic on your Hariyali Teej celebrations with vibrant WhatsApp stickers from the AdBanao App. 
                                Be quick! Download Now 
                            </p>
                            <div  class="text-center text-md-left mx-auto whatsAppStickerAnchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Find Out More</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--event whats app sticker section end -->

            <!--event Audio Jingle section start -->
            <section class="audioJingleSection ptb-50" id="audioJingle">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Hariyali Teej  With Audio Jingles</h2>
                            <p class="text-black text-center text-md-left mx-auto" >
                                On the occasion of Hariyali Teej Get ready to immerse yourself in joy with AdBanao's vibrant audio jingle. Let your creativity soar with our special Hariyali Teej jingles. Happy Hariyali Teej!
                            </p>
                            <div  class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get it Now</samp>
                                    </samp>
                                </a>                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/audio-jingle.png" alt="Hariyali Teej Audio Jingles" class="img-fluid  audio_jingle_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event Audio Jingle section end -->

            <!--event GIF stickers section start -->
            <section class="GIFStickerSection yellow-bg" id="GIFSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Karnatka Election Event Page/Gif Sticker.png" alt="Hariyali Teej GIF stickers" class="img-fluid event_gif_sticker">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2  class="text-center text-md-left mx-auto">Hariyali Teej GIF Stickers</h2>
                            <p  class="text-center text-md-left mx-auto">
                                Happy Hariyali Teej! Let's celebrate the beauty of Hariyali Teej by sharing the AdBanao App's customized GIF Stickers with your clients, family, and friends.
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #4d4d4d !important;color: #ffffff;">Download your posts</a>
              </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!--event GIF stickers section end -->

            <!--event specific and hashtags section start -->
            <section class="eventSpecificSection" id="eventSpecific">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Captions & Hashtags For Hariyali Teej   </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Celebrate the vibrant festival of Hariyali Teej by boosting your social media presence with trendy captions and hashtags.
                                The AdBanao app's unique feature helps you boost your social branding.
                            </p>
                           
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Hariyali Teej/Hariyali Teej_Caption_Hashtag.png" alt="Captions & Hashtags for Hariyali Teej" class="img-fluid event_specific_img">
                        </div>
                    </div>
                </div>
            </section>

            <!--event specific and hashtags section end -->


            <!--event Audio Jingle section start -->
            <section class="animatedVideosSection" id="animatedVideos">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Hariyali Teej/Hariyali Teej_Animated Videos.png" alt="Animated Hariyali Teej Video Content." class="img-fluid  animated_video_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Hariyali Teej  Animated Video</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Boost your business's online presence and user engagement by use AdBanao app to make awesome animated videos for this Hariyali Teej.
Create, download, and share now.
                            </p>
                            <div class="text-center text-md-left mx-auto animatedVideosAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Click Here to Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--event Audio Jingle section end -->


            <!--event specific business section start -->
            <section class="specificBusinessSection" id="specificBusiness">
                <div class="container pt-4 pb-4">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2  class="text-center text-md-left mx-auto">Business Branding Post
                            </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Boost your brand's value. Choose from 100+ varieties of industries, 
                                create a stunning design with simple editing options, and take your business branding to the next level.
                            </p>
                            <div class="text-center text-md-left mx-auto specificBusinessAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Try it Now</samp>
                                    </samp>
                                </a>                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Hariyali Teej/Hariyali Teej_Business Branding Post.png" alt="Hariyali Teej Business Branding Post" class="img-fluid  bussines_branding_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event specific business section end -->


            <!--testimonial section end-->
            <%- include ./layouts/partials/event-testimonials.ejs %>
            <!--testimonial section end-->

        


        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


        <!-- script start -->
        <%- include ./layouts/partials/scripts.ejs %>
        <!-- script end -->


</body>

</html>