<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- SEO Meta description -->
  <meta name="description"
    content="Stay on top of customer's minds! Create unique Hospital & Clinic Posts, Posters, Templates, Video, Logo & Flyers in just a few clicks and share on social media.">
  <meta name="author" content="Accucia Softwares Pvt. Ltd.">
  <meta data-id="image" property="og:image" content="/img/industryimages/health_and_wellness.jpg">
  <link rel="canonical" href="https://www.adbanao.com/img/industryimages/health_and_wellness.jpg">
  <meta data-id="site_name" property="og:site_name" content="<%= process.env.BASE_URL %>/hospital-clinics-posts">
  <meta name="language" content="en">

  <!-- Meta Keyword-->
  <meta name="keywords" content="hospital & clinics banner designs
  hospital banner
  clinic banner design
  hospital banner design
  hospital advertisement banner
  hospital & clinics banner designs
  hospital banner
  clinic banner design
  hospital banner design
  hospital advertisement banner
">

  <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
  <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
  <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
  <meta property="og:title" content="Hospital and Clinic" /> <!-- title shown in the actual shared post -->
  <meta property="og:description" name="description"
    content="Stay on top of customer's minds! Create unique Hospital & Clinic Posts, Posters, Templates, Video, Logo & Flyers in just a few clicks and share on social media." />
  <!-- description shown in the actual shared post -->

  <meta property="og:keywords" name="keywords" content="hospital & clinics banner designs
    hospital banner
    clinic banner design
    hospital banner design
    hospital advertisement banner
    hospital & clinics banner designs
    hospital banner
    clinic banner design
    hospital banner design
    hospital advertisement banner" />
  <!-- image link, make sure it's jpg -->
  <meta property="og:url" content="<%= process.env.BASE_URL %>/hospital-clinics-post" />
  <!-- where do you want your post to link to -->
  <meta property="og:type" content="article" />
  <%- include ./layouts/partials/meta.ejs %>

    <!--title-->
    <title>Clinic Poster | Hospital Branding ideas | Clinic advertisement idea</title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
      <link rel="stylesheet" href="/css/industry.css">

      <!-- for google analytics -->
      <%- include ./layouts/partials/google-analytics.ejs %>

</head>

<body>

  <!-- Pre-loader start -->
  <%- include ./layouts/partials/pre-loader.ejs %>
    <!-- Pre-loader end -->

    <!-- header start -->
    <header class="header">
      <%- include ./layouts/partials/navbar.ejs %>
    </header>
    <!-- header end -->


    <!--body content wrap start-->
    <div class="main">

      <section class="hero-equal-height gradient-overlay-wave eventSection">
        <div class="container eventContainer">
          <div class="row align-items-center">

            <div class="col-md-6 col-lg-6 text-center">
              <img src="/img/industryimages_new/hospital_clinic/hospital_clinic.png"
                alt="hospital & clinics banner designs" class="img-fluid">
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-2 event-left-section">

                <h1 class="text-center text-md-left republicDayHead">
                  Hospital and Clinic Posters and Videos

                </h1>
                <p class="youWillGetPara text-justify">
                  Advertising for Hospitals and Clinics is an important way to spread the word about the services
                  and care you offer.<b> AdBanao App</b> can help bring in new patients and help build trust with
                  existing
                  patients. It is important to create effective <b>Advertising Posters, Campaigns</b> in order to reach
                  the
                  right audience and get the best results.


                </p>

                <div class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                  <a href="https://adbanao.page.link/Health" type="button" class="btn downloadFreePost new-btn  ptb-3">
                    <samp class="btn-design">
                       <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                              <samp>Get Started for Free</samp>
                    </samp>
             </a>
                </div>




              </div>
            </div>



          </div>
        </div>

        <div class="bannerTemplateBackgroundAnimation">
          <img src="/img/sub-industry-scroll-bg.png" alt="sub industries">
        </div>

        <div class="shape-bottom overflow-hidden">
          <img src="img/hero-shape.svg" alt="shape" class="bottom-shape">
        </div>

      </section>
      <!--hero section end-->

      <!-- what we offer start -->
      <section class="ourBrandingMedium pt-3 pb-3" id="ourBrandingMedium">
        <div class="container text-center">
          <h2 class="text-center">What Do We Offer  &#63;</h2>
          <div class="row mt-5">



            <div class="col-12 col-md-6 d-flex justify-content-center">

              <ul class="d-flex justify-content-center justify-content-md-start flex-column offer_section">


                <li class="d-flex justify-content-start align-items-center mb-3">
                  <h5 class="text-left">
                    Design a Unique brand image to strengthen your Hospital and Clinic Business. </h5>

                </li>

                <li class="d-flex justify-content-start align-items-center mb-3 offer_item">
                  <img src="/img/event-tick.png" alt="event-tick">
                  <a href="#event-videos" class="pl-3">Hospitals & Clinics Branding Posts</a>
                </li>

                <li class="d-flex justify-content-start align-items-center mb-3 offer_item">
                  <img src="/img/event-tick.png" alt="event-tick">
                  <a href="#whatsAppSticker" class="pl-3">Clinics WhatsApp Stickers</a>
                </li>

                <li class="d-flex justify-content-start align-items-center mb-3 offer_item">
                  <img src="/img/event-tick.png" alt="event-tick">
                  <a href="#event-videos" class="pl-3">Event Specific Posts</a>
                </li>

                <li class="d-flex justify-content-start align-items-center mb-3 offer_item">
                  <img src="/img/event-tick.png" alt="event-tick">
                  <a href="#audioJingle" class="pl-3">Industry Special Business cards</a>
                </li>

                <li class="d-flex justify-content-start align-items-center mb-3 offer_item">
                  <img src="/img/event-tick.png" alt="event-tick">
                  <a href="#GIFSticker" class="pl-3">Hospitals & Clinics Industry Logos Library</a>
                </li>

                <li class="d-flex justify-content-start align-items-center mb-3 offer_item">
                  <img src="/img/event-tick.png" alt="event-tick">
                  <a href="#eventSpecific" class="pl-3">Creative Product Ads</a>
                </li>

                <li class="d-flex justify-content-start align-items-center mb-3 offer_item">
                  <img src="/img/event-tick.png" alt="event-tick">
                  <a href="#animatedVideos" class="pl-3">40+ Sub Industries Content
                  </a>
                </li>


              </ul>
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-center">
              <img src="/img/industryimages_new/hospital_clinic/hospital_offer.png"
                alt="hospital & clinics offer banner" class="img-fluid" 
 style="width:100%";>
            </div>




          </div>

        </div>
      </section>

      <!-- what we offer end -->

      <!-- Start Festival post -->
      <section class="FestivalPostSection" id="festivalPost">
        <div class="container-fluid pt-4 pb-4">
          <div class="row">
            <div class="col-12 col-md-6  text-center d-flex justify-content-center align-items-center">
              <img src="/img/industryimages_new/hospital_clinic/hospital_beneficial.png "
                alt="hospital & clinics benifical poster" class="img-fluid" 
 style="width:100%";>
            </div>
            <!-- it is beneficial for your Industry PNG-min.png -->
            <div class="col-12 col-md-6  text-left my-auto">
              <h2 class="text-center text-md-left">How it is beneficial for your Industry ?</h2>
              <p class="text-justify">
                We help you to create <b>stylish and professional posters </b>with ease and promote your Clinic or
                Hospital
                with a unique look. We also provide you multiple <b> greetings and remembrance posters </b>to wish your
                loved ones or customers. Make your offer Ads, Product Ads, Event Ads more exciting with Adbanao.

              </p>



            </div>
          </div>
        </div>
      </section>
      <!-- End Festival post -->

      <!--Special Business Branding Posts start-->
      <section class="event-videos" id="event-videos">
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-6 ptb-50">
              <h2 class="text-center text-md-left mx-auto">Hospital & Clinic Branding Posts
              </h2>
              <p class="text-justify mx-auto">
                Your branding posts should focus on how the hospital or clinic is creating an <b>Engaging Experience</b>
                for its patients and staff. Posts should emphasise the Unique Features and amenities a hospital or
                clinic offers. They may also include <b>Images and Stories</b> that showcase the hospital or clinic’s
                commitment to providing quality care. <b>Try It Now</b>

              </p>
              <div class="text-center text-md-left mx-auto event-video-anchor">
                <a href="https://adbanao.page.link/Health" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                  <samp class="btn-design-1">
                      <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                      <samp>Grab It Now</samp>
                  </samp>
              </a>
              </div>

            </div>
            <div
              class="col-12 col-md-6 text-center d-flex justify-content-center align-items-center business_brand_img">
              <img src="/img/industryimages_new/hospital_clinic/hospital_branding.png"
                alt="hospital & clinics business branding poster" class="img-fluid">
            </div>

          </div>

        </div>
      </section>
      <!--Special Business Branding Posts end-->


      <!--event whats app sticker section start -->
      <section class="whatsAppStickerSection pt-3 pb-3" id="whatsAppSticker">
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv d-flex justify-content-center align-items-center">
              <img src="/img/industryimages_new/hospital_clinic/hospital_whatsapp_stickers.png"
                alt="hospital & clinics whatsapp sticker" class="" style="">
            </div>
            <div class="col-12 col-md-6 col-lg-6 my-auto">
              <h2 style="" class="text-center text-md-left mx-auto">Clinic Whatsapp Stickers
              </h2>
              <p class=" text-justify mx-auto" style="">
                <b> AdBanao WhatsApp Sticker pack</b> features a variety of hospital and clinic-themed designs. The
                sticker
                pack includes a variety of stickers that represent different aspects of hospital and clinic
                services, such as <b>Nurses, Doctors, Patients, and Medical Equipment</b>. These stickers can be used to
                express gratitude, show encouragement, and even make a funny joke.
              </p>
              <div style="" class="text-center text-md-left whatsAppStickerAnchor mx-auto">
                <a href="https://adbanao.page.link/Health" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                  <samp class="btn-design-1">
                      <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                      <samp>Try It Now</samp>
                  </samp>
              </a>

              </div>
            </div>

          </div>
        </div>
      </section>
      <!--event whats app sticker section end -->

      <!--event Audio Jingle section start -->
      <section class="audioJingleSection" id="audioJingle">
        <div class="container pt-4 pb-4">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
              <h2 style="" class="text-center text-md-left mx-auto">Industry Special Business Cards</h2>
              <p class="text-black text-justify mx-auto" style="">
                AdBanao App special business cards are designed to help promote the services offered by You. The
                Creative cards include the <b>Name, Logo of the hospital or clinic, contact information, address and
                  website address</b>. The cards also provide a brief overview of the services offered, such as primary
                care, specialty care, emergency services, and more. The cards are designed to be distributed to
                current and prospective patients and can be used to generate referrals and increase visibility.
              </p>
              <div style="" class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                <a href="https://adbanao.page.link/Health" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                  <samp class="btn-design-1">
                      <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                      <samp>Purchase Now</samp>
                  </samp>
              </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 text-center business_card_img">
              <img src="/img/industryimages_new/hospital_clinic/hospital_card.png"
                alt="hospital & clinics business card poster" class="img-fluid">
            </div>
          </div>
        </div>
      </section>
      <!--event Audio Jingle section end -->

      <!--event GIF stickers section start -->
      <section class="GIFStickerSection yellow-bg" id="GIFSticker">
        <div class="container pt-4 pb-4">
          <div class="row">
            <div
              class="col-12 col-md-6 col-lg-6 text-center d-flex justify-content-center align-items-center GIFSticker_img">
              <img src="/img/industryimages_new/hospital_clinic/hospital_logo.png"
                alt=" logo for hospital & clinics poster" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
              <h2 style="" class="text-center text-md-left mx-auto">Hospital and Clinic Industry Logo Library
              </h2>
              <p style="" class="text-justify mx-auto">
                <b>Don't have a Business Logo? Nothing to worry about! You've got our back.
                  Choose from a huge library of Free Logos of Hospital & Clinic or talk to our Creative Team now & get
                  your unique Logo designed</b>. You can select from a wide range of logo designs, customize them with
                your own text, images, and colours and preview the logo before you download it.
              </p>
              <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="https://adbanao.page.link/Health" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                  <samp class="btn-design-1">
                      <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                      <samp>Click to Buy</samp>
                  </samp>
              </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--event GIF stickers section end -->

      <!--event specific and hashtags section start -->
      <section class="eventSpecificSection" id="eventSpecific">
        <div class="container pt-4 pb-4">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
              <h2 style="" class="text-center text-md-left mx-auto">Creative Product Ads
              </h2>
              <p class="text-black text-justify mx-auto" style="">
                Hospitals and clinics offer a range of medical services and products to patients. This can include
                diagnostic testing, treatments, prescription medications, medical equipment, and other products and
                services necessary for patient care. With the AdBanao app, hospitals and clinics can easily create
                and manage product ads.
              </p>
              <div style="" class="text-center text-md-left mx-auto eventSpecificAnchorDiv">
                <a href="https://adbanao.page.link/Health" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                  <samp class="btn-design-1">
                      <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                      <samp>Click Here to download Now</samp>
                  </samp>
              </a>
              </div>
            </div>
            <div
              class="col-12 col-md-6 col-lg-6 text-center d-flex justify-content-center align-items-center product_img">
              <img src="/img/industryimages_new/hospital_clinic/product_ads.png" alt="hospital & clinics product poster"
                class="img-fluid">
            </div>
          </div>
        </div>
      </section>

      <!--event specific and hashtags section end -->


      <!--event Audio Jingle section start -->
      <section class="animatedVideosSection pt-3 pb-3 mb-5" id="animatedVideos">
        <div class="container">
          <div class="row">

            <div class="col-12 col-md-6 col-lg-6 text-center d-flex justify-content-center align-items-center">
              <img src="/img/industryimages_new/hospital_clinic/hospital_content.png"
                alt="hospital & clinics content poster" class="img-fluid" style="width:80%;">
            </div>

            <div class="col-12 col-md-6 col-lg-6 my-auto">
              <h2 style="" class="text-center text-md-left mx-auto">Hospital and Clinic Multiple Sub Industries
                Content
              </h2>
              <p class=" text-justify mx-auto" style="" class="">
                Let us help you with advertising posters for more than 40+ different sub-industries like <b>Maternity
                  Hospital, General Surgeons, Child Care Treatment, Cardiac Hospitals, Eye Hospital, Rehab Centre,
                  Homoeopathy, Pathology Labs and ECG</b>. Using innovative Flyers, Images, Videos, and Templates
                Advertise your business sector. Grab the opportunity now!
              </p>

            </div>



          </div>
        </div>
      </section>
      <!--event keyword section start -->
      <section class="animatedVideosSection pt-3 pb-3 mb-5" id="animatedVideos">
        <div class="container">
          <div class="row">

            <!-- <div class="col-12 col-md-6 col-lg-6 text-center d-flex justify-content-center align-items-center">
                            <img src="/img/industryimages_new/hotel_new/hotel_content.png"
                              alt="hotel,restaurant & lodging content poster" class="img-fluid" style="width:80%;">
                          </div> -->

            <div class="col-12 col-md-12 col-lg-12 my-auto newHyperLinks">
              <h3 class="text-center text-md-left ">Posters and videos are ready for your  Hospital and Clinic business.
                Check out our more categories now.</h3>
              <div class="extraTag">

              </div>
              </p>
            </div>
          </div>
        </div>
      </section>

      <!--testimonial section end-->
      <%- include ./layouts/partials/event-testimonials.ejs %>
        <!--testimonial section end-->

    </div>
    <!--body content wrap end-->

    <!-- footer section start -->
    <%- include ./layouts/partials/footer.ejs %>
      <!-- footer section end -->


      <!-- script start -->
      <%- include ./layouts/partials/scripts.ejs %>
        <!-- script end -->

</body>
<script>
  let tagString = [
    "Neurosurgeon posters",
    "Veterinary Doctor posters",
    "Eye Hospital posters",
    "Rehab Center posters",
    "Orthopedic posters",
    "Kid's Eye Cancer Treatment posters",
    "Psychiatric Hospitals posters  ( मानसिक चिकित्सालय )",
    "Cancer Treatment Centre posters",
    "ENT Hospitals posters",
    "Pediatrician posters",
    "Dermatology posters  ( त्वचा विज्ञान )",
    "Ambulance Services posters  ( एम्बुलेंस सेवा )",
    "RT-PCR TEST posters",
    "Homoeopathy posters",
    "Piles Treatment posters  ( बवासीर )",
    "Sonography & X-ray posters",
    "Physiotherapist posters",
    "Day Care Centre posters",
    "Pathology Lab & ECG posters",
    "Clinics posters",
    "Hospital posters  ( अस्पताल )",
    "Dining & Hospitality Services posters",
  ]
  tagString.map((tags) => {
    $(".extraTag").append(`<h2>${tags},</h2>`)
  })

</script>

</html>