<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Social media marketing made easy and affordable
        Adbanao app is specially made for Indian people which making posters, advertise, banner ads,
  videos, creating social media posts, and graphic designs, Ads page design, photo art, festival 
  posters, promotional posters, and all with Indian languages such as create social media poster in Hindi, Marathi, Gujarati, English etc.">
    <meta name="author" content="Accucia Softwares Pvt. Ltd.">
    <meta data-id="image" property="og:image" content="./img/industryimages/main-ind-page.jpg">
    <link rel="canonical" href="https://www.adbanao.com/img/industryimages/main-ind-page.jpg">
    <meta data-id="site_name" property="og:site_name" content="">
    <meta name="language" content="en">
    <link rel="canonical" href="https://www.adbanao.com/industry">

    <!-- Meta Keyword-->
    <meta name="keywords" content="poster maker, flyers,  flyer designer, flyer maker, template, page design, Ads page designer,
  Ads page design, ads page maker, graphic design, banners, banner maker, banner design, 
  poster maker 2021, video maker, poster maker for business, poster maker with name and image, video collage, poster maker, poster designer, poster maker, poster creator, art designer, high quality poster designs, custom poster maker, banner ads, Digital Marketing Poster maker, hindi poster maker, Design banner flyer in hindi, video story template, photo art, fancy text art, 
  Flyer & banner maker, creative flyer maker, create promotional posters, cover photos, 
  indian festival banners, festival banners
  ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="AdBanao is a mobile app specially made for Indian users and Indian businessmen. AdBanao is a multi-featured app that allows users to make social media posts, digital posters, digital greetings, festival greetings, business banners, promotional posters, logo, videos, background remover, business ecards etc. 
  It also provides readymade templates of Indian festivals and events creatives such as Diwali, Holi, Dasshera, Rakshabandhan, Ganesh Chaturthi, Independence Day, etc.
  AdBanao also provides readymade templates for Indian Businessmen where they can choose from 150+ different industries which include jewellery business, mobile shop, doctors, digital marketer, bakery shop, hotels, restaurants, agriculture, furniture showroom, and so on." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="Post Maker, Post Designer, Post Editor, Poster maker, Poster Designer, branding videos maker, create promotional video, online advertisement designer, Readymade banner, shop banner designs, design shop posters" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

        <!--title-->
        <title>AdBanao App India's #1 ultimate branding solution for you.</title>

        <!--favicon icon-->
        <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!--custom css-->
        <%- include ./layouts/partials/styles.ejs %>
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/css/logo_page.css">
            <!-- for google analytics -->
            <%- include ./layouts/partials/google-analytics.ejs %>

</head>

<body>

    <h2 style="position: absolute;left:-10000px">Adbanao Industries</h2>
    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->

        <!--body content wrap start-->
        <div class="main">
            <section class="hero_section_logo" id="logoTopslider">
                <div>
                    <div class="swiper logo_hero_slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide slide_1 main_slider">
                                <div class="container " style="max-width: 1280px;">
                                    <div class="row  ">
                                        <div class="col-6 sliderPart_1">
                                            <div class="logoSliderTitle">
                                                <h2>A Gateway to Building<br> Trust and Credibility for<br>
                                                    Your <samp>Business</samp></h2>
                                            </div>
                                            <div class="logoSliderP">
                                                <p>A Way to Make People Trust and Like Your Business. A logo is a
                                                    picture
                                                    that shows
                                                    what your business is and what it does. It is very important for
                                                    your
                                                    business and
                                                    how people see it.</p>
                                            </div>
                                            <div class="logosliderCta">
                                                <a href="#">
                                                    <button>Get Your Free Logo Now</button>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6 sliderPart_1 mobile_hide">
                                            <div class="LogosliderImage">
                                                <img src="/img/logoPageImages/top_slider_image_1.png"
                                                    alt="top_slider_image_1">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-slide slide_2 main_slider">
                                <div class="slider_bg_img mobile_hide">
                                    <img src="/img/logoPageImages/slider_2_bg_img.png" alt="slider_2_bg_img">
                                </div>
                                <div class="container " style="max-width: 1280px;">
                                    <div class="row  ">
                                        <div class="col-6 sliderPart_1 slider mobile_hide">
                                            <div class="LogosliderImage">
                                                <img src="/img/logoPageImages/top_slider_image_2.png"
                                                    alt="top_slider_image_2" style="width: 100%">
                                            </div>
                                        </div>
                                        <div class="col-6 sliderPart_1 mobile_slide">
                                            <div class="logoSliderTitle">
                                                <h2>Grab Best Business logos for your <samp>Business</samp> </h2>
                                            </div>
                                            <div class="logoSliderP">
                                                <p>A Way to Make People Trust and Like Your Business. A logo is a
                                                    picture
                                                    that shows
                                                    what your business is and what it does. It is very important for
                                                    your
                                                    business and
                                                    how people see it.</p>
                                            </div>
                                            <div class="logosliderCta">
                                                <a href="https://web.adbanao.com/#/">
                                                    <button style="color: #000;">Get Your Free Logo Now</button>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="swiper-slide slide_1 main_slider">
                                <div class="container " style="max-width: 1280px;">
                                    <div class="row  ">
                                        <div class="col-6 sliderPart_1 video-slider">
                                            <div class="logoSliderTitle">
                                                <h2>You can make your own <br><samp>Logos</samp> with simple steps
                                                </h2>
                                            </div>
                                            <div class="logoSliderli">
                                                <div class="sliderIcon">
                                                    <img src="/img/logoPageImages/li-png.png" alt="listIcon">
                                                    <p>The AdBanao app allows users to enjoy posters and videos of their
                                                        favorite quotes and download them for free.</p>
                                                </div>
                                                <div class="sliderIcon">
                                                    <img src="/img/logoPageImages/li-png.png" alt="listIcon">
                                                    <p> Quotes available in 10+ Languages.</p>
                                                </div>
                                            </div>
                                            <div class="logosliderCta">
                                                <a href="#">
                                                    <button>Get Your Free Logo Now</button>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6 sliderPart_1 mobile_hide">
                                            <div class="LogosliderImage1">
                                                <img src="/img/logoPageImages/slide_video.gif" alt="whatappAnimation"
                                                    id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </section>
            <section class="second_section_logo" id="logoSecondSection">
                <div class="container">
                    <div class="logo_section_title">
                        <h2>Importance of a Logo</h2>
                    </div>

                    <div class="row ">
                        <div class="col-6 mobile_div">
                            <div class="second_step_list">
                                <div class="step_list">
                                    <img src="/img/logoPageImages/listIcon2.png" alt="listIcon">
                                    <h4>Brand Recognition</h4>
                                </div>
                                <div class="step_list">
                                    <img src="/img/logoPageImages/listIcon2.png" alt="listIcon">
                                    <h4>Professionalism and Credibility</h4>
                                </div>
                                <div class="step_list">
                                    <img src="/img/logoPageImages/listIcon2.png" alt="listIcon">
                                    <h4>Differentiation and Competitive Edge</h4>
                                </div>
                                <div class="step_list">
                                    <img src="/img/logoPageImages/listIcon2.png" alt="listIcon">
                                    <h4>Brand Consistency and Cohesion</h4>
                                </div>
                                <div class="step_list">
                                    <img src="/img/logoPageImages/listIcon2.png" alt="listIcon">
                                    <h4>Emotional Connection and Brand Loyalty</h4>
                                </div>
                                <div class="step_list">
                                    <img src="/img/logoPageImages/listIcon2.png" alt="listIcon">
                                    <h4>Marketing and Branding Opportunities</h4>
                                </div>

                            </div>
                            <br>
                            <br>
                            <div class="logosliderCta">
                                <a href="https://web.adbanao.com/#/">
                                    <button>Get Your Free Logo Now</button>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 importantOfLogo mobile_div">
                            <img src="/img/logoPageImages/importantOfLogo.png" alt="importantOfLogo">
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="third_section_logo" id="logoThirdSection">
                <div class="main_third_section">
                    <div class="third_section_bg mobile_hide">
                        <img src="/img/logoPageImages/slider_2_bg_img_2.png" alt="slider_2_bg_img">
                    </div>
                    <div class="third_section_bg web_hide">
                        <img src="/img/logoPageImages/slider_2_bg_img_mobile.png" alt="slider_2_bg_img">
                    </div>
                    <div class="container" style="padding: 50px 0px;">
                        <div class="row text-center create_logo">
                            <h3>LAUNCH YOUR BRAND WITH A FREE LOGO</h3>
                            <h5>Build your Free Logo, Build your Success</h5>
                        </div>
                        <div class="create_form text-center">
                            <div class="relative flex items-center my-10" id="create_logo_form">
                                <input type="text" placeholder="Your Business Name" name="business_name"
                                    class="business_name">
                                <a href="https://web.adbanao.com/#/">
                                    <button class="create_logo_btn">Create your Logo Now</button>
                                </a>

                            </div>
                            <div class="sub_text">
                                <p>Choose from over 1000+ premier logo Designs</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section> -->
            <section class="fourth_section_logo text-center" id="free_logo">
                <div class="container free_logo_container">
                    <h3 class="">How to make Free Logo using AdBanao</h3>
                    <h6>Follow These Three Simple Steps</h6>
                </div>
                <div class="container">
                    <div class="free_logo_step mobile_free_div">
                        <div class="free_logo_card mobile_div">
                            <img src="/img/logoPageImages/share.png" alt="share">
                            <p>Share your Ideas with Us</p>
                            <img src="/img/logoPageImages/step_border.png" class="step_border" alt="step_border">
                            <samp>Select Your Industry. Enter the name of your Business. share your 
                                slogan/ Tagline.
                            </samp>
                        </div>
                        <div class="free_logo_step mobile_hide">
                            <img src="/img/logoPageImages/free_logo_step.png" alt="free_logo_step">
                        </div>
                        <div class="free_logo_card mobile_div">
                            <img src="/img/logoPageImages/select_logo.png" alt="share">
                            <p>Select Icon & Create a Logo</p>
                            <img src="/img/logoPageImages/step_border.png" class="step_border" alt="step_border">
                            <samp>Pick a free Suitable Design or enter From your Gallery. Play around with your choices
                                to see new results.
                            </samp>
                        </div>
                        <div class="free_logo_step mobile_hide">
                            <img src="/img/logoPageImages/free_logo_step.png" alt="free_logo_step">
                        </div>
                        <div class="free_logo_card mobile_div">
                            <img src="/img/logoPageImages/create_logo.png" alt="share">
                            <p> Download you Logo</p>
                            <img src="/img/logoPageImages/step_border.png" class="step_border" alt="step_border">
                            <samp>Once The Process is done, download your new logo for free.
                            </samp>
                        </div>

                    </div>
                </div>

            </section>
            <section class="fith_section_logo text-center" id="get_inspired">
                <div class="container get_inspired_container">
                    <h2>Get inspired by our Logos</h2>
                    <div class="get_inspried_img mobile_hide">
                        <img src="/img/logoPageImages/get_inspried.png" alt="get_inspried">
                    </div>
                    <div class="get_inspried_img web_hide">
                        <img src="/img/logoPageImages/get_inspried_mobile.png" alt="get_inspried">
                    </div>
                </div>
            </section>
            <section class="six_section_logo" id="browes_logo">
                <div class="container browes_logo_container  text-center mb-2" style="margin-bottom: 3em;">
                    <h2>Browse logo ideas for 100+ Industries</h2>
                </div>
                <br>
                <div class="container">
                    <div class="browes_logo_main">
                        <div class="browes_flex">
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Common</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Apparel & Clothing</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Arts & Entertainment</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Astrologer</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Audio & Taxation</button>
                            </a>
                        </div>
                        <div class="browes_flex">
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Automotive Service</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button>Big Shop</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Bakery & Confectionery</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Beauty, Cosmetic & Personal Care</button>
                            </a>
                        </div>
                        <div class="browes_flex">
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Bicycle Shop</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Chemicals</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Computer Sales, Repair & Maintenance</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Contractor & Labors</button>
                            </a>

                        </div>
                        <div class="browes_flex">
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Dairy & Milk Distributation</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button>Dance Institute</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button>Dentistry & Oral Health</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Departmental Store</button>
                            </a>

                        </div>
                        <div class="browes_flex">
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button> Digital Marketing</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button>Distribution & Trading</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn">
                                <button>Driving School</button>
                            </a>
                            <a href="https://web.adbanao.com/#/" class="browes_btn_last">

                                <button> <img src="/img/logoPageImages/plus_browes.png" alt="plus_browes">Discover more
                                    logo Ideas</button>
                            </a>

                        </div>
                    </div>
                </div>

            </section>
            <section class="seven_section_logo" id="plan">
                <div class="container plan_logo_containe">
                    <h2 class="plan_title">Find The Perfect Plan For You</h2>
                </div>
                <div class="container">
                    <div class="plan_details">
                        <div class="plan_card card_1">
                            <div class="card_title_img">
                                <img src="/img/logoPageImages/Business.png" alt="Business/custom">
                                <div class="card_title">
                                    <p>Business / Custom</p>
                                    <hr>
                                    <samp>₹ 1497</samp>
                                </div>

                            </div>
                            <div class="plan_details_list">
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Telephonic Consultation with Project Head</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>PNG (5000 x 5000 pixels) PDF, JPG files, Vector SVG</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Logo Design Samples</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Limited Revision</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Handover of Source Files</p>
                                </div>

                            </div>
                            <div class="plan_btn">
                                <a href="https://web.adbanao.com/">
                                    <button>LEARN MORE &nbsp; <i class="fa fa-arrow-right"
                                            aria-hidden="true"></i></button>
                                </a>

                            </div>
                        </div>
                        <div class="plan_card card_2">
                            <div class="card_title_img">
                                <img src="/img/logoPageImages/premium.png" alt="Premium">
                                <div class="card_title card2">
                                    <p>Premium</p>
                                    <hr>
                                    <samp>₹ 9947</samp>
                                </div>

                            </div>
                            <div class="plan_details_list">
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Telephonic Consultation with Project Head</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>PNG (5000 x 5000 pixels) PDF, JPG files, Vector SVG</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Exclusive logo</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Brand Guidelines</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Letterhead</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Visiting Card</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Unlimited Revision Round</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Logo Mockup Images</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Letterhead</p>
                                </div>

                            </div>
                            <div class="plan_btn card_2_btn">
                                <a href="https://web.adbanao.com/">
                                    <button>LEARN MORE &nbsp; <i class="fa fa-arrow-right"
                                            aria-hidden="true"></i></button>
                                </a>

                            </div>
                        </div>
                        <div class="plan_card card_3">
                            <div class="card_title_img">
                                <img src="/img/logoPageImages/free.png" alt="Free">
                                <div class="card_title card3">
                                    <p>Free</p>
                                    <hr>
                                    <samp>-</samp>
                                </div>

                            </div>
                            <div class="plan_details_list">
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Telephonic Consultation with Project Head</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>PNG (5000 x 5000 pixels) PDF, JPG files, Vector SVG</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Logo Design Samples</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Limited Revision</p>
                                </div>
                                <div class="plan_item">
                                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    <p>Handover of Source Files</p>
                                </div>

                            </div>
                            <div class="plan_btn card_3_btn">
                                <a href="https://web.adbanao.com/"> <button>LEARN MORE &nbsp; <i
                                            class="fa fa-arrow-right" aria-hidden="true"></i></button></a>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="eight_section_logo" id="contactUsLogo">
                <div class="container">
                    <div class="row contactUsMobile">
                        <div class="col-5 contactUsImg mobile_div">
                            <img src="/img/logoPageImages/contactUs.png" alt="contactUs logo">
                        </div>
                        <div class="col-7 contactUsdetails mobile_div">
                            <h3>Need Experts Help ?</h3>
                            <h5>Our Branding Experts is just a call Away</h5>
                            <a href="tel:+91 7272959525" class="contactUsBtn">
                                <button>&nbsp; <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
                                    &nbsp;7272959525</button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>
                <!-- <script src="/js/industry.js"></script> -->
                <script src="/assets/js/logo_page.js"></script>

</body>

</html>