<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Get Events info here and download posters , videos , WhatsApp stickers and more only on AdBanao app. ">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/parshuram-jayanti-posters-banners-images`>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="परशुराम जयंती पोस्टर मराठी, परशुराम जयंती शुभेच्छा मराठी, परशुराम जयंती शॉर्ट वीडियो, परशुराम जयंती मराठी स्टेटस, परशुराम जन्मोत्सव की हार्दिक शुभकामनाएं पोस्टर, परशुराम जन्मोत्सव की हार्दिक शुभकामनाएं संदेश, परशुराम जन्मोत्सव poster,
    Parshuram Jayanti poster download,parshuram jayanti video status download, parshuram jayanti video download, parshuram jayanti short video download, parshuram jayanti banner in hindi, parshuram jayanti banner background,parshuram jayanti photo download, jai parshuram images hd download, jai parshuram status, जय दादा परशुराम फोटो, PARSHURAM ENGLISH POSTERS, parshuram poster background, parshuram jayanti banner hd, parshuram jayanti banner design
    परशुराम जयंती की हार्दिक शुभकामनाएं, parshuram jayanti status, parshuram jayanti wishes, parshuram jayanti ki hardik shubhkamnaye, parshuram status, parshuram jayanti quotes in hindi, jai dada parshuram	
    parshuram jayanti wishes in hindi, परशुराम जयंती status, parshuram jayanti quotes, bhagwan parshuram status, parshuram jayanti ki shubhkamnaye, parshuram jayanti status in hindi, परशुराम जयंती की शुभकामनाएं	
    परशुराम जयंती स्टेटस इन हिंदी, परशुराम जयंती स्टेटस">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="Get Events info here and download posters , videos , WhatsApp stickers and more only on AdBanao app. " />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="परशुराम जयंती पोस्टर मराठी, परशुराम जयंती शुभेच्छा मराठी, परशुराम जयंती शॉर्ट वीडियो, परशुराम जयंती मराठी स्टेटस, परशुराम जन्मोत्सव की हार्दिक शुभकामनाएं पोस्टर, परशुराम जन्मोत्सव की हार्दिक शुभकामनाएं संदेश, परशुराम जन्मोत्सव poster,
        Parshuram Jayanti poster download,parshuram jayanti video status download, parshuram jayanti video download, parshuram jayanti short video download, parshuram jayanti banner in hindi, parshuram jayanti banner background,parshuram jayanti photo download, jai parshuram images hd download, jai parshuram status, जय दादा परशुराम फोटो, PARSHURAM ENGLISH POSTERS, parshuram poster background, parshuram jayanti banner hd, parshuram jayanti banner design
        परशुराम जयंती की हार्दिक शुभकामनाएं, parshuram jayanti status, parshuram jayanti wishes, parshuram jayanti ki hardik shubhkamnaye, parshuram status, parshuram jayanti quotes in hindi, jai dada parshuram	
        parshuram jayanti wishes in hindi, परशुराम जयंती status, parshuram jayanti quotes, bhagwan parshuram status, parshuram jayanti ki shubhkamnaye, parshuram jayanti status in hindi, परशुराम जयंती की शुभकामनाएं	
        परशुराम जयंती स्टेटस इन हिंदी, परशुराम जयंती स्टेटस"/>
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

    <!--title-->
    <title>Create Parshuram Jayanti posters and Videos Now!</title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
        <link rel="stylesheet" href="/css/events.css">

    <!-- for google analytics -->
    <%- include ./layouts/partials/google-analytics.ejs %>
    <style>
        .festival_post_img {
        width: 170px;
    }
    </style>
</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height ptb-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h2 class="text-center text-md-left republicDayHead">
                                    Create Parshuram Jayanti Posters & Videos Now
                                                                </h2>
                                <p class="youWillGetPara text-justify">
                                    Get the AdBanao app and create amazing posters and videos for Bhagwan Parshuram Jayanti.
You can choose from our ready-made posters and videos and edit them with ease.
                                </p>

                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                                    <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                        <samp class="btn-design">
                                           <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                  <samp>Download Free Posters Now</samp>
                                        </samp>
                                 </a>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/republic/republic-header.png" alt="Parshuram Jayanti poster"
                                class="img-fluid img_header">

                        </div>
                    </div>
                </div>

            </section>
            <!--hero section end-->

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium ptb-50" id="ourBrandingMedium">
                <div class="container text-center">
                    <h2 class="text-center">Branding Mediums available for Parshuram Jayanti</h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex justify-content-md-center justify-content-sm-start">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#festivalPost" class="pl-3">Festival Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">Parshuram Jayanti WhatsApp Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">Parshuram Jayanti GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#animatedVideos" class="pl-3">Parshuram Jayanti Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-md-center justify-content-sm-start">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">Parshuram Jayanti Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">Parshuram Jayanti Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#eventSpecific" class="pl-3">Event Special Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Business Branding Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                        <samp class="btn-design-1">
                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                            <samp>Download Free
                                Posts Now</samp>
                        </samp>
                    </a>

                </div>
            </section>

            <!-- Branding Medium end -->

            <!-- Start Festival post -->
            <section class="FestivalPostSection" id="festivalPost">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/republic/republic-festival-post.png" alt="Parshuram Jayanti festival poster"
                                class="img-fluid festival_post_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto">Festival Posts</h2>
                            <p class="text-justify mx-auto">
                                Discover the festival posts for all occasions. Greet someone on Bonalu, Ramzan Eid, or any other festival with our posts.
                                Check out our collection of festival posts and pick the ones you like.
                            </p>
                            <div class="text-center text-md-left mx-auto festivalPostAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get Started for
                                            Free</samp>
                                    </samp>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- End Festival post -->

            <!--event videos section start-->
            <section class="event-videos pt-3 pb-4" id="event-videos">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-6 ptb-50">
                            <h2 class="text-center text-md-left mx-auto">Create Parshuram Jayanti Video</h2>
                            <p class="text-justify mx-auto">
                                जय परशुराम : Celebrate Bhagwan Parshuram Jayanti with the AdBanao app and use our ready-made videos for your celebrations. 
You can edit our videos with texts, images, filters, and much more.
                            </p>
                            <div class="text-center text-md-left mx-auto event-video-anchor">
                                 <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Don't wait Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>



                        </div>
                        <div class="col-12 col-md-6 text-center pt-3">
                            <img src="/img/republic/republic-videos.png" alt="Parshuram Jayanti videos poster"
                                class="img-fluid event_video_img">
                        </div>





                    </div>


                </div>
            </section>
            <!--event videos section end-->


            <!--event whats app sticker section start -->
            <section class="whatsAppStickerSection" id="whatsAppSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv" style="">
                            <img src="./img/republic/republic-whatsapp-sticker.png"
                                alt="Parshuram Jayanti whatsapp sticker poster">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto">Parshuram Jayanti Whatsapp Stickers </h2>
                            <p class=" text-justify mx-auto" style="">
                                Share your devotion and respect for Bhagwan Parshuram with special WhatsApp stickers.
                                Add stickers to WhatsApp and share them with everyone.
                            </p>
                            <div class="text-center text-md-left mx-auto whatsAppStickerAnchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Find Out More</samp>
                                    </samp>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--event whats app sticker section end -->

            <!--event Audio Jingle section start -->
            <section class="audioJingleSection ptb-50" id="audioJingle">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Parshuram Jayanti With Audio Jingles</h2>
                            <p class=" text-justify mx-auto">
                                Shubh Parshuram Jayanti: Celebrate the warrior lord with AdBanao's audio jingles.
                                Choose from our sound loops or make your own audio and use them for videos, stories,and posts. 
                            </p>
                            <div class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/audio-jingle.png" alt="Parshuram Jayanti audio jingle poster"
                                class="img-fluid audio_jingle_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event Audio Jingle section end -->

            <!--event GIF stickers section start -->
            <section class="GIFStickerSection yellow-bg" id="GIFSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-gif-sticker.png" alt="Parshuram Jayanti gif sticker poster"
                                class="img-fluid event_gif_sticker">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto">Parshuram Jayanti GIF Stickers</h2>
                            <p class="text-justify mx-auto">
                                Download our special Bhagwan Parshuram Jayanti GIF stickers and use them in chats and on social media stories.
                                You can also make GIF stickers with the AdBanao app with a short video. </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #4d4d4d !important;color: #ffffff;">Download your posts</a>
              </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!--event GIF stickers section end -->

            <!--event specific and hashtags section start -->
            <section class="eventSpecificSection" id="eventSpecific">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Captions & Hashtags For Parshuram Jayanti  </h2>
                            <p class=" text-justify mx-auto">
                                महान गुरु परशुराम जी :
Get captions and hashtags for Parshuram Jayanti only on the AdBanao app.
Make your posts, videos, and stories viral with our best captions and hashtags.
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto eventSpecificAnchorDiv">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #FDC705 !important;color: #000000;">Download Captions & Hashtags</a>
              </div> -->
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/republic/republic-event-specific.png"
                                alt="Parshuram Jayanti caption and hashtags poster" class="img-fluid event_specific_img">
                        </div>
                    </div>
                </div>
            </section>

            <!--event specific and hashtags section end -->


            <!--event Audio Jingle section start -->
            <section class="animatedVideosSection" id="animatedVideos">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-animated-videos.png" alt="Parshuram Jayanti animated video poster"
                                class="img-fluid animated_video_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto">Parshuram Jayanti Animated Video	</h2>
                            <p class=" text-justify mx-auto">
                                Show your respect to Bhagwan Parshuram Ji with AdBanao's animated videos.
                                Choose, edit, add details, and make a video in less than a minute.
                                Try this awesome feature now.
                            </p>
                            <div class="text-center text-md-left mx-auto animatedVideosAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                        <samp class="btn-design-1">
                                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                            <samp>Click Here to Download
                                                Now</samp>
                                        </samp>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--event Audio Jingle section end -->


            <!--event specific business section start -->
            <section class="specificBusinessSection mb-5" id="specificBusiness">
                <div class="container pt-4 pb-4">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Business Branding post
                            </h2>
                            <p class=" text-justify mx-auto">
                                Grow your business with the AdBanao app.
Create posts, videos, and more for 150+ industries.
Take your business to the next level with our free app.
                            </p>
                            <div class="text-center text-md-left mx-auto specificBusinessAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Try it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/republic/republic-special-business-branding.png"
                                alt="Parshuram Jayanti business branding poster" class="img-fluid bussines_branding_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event specific business section end -->



            <!--testimonial section end-->
            <%- include ./layouts/partials/event-testimonials.ejs %>
            <!--testimonial section end-->

        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->

</body>

</html>