<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description" content="On the Auspicious Occasion of Pongal, let's Create Pongal
        posters and videos with Adbanao App, you can easily create beautiful posts and
        videos to celebrate Pongal.">
    <meta name="author" content="Accucia Softwares Pvt. Ltd.">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/pongal-posters-banners-greetings `>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="pongal background, happy pongal hd images, pongal poster design, pongal templates, pongal banner background, pongal background images hd, pongal flex banner , pongal vector        
    pongal banner design, happy pongal design, happy pongal images,happy pongal wishes,sankranthi subhakankshalu,happy pongal 2022 images,pongal pongal        
    pongal wishes telugu,pongal wishes in telugu, happy makar sankranti in hindi        
    happy pongal quotes,happy pongal wishes images, happy pongal photo, pongal vazhthukkal in tamil , pongal greetings images, happy pongal in telugu , సంక్రాంతి శుభాకాంక్షలు images        
    happy pongal videos, happy pongal video, pongal images,images of pongal festival                  
     ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description" content="On the Auspicious Occasion of Pongal, let's Create Pongal
        posters and videos with Adbanao App, you can easily create beautiful posts and
        videos to celebrate Pongal." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords" content="pongal background, happy pongal hd images, pongal poster design, pongal templates, pongal banner background, pongal background images hd, pongal flex banner , pongal vector        
        pongal banner design, happy pongal design, happy pongal images,happy pongal wishes,sankranthi subhakankshalu,happy pongal 2022 images,pongal pongal        
        pongal wishes telugu,pongal wishes in telugu, happy makar sankranti in hindi        
        happy pongal quotes,happy pongal wishes images, happy pongal photo, pongal vazhthukkal in tamil , pongal greetings images, happy pongal in telugu , సంక్రాంతి శుభాకాంక్షలు images        
        happy pongal videos, happy pongal video, pongal images,images of pongal festival        
           
        " />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

        <!--title-->
        <title>Create Pongal Posters And Videos Now!</title>

        <!--favicon icon-->
        <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

        <!--custom css-->
        <%- include ./layouts/partials/styles.ejs %>
            <link rel="stylesheet" href="/css/events.css">

            <!-- for google analytics -->
            <%- include ./layouts/partials/google-analytics.ejs %>
       
</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height ptb-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h2 class="text-center text-md-left republicDayHead">
                                    Create Pongal Posters & Videos Now
                                </h2>
                                <p class="youWillGetPara text-center text-md-left">
                                    Bring happiness to this new year. Celebrate Pongal Festival with the AdBanao app.
                                    Make amazing posters and videos for the biggest festival in South India.
                                </p>

                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                                    <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                        <samp class="btn-design">
                                           <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                  <samp>Download Free Posters Now</samp>
                                        </samp>
                                 </a>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/Pongal/01_HeaderSection.png" alt="Pongal poster"
                                class="img-fluid img_header">

                        </div>
                    </div>
                </div>

            </section>
            <!--hero section end-->

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium ptb-50" id="ourBrandingMedium">
                <div class="container text-center">
                    <h2 class="text-center">Branding Mediums available for Pongal</h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#festivalPost" class="pl-3">Festival Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">Pongal WhatsApp Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">Pongal GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#animatedVideos" class="pl-3">Pongal Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">Pongal Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">Pongal Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#eventSpecific" class="pl-3">Event Special Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Business Branding Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                   <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                        <samp class="btn-design-1">
                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                            <samp>Download Free
                                Posts Now</samp>
                        </samp>
                    </a>

                </div>
            </section>

            <!-- Branding Medium end -->

            <!-- Start Festival post -->
            <section class="FestivalPostSection" id="festivalPost">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/Pongal/02_FestivalPost.png" alt="Pongal festival poster"
                                class="img-fluid festival_post_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2 class="text-center text-md-left mx-auto"> Festival Posts</h2>
                            <p class="text-center text-md-left mx-auto">
                                Perfect social media Posts are here on the AdBanao app.
                                Find The Best of the best posts and videos for all Indian festivals.
                                Download your next post now.
                            </p>
                            <div class="text-center text-md-left mx-auto festivalPostAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get Started for
                                            Free</samp>
                                    </samp>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- End Festival post -->

            <!--event videos section start-->
            <section class="event-videos pt-3 pb-4" id="event-videos">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-6 ptb-50">
                            <h2 class="text-center text-md-left mx-auto">Create Pongal Video</h2>
                            <p class="text-center text-md-left mx-auto">
                                Make your Pongal videos even more special with the AdBanao app. 
                                Select Template , Add your text and images, and make a festive Pongal video today.
                            </p>
                            <div style="" class="text-center text-md-left mx-auto event-video-anchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Don't wait Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>



                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <img src="/img/eventpage-images/Pongal/03_Videos.png" alt="Pongal videos poster"
                                class="img-fluid event_video_img">
                        </div>





                    </div>


                </div>
            </section>
            <!--event videos section end-->


            <!--event whats app sticker section start -->
            <section class="whatsAppStickerSection" id="whatsAppSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv" style="">
                            <img src="./img/eventpage-images/Pongal/04_WhatsAppSticker.png"
                                alt="Pongal whatsapp sticker poster">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 style="" class="text-center text-md-left mx-auto">
                                Pongal Whatsapp Stickers </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Need WhatsApp stickers for Pongal?
                                Get the best Pongal stickers, add them to WhatsApp for free, and share them with everyone this new year. 
                            </p>
                            <div style="" class="text-center text-md-left mx-auto whatsAppStickerAnchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Find Out More</samp>
                                    </samp>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--event whats app sticker section end -->

            <!--event Audio Jingle section start -->
            <section class="audioJingleSection ptb-50" id="audioJingle">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Pongal With Audio Jingles</h2>
                            <p class="text-black text-center text-md-left mx-auto" style="">
                                Pongal-o-Pongal! Create an astonishing audio jingle for the Pongal Festival using the AdBanao app.
                                Choose sound loops or add your own audio and create a jingle for your video.
                            </p>
                            <div class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/audio-jingle.png" alt="Pongal audio jingle poster"
                                class="img-fluid audio_jingle_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event Audio Jingle section end -->

            <!--event GIF stickers section start -->
            <section class="GIFStickerSection yellow-bg" id="GIFSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Pongal/09_GifSticker.png" alt="Pongal gif sticker poster"
                                class="img-fluid event_gif_sticker">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2 class="text-center text-md-left mx-auto">Pongal GIF Stickers</h2>
                            <p class="text-center text-md-left mx-auto">
                                Get amazing stickers for this pongal festival with AdBanaoGIF stickers. 

                                Make your own sticker with images and videos and share it with your followers and family.
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #4d4d4d !important;color: #ffffff;">Download your posts</a>
              </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!--event GIF stickers section end -->

            <!--event specific and hashtags section start -->
            <section class="eventSpecificSection" id="eventSpecific">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Captions & Hashtags For Pongal</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Stop your search and get the best captions and hashtags for the Pongal festival on the AdBanao app.
                                Take your post to new heights with our captions and hashtags.
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto eventSpecificAnchorDiv">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #FDC705 !important;color: #000000;">Download Captions & Hashtags</a>
              </div> -->
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Pongal/05_Caption_Hashtag.png"
                                alt="Pongal caption and hashtags poster" class="img-fluid event_specific_img">
                        </div>
                    </div>
                </div>
            </section>

            <!--event specific and hashtags section end -->


            <!--event Audio Jingle section start -->
            <section class="animatedVideosSection" id="animatedVideos">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Pongal/07_AnimatedVideos.png" alt="Pongal animated video poster"
                                class="img-fluid animated_video_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Pongal Animated Video</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Happy Pongal animated videos by the AdBanao app
                                Get the well crafted animation videos for this festival , edit them with your context and make your post viral.
                            </p>
                            <div class="text-center text-md-left mx-auto animatedVideosAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                        <samp class="btn-design-1">
                                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                            <samp>Click Here to Download
                                                Now</samp>
                                        </samp>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--event Audio Jingle section end -->


            <!--event specific business section start -->
            <section class="specificBusinessSection mb-5" id="specificBusiness">
                <div class="container pt-4 pb-4">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Business Branding post
                            </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Boost your brand's value. Choose from 150+ varieties of industries, 
                                Create a stunning design with simple editing options, and take your business branding to the next level.
                            </p>
                            <div class="text-center text-md-left mx-auto specificBusinessAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Try it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Pongal/08_BusinessBrandingPost.png"
                                alt="Pongal business branding poster" class="img-fluid bussines_branding_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event specific business section end -->



            <!--testimonial section end-->
            <%- include ./layouts/partials/event-testimonials.ejs %>
                <!--testimonial section end-->

        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->


</body>

</html>