<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Social media marketing made easy and affordable
    Adbanao app is specially made for Indian people which making posters, advertise, banner ads,
    videos, creating social media posts, and graphic designs, Ads page design, photo art, festival 
    posters, promotional posters, and all with Indian languages such as create social media poster in Hindi, Marathi, Gujarati, English etc.">
    <meta name="author" content="Accucia Softwares Pvt. Ltd.">
    <meta data-id="image" property="og:image" content="./img/industryimages/homepage.jpg">
    <link rel="canonical" href="https://www.adbanao.com/img/industryimages/homepage.jpg">
    <meta data-id="site_name" property="og:site_name" content="www.adbanao.com">
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="poster maker, flyers,  flyer designer, flyer maker, template, page design, Ads page designer,
  Ads page design, ads page maker, graphic design, banners, banner maker, banner design, 
  poster maker 2021, video maker, poster maker for business, poster maker with name and image, video collage, poster maker, poster designer, poster maker, poster creator, art designer, high quality poster designs, custom poster maker, banner ads, Digital Marketing Poster maker, hindi poster maker, Design banner flyer in hindi, video story template, photo art, fancy text art, 
  Flyer & banner maker, creative flyer maker, create promotional posters, cover photos, 
  indian festival banners, festival banners
  ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="AdBanao is a mobile app specially made for Indian users and Indian businessmen. AdBanao is a multi-featured app that allows users to make social media posts, digital posters, digital greetings, festival greetings, business banners, promotional posters, logo, videos, background remover, business ecards etc. 
  It also provides readymade templates of Indian festivals and events creatives such as Diwali, Holi, Dasshera, Rakshabandhan, Ganesh Chaturthi, Independence Day, etc.
  AdBanao also provides readymade templates for Indian Businessmen where they can choose from 150+ different industries which include jewellery business, mobile shop, doctors, digital marketer, bakery shop, hotels, restaurants, agriculture, furniture showroom, and so on." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="Post Maker, Post Designer, Post Editor, Poster maker, Poster Designer, branding videos maker, create promotional video, online advertisement designer, Readymade banner, shop banner designs, design shop posters" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

        <!--title-->
        <title>AdBanao App India's #1 ultimate branding solution for you. </title>

        <!--favicon icon-->
        <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="/css/bootstrap5.0.2.min.css">
        <!--custom css-->

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

        <%- include ./layouts/partials/styles.ejs %>
            <link rel="stylesheet" href="/css/style.css">

            <!-- for google analytics -->
            <%- include ./layouts/partials/google-analytics.ejs %>

            <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
          />
</head>

<body>


    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->

        <!--body content wrap start-->
        <div class="main pt-5 pb-5" id="homePage">
   
            <section class="">
                <div class="pricingTableSection gray-light-bg" id="pricing">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-9 col-lg-8">
                                <div class="section-heading text-center mb-4  pt-5 mt-5">
                                    <h2 class="allTitle_font_size">How We Compare Our Pricing</h2>
                                    <br>
                                    <p>Unlock the power of our platform with affordable
                                        simplicity for your needs. Upgrade to unleash your potential
                                        and experience limitless possibilities
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="row d-flex justify-content-center pricing_plan_div">
                            <div class="col-12 col-md-4 col-lg-3 col-xl-3 mobileviewChanges">
                                <div class="card shadow mx-auto pricing_card">
                                    <div
                                        class="card-head d-flex justify-content-around align-items-center flex-column pricing_card_head">
                                        <h5 class="text-center mx-4 my-5">What you will get &#63; <small
                                                style="font-size:14px">(Features)</small></h5>

                                        <div class="line"></div>

                                    </div>
                                    <div class="card-body shadow p-1 m-0 pricing_card_body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Validity</li>
                                            <li class="list-group-item">Images & Video Credits</li>
                                            <li class="list-group-item">Frames</li>
                                            <li class="list-group-item">WhatsApp Stickers</li>
                                            <li class="list-group-item">Remove Bg Credits</li>
                                            <li class="list-group-item">Multi Page DBC</li>
                                            <li class="list-group-item">Audio Jingles</li>
                                            <li class="list-group-item">Desktop Version Access</li>
                                            <li class="list-group-item">Free Logos </li>
                                            <li class="list-group-item">Social Media Captions</li>
                                            <li class="list-group-item">Dedicated Support</li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-md-8 col-lg-9 col-xl-9 mobileviewChanges">

                                <div class="owl-carousel pricing-owl-carousel">
                                    <!--Free Start Plan -->
                                    <div class="card business_special shadow mx-auto">
                                        <div
                                            class="card-head d-flex justify-content-around align-items-center flex-column business_card_head">
                                            <h5 class="text-center m-0 p-0">Trial Plan</h5>
                                            <p class="text-center">(5 Images & Remove bg
                                                Credits )</p>
                                        </div>

                                        <div class="card-body text-center p-2 m-0">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">05 days</li>
                                                <li class="list-group-item">05 </li>
                                                <li class="list-group-item">Limited</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                    style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                    alt="tick">
                                                </li>
                                                <li class="list-group-item d-flex justify-content-center">
                                                    <img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="tick">
                                                </li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="tick"></li>
                                                <!-- <li class="list-group-item d-flex justify-content-center"><img style="width: 25px;" src="./img/home_page/icons/cross.png" alt="tick"></li> -->
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                    style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                    alt="tick"></li>
                                            </ul>

                                        </div>

                                        <div class="text-center card_text">
                                            <h6 class="text-dark">
                                                Trial Plan
                                                <span class=""></span>
                                            </h6>
                                        </div>

                                        <div class="card-footer text-center card_foot">
                                            <div style="position: relative" class="d-flex justify-content-center">
                                                <div class="discounted-price-div">
                                                    <h4><span class=""><sup
                                                                class="discounted-price-before">&#8377;</sup>197</span>
                                                    </h4>
                                                </div>

                                                <!-- <div class="actual-price-div">
                                                    <p><span class="actual-price-before">&#8377;</span><span><strike
                                                                class="">0</strike></span></p>
                                                </div> -->

                                            </div>

                                            <p class="rupess_one_image"><sup class="discounted-price-before"
                                                    style="top: 0em;">&#8377;</sup><span class="">39.40</span>/Image</p>

                                            <a href="https://web.adbanao.com"
                                                class="badge badge-pill badge-warning text-black px-4 py-2 shadow">
                                                Buy Now</a>

                                        </div>
                                    </div>
                                    <!-- Business special -->
                                    <div class="card business_special shadow mx-auto">
                                        <div
                                            class="card-head d-flex justify-content-around align-items-center flex-column business_card_head">
                                            <h5 class="text-center m-0 p-0">Mega Business Booster</h5>
                                            <p class="text-center">(Unlimited Images &#38; Videos Credits)</p>
                                        </div>

                                        <div class="card-body text-center p-2 m-0">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">3 Year</li>
                                                <li class="list-group-item">15000</li>
                                                <li class="list-group-item">70</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item">100</li>
                                                <li class="list-group-item">Single page</li>
                                                <li class="list-group-item">Unlimited</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item">Unlimited</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>

                                            </ul>

                                        </div>

                                        <div class="text-center card_text">
                                            <h6 class="text-dark">
                                                Save
                                                &#8377; <span class="BVP_save_price">7757</span>/-</h6>
                                        </div>

                                        <div class="card-footer text-center card_foot">
                                            <div style="position: relative" class="d-flex justify-content-center">
                                                <div class="discounted-price-div">
                                                    <h4><sup class="discounted-price-before">&#8377;</sup><span
                                                            class="BVP_disc_price">7220</span></h4>
                                                </div>

                                                <div class="actual-price-div">
                                                    <p><span class="actual-price-before">&#8377;</span><span><strike
                                                                class="BVP_actual_price">14997</strike></span></p>
                                                </div>

                                            </div>

                                            <p class="rupess_one_image">&#8377;<span
                                                    class="BVP_rupess_one_image">0.52</span>/Image</p>

                                            <a href="https://web.adbanao.com"
                                                class="badge badge-pill badge-warning text-black px-4 py-2 shadow">
                                                Buy Now</a>

                                        </div>
                                    </div>

                                    <!-- Brand booster plan -->
                                    <div class="card brand_booster shadow mx-auto brand_card">
                                        <div class="card-head brand_card_head">
                                            <div class="brand_card_head_div">
                                                <h6 class="text-center text-white"><span
                                                        id="recommendedLottie"></span>RECOMMENDED</h6>
                                            </div>
                                            <div style="height: 105px;"
                                                class="d-flex justify-content-around align-items-center flex-column brand_card_boost">
                                                <h5 class="text-center m-0 p-0">
                                                    Brand Booster</h5>
                                                <p>
                                                    (Unlimited Images &#38; Videos)</p>
                                            </div>
                                        </div>

                                        <div class="card-body text-center p-2 m-0">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">1 Year</li>
                                                <li class="list-group-item">Unlimited</li>
                                                <li class="list-group-item">50</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item">50</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                    style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                    alt="tick"></li>
                                                <li class="list-group-item">Unlimited</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item">Unlimited</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                            </ul>
                                        </div>

                                        <div class="text-center card_text">
                                            <h6 class="text-dark"
                                                style="line-height:50px;color: #4F4D4D;font-size: 24px;">
                                                Save
                                                &#8377; <span class="BB_save_price">2250</span>/-</h6>
                                        </div>

                                        <div class="card-footer text-center card_foot">
                                            <div style="position: relative" class="d-flex justify-content-center">
                                                <div class="discounted-price-div">
                                                    <h4><sup class="discounted-price-before">&#8377;</sup><span
                                                            class="BB_disc_price">3249</span></h4>
                                                </div>

                                                <div class="actual-price-div">
                                                    <p><span class="actual-price-before">&#8377;</span><span><strike
                                                                class="BB_actual_price">4999</strike></span></p>
                                                </div>

                                            </div>

                                            <p class="rupess_one_image">&#8377;<span
                                                    class="BB_rupess_one_image">1</span>/Image</p>

                                            <a href="https://web.adbanao.com"
                                                class="badge badge-pill badge-warning text-black px-4 py-2 shadow">
                                                Buy Now</a>

                                        </div>
                                    </div>

                                    <!-- Yearly limited -->
                                    <div class="card yearly_limited shadow mx-auto common_card">
                                        <div
                                            class="card-head d-flex justify-content-around align-items-center flex-column common_card_head">
                                            <h5 class="text-center m-0 p-0">
                                                Yearly Limited</h5>
                                            <p style="color: #424242;font-size: 14px;font-weight: bold;">(360 Images
                                                &#38; Videos)</p>
                                        </div>

                                        <div class="card-body text-center p-2 m-0">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">1 Year</li>
                                                <li class="list-group-item">365</li>
                                                <li class="list-group-item">30</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item">25</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item">Unlimited</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item">Unlimited</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                            </ul>

                                        </div>

                                        <div class="text-center card_text">
                                            <h6 class="text-dark">
                                                <span>Save</span> &#8377;<span class="yearly_save_price">
                                                    1000</span>/-
                                            </h6>
                                        </div>

                                        <div class="card-footer text-center card_foot">
                                            <div style="position: relative" class="d-flex justify-content-center">
                                                <div class="discounted-price-div">
                                                    <h4><sup class="discounted-price-before">&#8377;</sup><span
                                                            class="yearly_disc_price">2249</span></h4>
                                                </div>

                                                <div class="actual-price-div">
                                                    <p><span class="actual-price-before">&#8377;</span><span><strike
                                                                class="yearly_actual_price">3249</strike></span></p>
                                                </div>

                                            </div>

                                            <p class="rupess_one_image">&#8377;<span
                                                    class="yearly_rupess_one_image">1</span>/Image</p>

                                            <a href="https://web.adbanao.com"
                                                class="badge badge-pill badge-warning text-black px-4 py-2 shadow">
                                                Buy Now</a>

                                        </div>
                                    </div>

                                    <!-- Quaterly plan -->
                                    <div class="card quarterly_plan shadow mx-auto common_card"
                                        style="border-radius: 10px;width: 200px;height:900px">
                                        <div
                                            class="card-head d-flex justify-content-around align-items-center flex-column common_card_head">
                                            <h5 class="text-center m-0 p-0">
                                                Quarterly Plan</h5>
                                            <p>(90 Images
                                                &#38; Videos)</p>
                                        </div>

                                        <div class="card-body text-center p-2 m-0">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">3 Months</li>
                                                <li class="list-group-item">90</li>
                                                <li class="list-group-item">10</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item">10</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item">Unlimited</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item">Unlimited</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/tick.png"
                                                        alt="tick"></li>
                                            </ul>

                                        </div>

                                        <div class="text-center card_text">
                                            <h6 class="text-dark">
                                                Save
                                                &#8377; <span class="quarterly_save_price">1000</span>/-</h6>
                                        </div>

                                        <div class="card-footer text-center card_foot">
                                            <div style="position: relative" class="d-flex justify-content-center">
                                                <div class="discounted-price-div">
                                                    <h4><sup class="discounted-price-before">&#8377;</sup><span
                                                            class="quarterly_disc_price">2249</span></h4>
                                                </div>

                                                <div class="actual-price-div">
                                                    <p><span class="actual-price-before">&#8377;</span><span><strike
                                                                class="quarterly_actual_price">3249</strike></span>
                                                    </p>
                                                </div>

                                            </div>

                                            <p class="rupess_one_image">&#8377;<span
                                                    class="quarterly_rupess_one_image">1</span>/Image</p>

                                            <a href="https://web.adbanao.com"
                                                class="badge badge-pill badge-warning text-black px-4 py-2 shadow">
                                                Buy Now</a>

                                        </div>
                                    </div>

                                    <!-- Monthly Plan -->
                                    <div class="card monthly_limited shadow mx-auto common_card">
                                        <div
                                            class="card-head d-flex justify-content-around align-items-center flex-column rounded common_card_head">
                                            <h5 class="text-center m-0 p-0">
                                                Monthly Limited</h5>
                                            <p>(30 Images)
                                            </p>
                                        </div>

                                        <div class="card-body text-center p-2 m-0">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">1 Months</li>
                                                <li class="list-group-item">30</li>
                                                <li class="list-group-item">Limited</li>
                                                <li class="list-group-item">Limited</li>
                                                <li class="list-group-item">10</li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="cross"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="cross"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="cross"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="cross"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="cross"></li>
                                                <li class="list-group-item d-flex justify-content-center"><img
                                                        style="width: 25px;" src="/img/home_page/icons/cross.png"
                                                        alt="cross"></li>
                                            </ul>

                                        </div>

                                        <div class="text-center card_text">
                                            <h6 class="text-dark">
                                                Save
                                                &#8377; <span class="monthly_save_price">1000</span>/-</h6>
                                        </div>

                                        <div class="card-footer text-center card_foot">
                                            <div style="position: relative" class="d-flex justify-content-center">
                                                <div class="discounted-price-div">
                                                    <h4><sup class="discounted-price-before">&#8377;</sup><span
                                                            class="monthly_disc_price">2249</span></h4>
                                                </div>

                                                <div class="actual-price-div">
                                                    <p><span class="actual-price-before">&#8377;</span><span><strike
                                                                class="monthly_actual_price">3249</strike></span>
                                                    </p>
                                                </div>

                                            </div>

                                            <p class="rupess_one_image">&#8377;<span
                                                    class="monthly_rupess_one_image">1</span>/Image</p>

                                            <a href="https://web.adbanao.com"
                                                class="badge badge-pill badge-warning text-black px-4 py-2 shadow">
                                                Buy Now</a>

                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                        <div>

                        </div>

                    </div>
                </div>
            </section>
            <!-- Pricing Section end-->

    

     





    
        </div>

        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>
                <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
                <!-- <script type="text/javascript" src="/js/jquery.fireworks.js"></script> -->
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="/js/home.js"></script>
                <script src="/js/owl.carousel.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

</body>

</html>