<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Celebrate the spirit of Ramadan with the Adbanao app, you can easily create
        beautiful
        posts and videos to celebrate Ramadan. Select the template of your choice and
        customize it with your text and images.">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/ramadan-posters`>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="Ramadan Eid design, Ramadan Eid poster, Ramadan Eid wishes, Ramadan Eid greeting, 
    Ramadan Eid creative, Ramadan Eid video, Ramadan Eid template, Ramadan Eid post, Ramadan Eid banner, Ramadan Eid flyer,
    eid mubarak design, eid mubarak flyer, eid mubarak banner, eid mubarak post, eid mubarak poster, eid mubarak template">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="Celebrate the spirit of Ramadan with the Adbanao app, you can easily create
        beautiful
        posts and videos to celebrate Ramadan. Select the template of your choice and
        customize it with your text and images." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="Ramadan Eid design, Ramadan Eid poster, Ramadan Eid wishes, Ramadan Eid greeting, 
        Ramadan Eid creative, Ramadan Eid video, Ramadan Eid template, Ramadan Eid post, Ramadan Eid banner, Ramadan Eid flyer,
        eid mubarak design, eid mubarak flyer, eid mubarak banner, eid mubarak post, eid mubarak poster, eid mubarak template" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

    <!--title-->
    <title>Create Ramadan posters and Videos Now!</title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
        <link rel="stylesheet" href="/css/events.css">

    <!-- for google analytics -->
    <%- include ./layouts/partials/google-analytics.ejs %>

</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height ptb-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h2 class="text-center text-md-left republicDayHead">
                                    Create Ramadan posters and Videos Now!
                                </h2>
                                <p class="youWillGetPara text-center text-md-left">
                                    Celebrate the spirit of Ramadan with the Adbanao app, you can easily create
                                    beautiful
                                    posts and videos to celebrate Ramadan. Select the template of your choice and
                                    customize it with your text and images.
                                </p>

                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                                    <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                        <samp class="btn-design">
                                           <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                  <samp>Download Free Posters Now</samp>
                                        </samp>
                                 </a>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/republic/republic-header.png" alt="Ramadan poster"
                                class="img-fluid img_header">

                        </div>
                    </div>
                </div>

            </section>
            <!--hero section end-->

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium ptb-50" id="ourBrandingMedium">
                <div class="container text-center">
                    <h2 class="text-center">Branding Mediums available for Ramadan </h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#festivalPost" class="pl-3">Festival Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">Ramadan WhatsApp Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">Ramadan GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#animatedVideos" class="pl-3">Ramadan Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">Ramadan Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">Ramadan Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#eventSpecific" class="pl-3">Event Special Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Business Branding Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                        <samp class="btn-design-1">
                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                            <samp>Download Free
                                Posts Now</samp>
                        </samp>
                    </a>

                </div>
            </section>

            <!-- Branding Medium end -->

            <!-- Start Festival post -->
            <section class="FestivalPostSection" id="festivalPost">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/republic/republic-festival-post.png" alt="Ramadan festival poster"
                                class="img-fluid festival_post_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2 class="text-center text-md-left mx-auto">Festival Posts</h2>
                            <p class="text-center text-md-left mx-auto">
                                Design Your Festival Poster Easily with adbanao App, Creating a festival poster with
                                Adbanao is a great way to promote your upcoming event. you can easily create stunning
                                posters that will grab attention, promote your festival and help you reach your desired
                                audience.
                            </p>
                            <div class="text-center text-md-left mx-auto festivalPostAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get Started for
                                            Free</samp>
                                    </samp>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- End Festival post -->

            <!--event videos section start-->
            <section class="event-videos pt-3 pb-4" id="event-videos">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-6 ptb-50">
                            <h2 class="text-center text-md-left mx-auto">Ramadan wishes Videos</h2>
                            <p class="text-center text-md-left mx-auto">
                                Create a unique Ramadan Wishes video to share with your family and friends.
                                With the Adbanao App, you can also add music, filters, and effects to enhance the
                                quality of Ramadan poster or video
                            </p>
                            <div class="text-center text-md-left mx-auto event-video-anchor">
                                 <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Don't wait Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>



                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <img src="/img/republic/republic-videos.png" alt="Ramadan videos poster"
                                class="img-fluid event_video_img">
                        </div>





                    </div>


                </div>
            </section>
            <!--event videos section end-->


            <!--event whats app sticker section start -->
            <section class="whatsAppStickerSection" id="whatsAppSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv">
                            <img src="./img/republic/republic-whatsapp-sticker.png"
                                alt="Ramadan whatsapp sticker poster">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">WhatsApp Stickers specially for Ramadan</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Celebrate the Holy Month of Ramadan With Amazing Ramadan WhatsApp Stickers,
                                This is a great way to spread the joy and cheer of Ramadan. So, go ahead and make your
                                own special Ramadan stickers with Adbanao
                            </p>
                            <div class="text-center text-md-left mx-auto whatsAppStickerAnchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Find Out More</samp>
                                    </samp>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--event whats app sticker section end -->

            <!--event Audio Jingle section start -->
            <section class="audioJingleSection ptb-50" id="audioJingle">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 style="" class="text-center text-md-left mx-auto">Ramadan Audio jingles</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Our jingles are designed with the latest audio technology and are sure to
                                create a lasting impression on your audience, Creating amazing Ramadan Audiojingles
                                with Adbanao App is easier than ever.
                            </p>
                            <div class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/audio-jingle.png" alt="Ramadan audio jingle poster"
                                class="img-fluid audio_jingle_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event Audio Jingle section end -->

            <!--event GIF stickers section start -->
            <section class="GIFStickerSection yellow-bg" id="GIFSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-gif-sticker.png" alt="Ramadan gif sticker poster"
                                class="img-fluid event_gif_sticker">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2 class="text-center text-md-left mx-auto">Ramadan GIF Stickers</h2>
                            <p class="text-center text-md-left mx-auto">
                                Adbanao offers a great platform for creating stunning Ramadan GIFs with ease.Once you're
                                happy with your GIF,
                                you can save it and share it with your friends and family. With Adbanao, you can create
                                amazing GIFs
                                that will definitely impress your audience.
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #4d4d4d !important;color: #ffffff;">Download your posts</a>
              </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!--event GIF stickers section end -->

            <!--event specific and hashtags section start -->
            <section class="eventSpecificSection" id="eventSpecific">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 style="" class="text-center text-md-left mx-auto">Caption & Hashtags For Ramadan</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Creating a strong title and description is key to getting your ad seen and noticed. With
                                Adbanao, you can easily create a catchy title and description for your ad.
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto eventSpecificAnchorDiv">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #FDC705 !important;color: #000000;">Download Captions & Hashtags</a>
              </div> -->
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-event-specific.png"
                                alt="Ramadan caption and hashtags poster" class="img-fluid event_specific_img">
                        </div>
                    </div>
                </div>
            </section>

            <!--event specific and hashtags section end -->


            <!--event Audio Jingle section start -->
            <section class="animatedVideosSection" id="animatedVideos">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-animated-videos.png" alt="Ramadan animated video poster"
                                class="img-fluid animated_video_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 style="" class="text-center text-md-left mx-auto">Ramadan Animated Videos</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Create Ramadan animated videos with AdBanao app to increase engagement
                                and visibility for your brand. With its simple and user-friendly interface, AdBanao
                                makes it easy to create
                                professional quality videos in a matter of minutes.
                            </p>
                            <div style="" class="text-center text-md-left mx-auto animatedVideosAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                        <samp class="btn-design-1">
                                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                            <samp>Click Here to Download
                                                Now</samp>
                                        </samp>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--event Audio Jingle section end -->


            <!--event specific business section start -->
            <section class="specificBusinessSection" id="specificBusiness">
                <div class="container pt-4 pb-4">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Business Branding post
                            </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Business branding posts are great way to reach a wider audience and build your
                                brand's online presence. With the Adbanao App, you can easily create and manage
                                posts from a variety of sources including text, images, videos, and audio.
                            </p>
                            <div class="text-center text-md-left mx-auto specificBusinessAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Try it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-special-business-branding.png"
                                alt="Ramadan business branding poster" class="img-fluid bussines_branding_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event specific business section end -->



           <!--testimonial section end-->
           <%- include ./layouts/partials/event-testimonials.ejs %>
           <!--testimonial section end-->

        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->
               


</body>

</html>