<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Sant Dnyaneswar Jayanti is a special occasion for Hindus and is celebrated with much fanfare and
        enthusiasm.
        With the Adbanao app, you can easily create beautiful posts and videos to celebrate
        Sant Dnyaneswar Jayanti. select
        the template of your choice and customize it with your text and images.">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/shaheed-diwas-posters-banners-images`>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="bhagat singh shaheed diwas, bhagat singh shaheed diwas poster, bhagat singh shaheed diwas videos, bhagat singh shaheed diwas, भगत सिंह शहीद दिवस, भगत सिंह शहीद दिवस स्टेटस, 23 मार्च शहीद दिवस फोटो, shahid diwas poster, shahid diwas poster download, shahid diwas photo download, shahid diwas images in english, 23 march shaheed diwas images download, 23 march shaheed diwas status video download, 23 march shaheed diwas poster, 23 march shaheed diwas photo, bhagat singh rajguru sukhdev photo download, bhagat singh rajguru sukhdev in marathi,  राजगुरू फोटो, भगतसिंग राजगुरु, सुखदेव फोटो, भगत सिंह फोटो तिरंगा, भगत सिंह स्टेटस ,भगत सिंह स्टेटस डाउनलोड, Bhagat Singh Status Punjabi, bhagat singh status punjabi video martyrs day 23 march, 23 march martyrs day, shaheed diwas bhagat singh, 23 march shaheed diwas, shaheed diwas 23 march, 23 march shaheed diwas quotes, shahid diwas status, shahid diwas 23 march, shaheed diwas quotes, shahid diwas poster        
    shahid diwas image, 23 march shaheed diwas poster, shaheed diwas quotes in hindi , shaheed diwas images, martyrs day in hindi, martyrs day 23 march quotes        
    ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="Sant Dnyaneswar Jayanti is a special occasion for Hindus and is celebrated with much fanfare and
        enthusiasm.
        With the Adbanao app, you can easily create beautiful posts and videos to celebrate
        Sant Dnyaneswar Jayanti. select
        the template of your choice and customize it with your text and images." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="bhagat singh shaheed diwas, bhagat singh shaheed diwas poster, bhagat singh shaheed diwas videos, bhagat singh shaheed diwas, भगत सिंह शहीद दिवस, भगत सिंह शहीद दिवस स्टेटस, 23 मार्च शहीद दिवस फोटो, shahid diwas poster, shahid diwas poster download, shahid diwas photo download, shahid diwas images in english, 23 march shaheed diwas images download, 23 march shaheed diwas status video download, 23 march shaheed diwas poster, 23 march shaheed diwas photo, bhagat singh rajguru sukhdev photo download, bhagat singh rajguru sukhdev in marathi,  राजगुरू फोटो, भगतसिंग राजगुरु, सुखदेव फोटो, भगत सिंह फोटो तिरंगा, भगत सिंह स्टेटस ,भगत सिंह स्टेटस डाउनलोड, Bhagat Singh Status Punjabi, bhagat singh status punjabi video martyrs day 23 march, 23 march martyrs day, shaheed diwas bhagat singh, 23 march shaheed diwas, shaheed diwas 23 march, 23 march shaheed diwas quotes, shahid diwas status, shahid diwas 23 march, shaheed diwas quotes, shahid diwas poster        
        shahid diwas image, 23 march shaheed diwas poster, shaheed diwas quotes in hindi , shaheed diwas images, martyrs day in hindi, martyrs day 23 march quotes        
        "/>
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

    <!--title-->
    <title>Create Sant Dnyaneswar Jayanti posters and Videos Now!</title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
        <link rel="stylesheet" href="/css/events.css">

    <!-- for google analytics -->
    <%- include ./layouts/partials/google-analytics.ejs %>

</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height ptb-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h2 class="text-center text-md-left republicDayHead">
                                    Create Shaheed Diwas Posters & Videos Now
                                </h2>
                                <p class="youWillGetPara text-justify">
                                    Honor the sacrifice of Bhagat Singh, Rajguru, and Sukhdev on Shaheed Diwas with AdBanao. 
                                    Create special posters and videos with ready-made templates and share them on social media.

                                </p>

                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                                    <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                        <samp class="btn-design">
                                           <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                  <samp>Download Free Posters Now</samp>
                                        </samp>
                                 </a>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/republic/republic-header.png" alt="Shaheed Diwas poster"
                                class="img-fluid img_header">

                        </div>
                    </div>
                </div>

            </section>
            <!--hero section end-->

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium ptb-50" id="ourBrandingMedium">
                <div class="container text-center">
                    <h2 class="text-center">Branding Mediums available for Shaheed Diwas</h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#festivalPost" class="pl-3">Festival Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">Shaheed Diwas WhatsApp Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">Shaheed Diwas GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#animatedVideos" class="pl-3">Shaheed Diwas Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">Shaheed Diwas Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">Shaheed Diwas Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#eventSpecific" class="pl-3">Event Special Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Business Branding Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                        <samp class="btn-design-1">
                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                            <samp>Download Free
                                Posts Now</samp>
                        </samp>
                    </a>

                </div>
            </section>

            <!-- Branding Medium end -->

            <!-- Start Festival post -->
            <section class="FestivalPostSection" id="festivalPost">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/republic/republic-festival-post.png" alt="Shaheed Diwas poster"
                                class="img-fluid festival_post_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2 class="text-center text-md-left mx-auto">Festival Posts</h2>
                            <p class="text-justify mx-auto">
                                Celebrate the festivals of India with AdBanao. 
                                Create festive posts with beautiful images, quotes, captions, hashtags, and more. 
                                Share your joy and culture with your followers and customers.
                            </p>
                            <div class="text-center text-md-left mx-auto festivalPostAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get Started for
                                            Free</samp>
                                    </samp>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- End Festival post -->

            <!--event videos section start-->
            <section class="event-videos pt-3 pb-4" id="event-videos">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-6 ptb-50">
                            <h2 class="text-center text-md-left mx-auto">Create Shaheed Diwas Video</h2>
                            <p class="text-justify mx-auto">
                                Pay tribute to the martyrs of India’s freedom struggle on Shaheed Diwas with AdBanao. 
Make video with your own message, logo, and audio jingle. Share it on WhatsApp, Facebook, Instagram, and more.
                            </p>
                            <div class="text-center text-md-left mx-auto event-video-anchor">
                                 <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Don't wait Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>



                        </div>
                        <div class="col-12 col-md-6 text-center">
                            <img src="/img/republic/republic-videos.png" alt="Shaheed Diwas videos poster"
                                class="img-fluid event_video_img">
                        </div>





                    </div>


                </div>
            </section>
            <!--event videos section end-->


            <!--event whats app sticker section start -->
            <section class="whatsAppStickerSection" id="whatsAppSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv" style="">
                            <img src="./img/republic/republic-whatsapp-sticker.png"
                                alt="Shaheed Diwas whatsapp sticker poster">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Shaheed Diwas Whatsapp Stickers </h2>
                            <p class="text-black text-justify mx-auto" style="">
                                इन्कलाब जिंदाबाद - Honor India's real hero on this Shaheed Diwas with the AdBanao app.
                                Get Special WhatsApp stickers on our app, add and download them to your WhatsApp, and share them with pride with everyone.
                            </p>
                            <div class="text-center text-md-left mx-auto whatsAppStickerAnchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Find Out More</samp>
                                    </samp>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--event whats app sticker section end -->

            <!--event Audio Jingle section start -->
            <section class="audioJingleSection ptb-50" id="audioJingle">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Shaheed Diwas With Audio Jingles</h2>
                            <p class="text-black text-justify mx-auto">
                                Express your respect and gratitude to the heroes of India on Shaheed Diwas with AdBanao. 
                                Choose sound loops or add your own audio and create a special audio jingle to pay tribute to our heroes.
                            </p>
                            <div class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/audio-jingle.png" alt="Shaheed Diwas audio jingle poster"
                                class="img-fluid audio_jingle_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event Audio Jingle section end -->

            <!--event GIF stickers section start -->
            <section class="GIFStickerSection yellow-bg" id="GIFSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-gif-sticker.png" alt="Shaheed Diwas gif sticker poster"
                                class="img-fluid event_gif_sticker">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto">
                            <h2 class="text-center text-md-left mx-auto">Shaheed Diwas GIF Stickers</h2>
                            <p class="text-justify mx-auto">
                                Get the special trending GIF stickers or make your own stickers with the AdBanao app. 
                                Make appealing GIF stickers and show your respect to Bhagat Singh, Rajguru, and Sukhdev Ji.</p>
                            <!-- <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #4d4d4d !important;color: #ffffff;">Download your posts</a>
              </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!--event GIF stickers section end -->

            <!--event specific and hashtags section start -->
            <section class="eventSpecificSection" id="eventSpecific">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Captions & Hashtags For Shaheed Diwas </h2>
                            <p class="text-black text-justify mx-auto">
                                Boost your organic reach and get amazing captions and hashtags with the AdBanao app.
Make your post viral with the AdBanao app's Captions and hashtags for this Shaheed Diwas.
                            </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto eventSpecificAnchorDiv">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #FDC705 !important;color: #000000;">Download Captions & Hashtags</a>
              </div> -->
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-event-specific.png"
                                alt="Shaheed Diwas caption and hashtags poster" class="img-fluid event_specific_img">
                        </div>
                    </div>
                </div>
            </section>

            <!--event specific and hashtags section end -->


            <!--event Audio Jingle section start -->
            <section class="animatedVideosSection" id="animatedVideos">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-animated-videos.png" alt="Shaheed Diwas animated video poster"
                                class="img-fluid animated_video_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Shaheed Diwas Animated Video	</h2>
                            <p class="text-black text-justify mx-auto">
                                23 March 1931: Remembering India's Freedom Fighters on this Shaheed Diwas with the AdBanao app
                                Create fantastic videos in minutes and share them online.
                            </p>
                            <div class="text-center text-md-left mx-auto animatedVideosAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                        <samp class="btn-design-1">
                                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                            <samp>Click Here to Download
                                                Now</samp>
                                        </samp>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--event Audio Jingle section end -->


            <!--event specific business section start -->
            <section class="specificBusinessSection mb-5" id="specificBusiness">
                <div class="container pt-4 pb-4">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Business Branding post
                            </h2>
                            <p class="text-black text-justify mx-auto">
                                Boost your brand's value. Choose from 150+ varieties of industries, 
                                Create a stunning design with simple editing options, and take your business branding to the next level.
                            </p>
                            <div class="text-center text-md-left mx-auto specificBusinessAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Try it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-special-business-branding.png"
                                alt="Shaheed Diwas business branding poster" class="img-fluid bussines_branding_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event specific business section end -->



            <!--testimonial section end-->
            <%- include ./layouts/partials/event-testimonials.ejs %>
            <!--testimonial section end-->

        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->

</body>

</html>