<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content=" New beginnings, endless prosperity: Celebrate Shivrajyabhishek Sohala with Creative 
        Posters and Videos Now! Adbanao allows you to customize your poster with a 
        variety of templates, fonts,  colors, images, and more.">
    <meta name="author" content="Accucia Softwares Pvt. Ltd.">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/shivrajya-abhishek-sohala-images-banner`>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="rajyabhishek sohala, shivrajyabhishek sohala, shivaji maharaj rajyabhishek , 6 june shivaji maharaj rajyabhishek, sambhaji maharaj rajyabhishek date , shivaji rajyabhishek ,chhatrapati shivaji maharaj rajyabhishek sohala, shivaji maharaj rajyabhishek sohala, शिवराज्याभिषेक सोहळा, शिवराज्याभिषेक, shivrajyabhishek din,shiv rajyabhishek photo, shivrajyabhishek sohala banner ,chhatrapati shivaji maharaj status        
    शिवाजी महाराज स्टेटस, shivaji maharaj status videos, shivaji status, chatrapati shivaji maharaj status, shivaji maharaj status download        
    shivaji maharaj status video download, छत्रपति शिवाजी महाराज स्टेटस        
                 
     ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content=" New beginnings, endless prosperity: Celebrate Shivrajyabhishek Sohala  with Creative 
        Posters and Videos Now! Adbanao allows you to customize your poster with a 
        variety of templates, fonts,  colors, images, and more." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="Post Maker, Post Designer, Post Editor, Poster maker, Poster Designer, branding videos maker, create promotional video, online advertisement designer, Readymade banner, shop banner designs, design shop posters" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

    <!--title-->
    <title>Create Shivrajyabhishek Sohala  Posters and Videos Now!</title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
        <link rel="stylesheet" href="/css/events.css">

    <!-- for google analytics -->
    <%- include ./layouts/partials/google-analytics.ejs %>

</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height ptb-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h2 class="text-center text-md-left republicDayHead">
                                    Create Shivrajyabhishek Sohala Posters & Videos Now
                                </h2>
                                <p>
                                    Raje ale - Create posters and videos of Shivrajyabhishek Sohala with the AdBanao app today.
                                    Customize our ready-made creatives and your information now.
                                </p>

                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                                    <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                        <samp class="btn-design">
                                           <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                  <samp>Download Free Posters Now</samp>
                                        </samp>
                                 </a>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/Shiv Rajyabhishek Din/Header Section Shiv Rajyabhishek Din.png" alt="Shivrajyabhishek Sohala  posters" class="img-fluid   img_header">

                        </div>
                    </div>
                </div>

            </section>
            <!--hero section end-->

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium ptb-50" id="ourBrandingMedium">
                <div class="container text-center">
                    <h2 class="text-center">Branding Mediums available for Shivrajyabhishek Sohala </h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex justify-content-md-center justify-content-sm-start">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick"  class="event_tick_img" >
                                    <a href="#festivalPost" class="pl-3">Festival Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">Shivrajyabhishek Sohala  WhatsApp Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick "class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">Shivrajyabhishek Sohala  GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img" >
                                    <a href="#animatedVideos" class="pl-3">Shivrajyabhishek Sohala  Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-md-center justify-content-sm-start">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">Shivrajyabhishek Sohala  Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">Shivrajyabhishek Sohala  Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img" >
                                    <a href="#eventSpecific" class="pl-3">Event Special Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick"  class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Business Branding Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                        <samp class="btn-design-1">
                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                            <samp>Download Free
                                Posts Now</samp>
                        </samp>
                    </a>

                </div>
            </section>

            <!-- Branding Medium end -->

            <!-- Start Festival post -->
            <section class="FestivalPostSection" id="festivalPost">
                <div class="container pt-4 pb-4">
                    <div class="row py-4">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/eventpage-images/Shiv Rajyabhishek Din/Festival Post Shiv Rajyabhishek Din.png" alt="Shivrajyabhishek Sohala  festival posters" class="img-fluid  festival_post_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto pt-3">
                            <h2  class="text-center text-md-left mx-auto">Festival Posts</h2>
                            <p  class="text-center text-md-left mx-auto">
                                Make every festival one of the most unforgettable ones with the AdBanao app. 
                                Create posters and videos for all Indian festivals. Show your creativity today.
                            </p>
                            <div  class="text-center text-md-left mx-auto festivalPostAnchorDiv">
                               <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get Started for
                                            Free</samp>
                                    </samp>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- End Festival post -->

            <!--event videos section start-->
            <section class="event-videos pt-3 pb-4" id="event-videos">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center py-4">
                        <div class="col-12 col-md-6 ptb-50">
                            <h2 class="text-center text-md-left mx-auto">Create Shivrajy abhishek Sohala Video</h2>
                            <p  class="text-center text-md-left mx-auto">
                                The king is coming. 
                                Create videos for Shivrajyabhishek Sohala today. 
                                Choose the template, edit it in simple steps, download it, and share it everywhere. Jai Shivrai.
                            </p>
                            <div class="text-center text-md-left mx-auto event-video-anchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Don't wait Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>



                        </div>
                        <div class="col-12 col-md-6 text-center pt-3">
                            <img src="/img/eventpage-images/Shiv Rajyabhishek Din/Videos Shiv Rajyabhishek Din.png" alt="Shivrajyabhishek Sohala  video poster" class="img-fluid  event_video_img">
                        </div>


                    </div>


                </div>
            </section>
            <!--event videos section end-->


            <!--event whats app sticker section start -->
            <section class="whatsAppStickerSection" id="whatsAppSticker">
                <div class="container pt-4 pb-4">
                    <div class="row ">
                        <div class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv">
                            <img src="./img/eventpage-images/Shiv Rajyabhishek Din/WhatsApp Sticker Shiv Rajyabhishek Din.png" alt="Shivrajyabhishek Sohala  whatsapp sticker poster" class="" >
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto">Shivrajyabhishek Sohala Whatsapp Stickers</h2>
                            <p class="text-black text-center text-md-left mx-auto" >
                                Celebrate Shivrajyabhishek Sohala with AdBanao's WhatsApp stickers.
Choose the best stickers, personalize them, add them to WhatsApp, and share them today.
try now.
                            </p>
                            <div  class="text-center text-md-left mx-auto whatsAppStickerAnchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Find Out More</samp>
                                    </samp>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--event whats app sticker section end -->

            <!--event Audio Jingle section start -->
            <section class="audioJingleSection ptb-50" id="audioJingle">
                <div class="container pt-4 pb-4">
                    <div class="row py-4">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto"> Shivrajyabhishek Sohala With Audio Jingles</h2>
                            <p class="text-black text-center text-md-left mx-auto" >
                                Give your best tribute to Chatrapati with AdBanao's audio jingles. 
                                Choose the sound loops or add your own audio and add jingles to your videos. 
                                Try this exclusive AI feature now.
                            </p>
                            <div  class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/audio-jingle.png" alt="Shivrajyabhishek Sohala  audio jingle poster" class="img-fluid  audio_jingle_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event Audio Jingle section end -->

            <!--event GIF stickers section start -->
            <section class="GIFStickerSection yellow-bg" id="GIFSticker">
                <div class="container pt-4 pb-4">
                    <div class="row py-4">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Shiv Rajyabhishek Din/Gif Sticker Shiv Rajyabhishek Din.png" alt="Shivrajyabhishek Sohala  gif sticker poster" class="img-fluid event_gif_sticker">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto pt-3">
                            <h2  class="text-center text-md-left mx-auto">Shivrajyabhishek Sohala GIF Stickers</h2>
                            <p  class="text-center text-md-left mx-auto">
                                Download our exclusive GIF stickers of Chatrapati Shivaji Maharaj today.
                                Also, edit as per your wish in simple steps and share the GIF online.
                                Make yours today.
                        </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #4d4d4d !important;color: #ffffff;">Download your posts</a>
              </div> -->
                        </div>
                    </div>
                    
                </div>
            </section>
            <!--event GIF stickers section end -->

            <!--event specific and hashtags section start -->
            <section class="eventSpecificSection" id="eventSpecific">
                <div class="container pt-4 pb-4">
                    <div class="row py-4">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Captions & Hashtags For Shivrajyabhishek Sohala </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Reach the best audience with AdBanao's special Shivrajyabhishek Sohala captions and hashtags.
                                Choose the best and boost your social media posts today.
                            </p>
                           
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/eventpage-images/Shiv Rajyabhishek Din/Caption_Hashtag Shiv Rajyabhishek Din.png" alt="Shivrajyabhishek Sohala  caption and hashtags poster" class="img-fluid event_specific_img">
                        </div>
                    </div>
                </div>
            </section>

            <!--event specific and hashtags section end -->


            <!--event Audio Jingle section start -->
            <section class="animatedVideosSection" id="animatedVideos">
                <div class="container pt-4 pb-4">
                    <div class="row py-4">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/eventpage-images/Shiv Rajyabhishek Din/Animated Videos Shiv Rajyabhishek Din.png" alt="Shivrajyabhishek Sohala  animated video poster" class="img-fluid  animated_video_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto"> Shivrajyabhishek Sohala Animated Video</h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Jai Bhavani, Jai Shivaji - Bring the historical day to life with AdBanao's animated videos.
                                Choose the templates. Add music, text, download, and share in less than a minute. Try right now.
                            </p>
                            <div class="text-center text-md-left mx-auto animatedVideosAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                        <samp class="btn-design-1">
                                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                            <samp>Click Here to Download
                                                Now</samp>
                                        </samp>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--event Audio Jingle section end -->


            <!--event specific business section start -->
            <section class="specificBusinessSection" id="specificBusiness">
                <div class="container pt-4 pb-4">
                    <div class="row py-4">

                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2  class="text-center text-md-left mx-auto">Business Branding post
                            </h2>
                            <p class="text-black text-center text-md-left mx-auto">
                                Boost your brand's value.
                                Choose from 100+ varieties of industries, 
                                Create a stunning design with simple editing options, and take your business branding to the next level.
                            </p>
                            <div class="text-center text-md-left mx-auto specificBusinessAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Try it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/eventpage-images/Shiv Rajyabhishek Din/Business Branding Post Shiv Rajyabhishek Din.png" alt="Shivrajyabhishek Sohala  branding poster" class="img-fluid  bussines_branding_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event specific business section end -->


           <!--testimonial section end-->
           <%- include ./layouts/partials/event-testimonials.ejs %>
           <!--testimonial section end-->

        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->


</body>

</html>