<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Get Events info here and download posters , videos , WhatsApp stickers and more only on AdBanao app. ">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/eventpage-images/event_canonical.png">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/uttar-pradesh-diwas-banners-posters`>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords" content="uttar pradesh diwas, uttar pradesh diwas wishes in english, uttar pradesh sthapana diwas, uttar pradesh diwas kab manaya jata hai, उत्तर प्रदेश का इतिहास, उत्तर प्रदेश का प्राचीन नाम, उत्तर प्रदेश का पूरा नाम क्या है, uttar pradesh diwas poster, uttar pradesh diwas poster in hindi, uttar pradesh diwas poster hd, uttar pradesh diwas poster download, uttar pradesh diwas photo, uttar pradesh diwas photo Download, उत्तर प्रदेश स्थापना दिवस की शुभकामनाएं, "
    >

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description"
        content="Get Events info here and download posters , videos , WhatsApp stickers and more only on AdBanao app. " />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords" name="keywords"
        content="uttar pradesh diwas, uttar pradesh diwas wishes in english, uttar pradesh sthapana diwas, uttar pradesh diwas kab manaya jata hai, उत्तर प्रदेश का इतिहास, उत्तर प्रदेश का प्राचीन नाम, उत्तर प्रदेश का पूरा नाम क्या है, uttar pradesh diwas poster, uttar pradesh diwas poster in hindi, uttar pradesh diwas poster hd, uttar pradesh diwas poster download, uttar pradesh diwas photo, uttar pradesh diwas photo Download, उत्तर प्रदेश स्थापना दिवस की शुभकामनाएं, "
        />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

    <!--title-->
    <title>Create UP Diwas posters and Videos Now!</title>

    <!--favicon icon-->
    <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

    <!--custom css-->
    <%- include ./layouts/partials/styles.ejs %>
        <link rel="stylesheet" href="/css/events.css">

    <!-- for google analytics -->
    <%- include ./layouts/partials/google-analytics.ejs %> 
    <style>
        .festival_post_img {
        width: 170px;
    }
    </style>
</head>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="hero-equal-height ptb-100 gradient-overlay-wave eventSection">
                <div class="container eventContainer">
                    <div class="row align-items-center">

                        <div class="col-md-6 col-lg-6">
                            <div class="hero-content-left my-lg-0 my-md-5 my-sm-5 my-5 event-left-section">

                                <h2 class="text-center text-md-left republicDayHead">
                                    Create UP Diwas Posters & Videos Now                              </h2>
                                <p class="youWillGetPara text-justify">
                                Celebrate Uttar Pradesh Diwas with custom posters and videos created with AdBanao. 
                                    Our easy-to-use tools make it simple to create professional-quality content in a minute. Try now!
                                </p>

                                <div
                                    class="d-flex justify-content-center justify-content-md-start eventContainerAnchorDiv">

                                    <a href="" type="button" class="btn downloadFreePost new-btn  ptb-3">
                                        <samp class="btn-design">
                                           <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                                  <samp>Download Free Posters Now</samp>
                                        </samp>
                                 </a>
                                </div>


                            </div>
                        </div>


                        <div class="col-md-6 col-lg-6 text-center">
                            <img src="/img/republic/republic-header.png" alt="UP Diwas poster"
                                class="img-fluid img_header">

                        </div>
                    </div>
                </div>

            </section>
            <!--hero section end-->

            <!-- Branding Medium start -->
            <section class="ourBrandingMedium ptb-50" id="ourBrandingMedium">
                <div class="container text-center">
                    <h2 class="text-center">Branding Mediums available for UP Diwas</h2>
                    <div class="row mt-5">
                        <div class="col-12 col-md-6 d-flex justify-content-md-center justify-content-sm-start">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#festivalPost" class="pl-3">Festival Posts</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#whatsAppSticker" class="pl-3">UP Diwas WhatsApp Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#GIFSticker" class="pl-3">UP Diwas GIF Stickers</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#animatedVideos" class="pl-3">UP Diwas Animated Videos</a>
                                </li>


                            </ul>

                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-md-center justify-content-sm-start">
                            <ul class="d-flex justify-content-center justify-content-md-start flex-column">


                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#event-videos" class="pl-3">UP Diwas Videos</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#audioJingle" class="pl-3">UP Diwas Audio Jingles</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#eventSpecific" class="pl-3">Event Special Caption & Hashtags</a>
                                </li>

                                <li class="d-flex justify-content-start align-items-center mb-3">
                                    <img src="./img/event-tick.png" alt="event-tick" class="event_tick_img">
                                    <a href="#specificBusiness" class="pl-3">Special Business Branding Posts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                        <samp class="btn-design-1">
                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                            <samp>Download Free
                                Posts Now</samp>
                        </samp>
                    </a>

                </div>
            </section>

            <!-- Branding Medium end -->

            <!-- Start Festival post -->
            <section class="FestivalPostSection" id="festivalPost">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="/img/republic/republic-festival-post.png" alt="UP Diwas festival poster"
                                class="img-fluid festival_post_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto">Festival Posts</h2>
                            <p class="text-justify mx-auto">
                                Create stunning festival posts in minutes, share the designs with your audience, and grow your digital branding with our Adbanao App. Try it now!
                            </p>
                            <div class="text-center text-md-left mx-auto festivalPostAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get Started for
                                            Free</samp>
                                    </samp>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>
            </section>
            <!-- End Festival post -->

            <!--event videos section start-->
            <section class="event-videos pt-3 pb-4" id="event-videos">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-6 ptb-50">
                            <h2 class="text-center text-md-left mx-auto">Create UP Diwas Video</h2>
                            <p class="text-justify mx-auto">
                                Make your Uttar Pradesh Diwas More Special with a custom Diwas video. AdBanao's tools allow you to add music, effects, and text to create a truly unique video.
                            </p>
                            <div class="text-center text-md-left mx-auto event-video-anchor">
                                 <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Don't wait Download
                                            Now</samp>
                                    </samp>
                                </a>
                            </div>



                        </div>
                        <div class="col-12 col-md-6 text-center pt-3">
                            <img src="/img/republic/republic-videos.png" alt="UP Diwas videos poster"
                                class="img-fluid event_video_img">
                        </div>





                    </div>


                </div>
            </section>
            <!--event videos section end-->


            <!--event whats app sticker section start -->
            <section class="whatsAppStickerSection" id="whatsAppSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center whatsappStickerImgDiv" style="">
                            <img src="./img/republic/republic-whatsapp-sticker.png"
                                alt="UP Diwas whatsapp sticker poster">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto">UP Diwas Whatsapp Stickers </h2>
                            <p class=" text-justify mx-auto" style="">
                                Get unique Whatsapp Stickers for your Customers only on the AdBanao app.
Boost your reach organically and share the happiness of making a viral post.
                            </p>
                            <div class="text-center text-md-left mx-auto whatsAppStickerAnchor">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Find Out More</samp>
                                    </samp>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--event whats app sticker section end -->

            <!--event Audio Jingle section start -->
            <section class="audioJingleSection ptb-50" id="audioJingle">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">UP Diwas With Audio Jingles</h2>
                            <p class=" text-justify mx-auto">
                                Uttar Pradesh Foundation Day! Get special audio jingles on the AdBanao app. 
                                Choose the sound loop or add your own audio and make an audio file for your video today.
                            </p>
                            <div class="text-center text-md-left mx-auto audioJingleAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Get it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/audio-jingle.png" alt="UP Diwas audio jingle poster"
                                class="img-fluid audio_jingle_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event Audio Jingle section end -->

            <!--event GIF stickers section start -->
            <section class="GIFStickerSection yellow-bg" id="GIFSticker">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-gif-sticker.png" alt="UP Diwas gif sticker poster"
                                class="img-fluid event_gif_sticker">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-left my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto">UP Diwas GIF Stickers</h2>
                            <p class="text-justify mx-auto">
                                Choose the best ready-made gif stickers on the AdBanao app, edit them with quick tools, and Save them for your WhatsApp, and share them with your friends and family easily.</p>
                            <!-- <div style="" class="text-center text-md-left mx-auto GIFStickerAnchorDIV">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #4d4d4d !important;color: #ffffff;">Download your posts</a>
              </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!--event GIF stickers section end -->

            <!--event specific and hashtags section start -->
            <section class="eventSpecificSection" id="eventSpecific">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center my-auto">
                            <h2 class="text-center text-md-left mx-auto">Captions & Hashtags For UP Diwas</h2>
                            <p class=" text-justify mx-auto">
                                Get unique hashtags and captions for your UttarPradesh Foundation Day posts and videos only on the AdBanao app.Boost your reach organically and share the happiness of making a viral post.                           </p>
                            <!-- <div style="" class="text-center text-md-left mx-auto eventSpecificAnchorDiv">
                <a href="#" type="button" class="btn downloadFreePost rounded-pill" style="background-color: #FDC705 !important;color: #000000;">Download Captions & Hashtags</a>
              </div> -->
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/republic/republic-event-specific.png"
                                alt="UP Diwas caption and hashtags poster" class="img-fluid event_specific_img">
                        </div>
                    </div>
                </div>
            </section>

            <!--event specific and hashtags section end -->


            <!--event Audio Jingle section start -->
            <section class="animatedVideosSection" id="animatedVideos">
                <div class="container pt-4 pb-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                            <img src="./img/republic/republic-animated-videos.png" alt="UP Diwas animated video poster"
                                class="img-fluid animated_video_img">
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 my-auto pt-3">
                            <h2 class="text-center text-md-left mx-auto">UP Diwas Animated Video</h2>
                            <p class=" text-justify mx-auto">
                                Get ready foir an Animated Adventure like never before with AdBanao Special Annimated Videos. Edit them with quick tools, and use them for your videos status on reels, WhatsApp, and everywhere else. 
                            </p>
                            <div class="text-center text-md-left mx-auto animatedVideosAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                        <samp class="btn-design-1">
                                            <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                            <samp>Click Here to Download
                                                Now</samp>
                                        </samp>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--event Audio Jingle section end -->


            <!--event specific business section start -->
            <section class="specificBusinessSection mb-5" id="specificBusiness">
                <div class="container pt-4 pb-4">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-6 my-auto">
                            <h2 class="text-center text-md-left mx-auto">Business Branding Post
                            </h2>
                            <p class=" text-justify mx-auto">
                                AdBanao Brings your Business Branding ideas in your fingertip with Attractive Business Branding Post. Create a stunning design with simple editing options, and take your business branding to the next level.

                            </p>
                            <div class="text-center text-md-left mx-auto specificBusinessAnchorDiv">
                                <a href="" type="button" class="btn downloadFreePost new-btn-1  ptb-3">
                                    <samp class="btn-design-1">
                                        <img src="/img/adbanao-btn-1.png" alt="Download Free Posters Now">
                                        <samp>Try it Now</samp>
                                    </samp>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center pt-3">
                            <img src="./img/republic/republic-special-business-branding.png"
                                alt="UP Diwas business branding poster" class="img-fluid bussines_branding_img">
                        </div>
                    </div>
                </div>
            </section>
            <!--event specific business section end -->



            <!--testimonial section end-->
            <%- include ./layouts/partials/event-testimonials.ejs %>
            <!--testimonial section end-->

        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>
                <!-- script end -->

</body>

</html>