<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
        content="Vidhan Sabha election 2023. 
    get exclusive branding content for election only on AdBanao app. Download the app now and support your party for free. ">
    <meta data-id="image" property="og:image" content="">
    <link rel="canonical" href="https://www.adbanao.com/img/election_page/election.jpg">
    <meta data-id="site_name" property="og:site_name" content=`${Base_url}/vidhansabha-election-special-adbanao-app    `>
    <meta name="language" content="en">

    <!-- Meta Keyword-->
    <meta name="keywords"
        content="madhya pradesh election madhya pradesh vidhan sabha , madhya pradesh cm , madhya pradesh election  update , madhya pradesh election posters , shivrajsingh chauhan poster, shivraj singh chauhan videos , bjp prachar , bjp pracharak , bjp videos for election , bjp symbol video ,  bjp videos loksabha , bjp videos posters, modi posters madhya pradesh , congress madhya pradesh , kamalnath eleection posters , kamalnath posters mp , madhya pradesh vidhan sabha , vidhan sabha chunav , indore election , indore mla , mla videos madhya pradesh , gwalior election , gwalior videos mp, jyotiraditya sciindia videos , jyotiraditya sciindia videos posters , jyotiraditya sciindia videos posters stickers,  mp election 2023 , mp posters , mp modi videos , mp modi posters , modi 2024 , modi 2023 , bjp 2023 vidhan sabha , vidhan sabha seat madhya pradesh , shivrajsingh chauhan vs kamalnath 2023 , exit poll videos , exit poll posters , bjp vs congress videos , bjp vs congress posters , bjp vs congress madhya pradesh , bjp vs congress fight madhya pradesh , mama vs modi, shivraj singh chauhan vs all, मध्य प्रदेश विधानसभा , कांग्रेस , मध्य प्रदेश विधानसभा चुनाव , मध्य प्रदेश विधानसभा चुनाव पोस्टर्स  ,  मध्य प्रदेश विधानसभा चुनाव वीडियोस ,   विधानसभा चुनाव पोस्टर्स ,  विधानसभा चुनाव पोस्टर्स वीडियोस ,  madhya pradesh chunav prachar posters , madhya pradesh chunav prachar videos , madhya pradesh chunav prachar stickers , madhya pradesh chunav prachar hindi , madhya pradesh chunav prachar bhind, madhya pradesh chunav prachar indore , madhya pradesh chunav prachar shivpuri , madhya pradesh chunav prachar videos status ,  मध्यप्रदेश में चुनाव प्रचार , मध्यप्रदेश में चुनाव प्रचार . 
        राजस्थान चुनाव वीडियोस , राजस्थान चुनाव पोस्टर्स , राजस्थान चुनाव २०२३ , राजस्थान विधान सभा चुनाव बीजेपी , राजस्थान विधान सभा चुनाव कांग्रेस , कांग्रेस  सरकार , कांग्रेस वीडियोस राजस्थान , कांग्रेस वीडियोस पोस्टर्स , चुनाव प्रचार साम्रग्री , राजस्थान विधानसभा चनाव , राजस्थान कांग्रेस पोस्टर्स , राजस्थान कांग्रेस वीडियोस , राजस्थान कांग्रेस स्टिकेर्स ,अशोक गहलोत पोस्टर्स , अशोक गहलोत वीडियोस , अशोक गेहलोत उदयपुर , अशोक गहलोत पोस्टर्स , सचिन पायलट वीडियोस , सचिन पायलट पोस्टर्स , सचिन पायलट विशन सभा चुनाव , वसुंधरा राजे मुख्यमंत्री , राजस्थान चुनाव विशेष , 
        rajsthan election posters , rajsthan election banners , rajasthan election prachar , rajasthan election videos downloads , rajsthan election bjp , rajasthan election stickers , Telangana election
        Telangana election date, Telangana election schedule.Telangana election candidates, Telangana election parties,Telangana election manifesto
        Telangana election campaign,Telangana election results,Telangana election exit polls,Telangana election surveys,Telangana election opinion polls,Telangana election predictions,Telangana election analysis,Telangana election victory
        Telangana election,Telangana election coalition,Telangana election government,Telangana election opposition,Telangana election 2023
        brs posters , brs videos , brs party stickers , brs party video download , brs telangana , trs telangana , bjp telangana posters , bjp telangana videos , bjp telangana election , bjp videos telugu , ktr videos , ktr posters , ktr png , ktr stickers , ktr hydrabad , congress telangana posters , congress telangana videos , congress videos telnagana , congress revananth reddy posters , congress revanth reddy , malkarajgiri mp , arvind dharmapuri , raja singh telnagana, rajendra etala bjp , bandi sanjay bjp , kcr vs bjp , kcr , modi , modi banners posters , narendra modi birthday banner, narendra modi images, narendra modi  poster,  narendra modi ji,  narendra modi
        narendra modi  status,  narendra modi photo, narendra modi happy photo, narendra modi birthday wishes in gujarati, narendra modi
        narendra modi  images, narendra modi , narendra modi birthday status, loksabha election 2024 , modi election , modi elections posters, indore mla videos , indore congress , jitu patwari madhya pradesh ,   ">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="http://www.adbanao.com" /> <!-- website name -->
    <meta property="og:site" content="http://www.adbanao.com" /> <!-- website link -->
    <meta property="og:title" content="AdBanao | Brand Badhao
    " /> <!-- title shown in the actual shared post -->
    <meta property="og:description" name="description" content="Find the best election & polticians special posters, videos, WhatsApp stickers, trending videos and more on the AdBanao app. 
    " />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:keywords"
        name="madhya pradesh election madhya pradesh vidhan sabha , madhya pradesh cm , madhya pradesh election  update , madhya pradesh election posters , shivrajsingh chauhan poster, shivraj singh chauhan videos , bjp prachar , bjp pracharak , bjp videos for election , bjp symbol video ,  bjp videos loksabha , bjp videos posters, modi posters madhya pradesh , congress madhya pradesh , kamalnath eleection posters , kamalnath posters mp , madhya pradesh vidhan sabha , vidhan sabha chunav , indore election , indore mla , mla videos madhya pradesh , gwalior election , gwalior videos mp, jyotiraditya sciindia videos , jyotiraditya sciindia videos posters , jyotiraditya sciindia videos posters stickers,  mp election 2023 , mp posters , mp modi videos , mp modi posters , modi 2024 , modi 2023 , bjp 2023 vidhan sabha , vidhan sabha seat madhya pradesh , shivrajsingh chauhan vs kamalnath 2023 , exit poll videos , exit poll posters , bjp vs congress videos , bjp vs congress posters , bjp vs congress madhya pradesh , bjp vs congress fight madhya pradesh , mama vs modi, shivraj singh chauhan vs all, मध्य प्रदेश विधानसभा , कांग्रेस , मध्य प्रदेश विधानसभा चुनाव , मध्य प्रदेश विधानसभा चुनाव पोस्टर्स  ,  मध्य प्रदेश विधानसभा चुनाव वीडियोस ,   विधानसभा चुनाव पोस्टर्स ,  विधानसभा चुनाव पोस्टर्स वीडियोस ,  madhya pradesh chunav prachar posters , madhya pradesh chunav prachar videos , madhya pradesh chunav prachar stickers , madhya pradesh chunav prachar hindi , madhya pradesh chunav prachar bhind, madhya pradesh chunav prachar indore , madhya pradesh chunav prachar shivpuri , madhya pradesh chunav prachar videos status ,  मध्यप्रदेश में चुनाव प्रचार , मध्यप्रदेश में चुनाव प्रचार . 
        राजस्थान चुनाव वीडियोस , राजस्थान चुनाव पोस्टर्स , राजस्थान चुनाव २०२३ , राजस्थान विधान सभा चुनाव बीजेपी , राजस्थान विधान सभा चुनाव कांग्रेस , कांग्रेस  सरकार , कांग्रेस वीडियोस राजस्थान , कांग्रेस वीडियोस पोस्टर्स , चुनाव प्रचार साम्रग्री , राजस्थान विधानसभा चनाव , राजस्थान कांग्रेस पोस्टर्स , राजस्थान कांग्रेस वीडियोस , राजस्थान कांग्रेस स्टिकेर्स ,अशोक गहलोत पोस्टर्स , अशोक गहलोत वीडियोस , अशोक गेहलोत उदयपुर , अशोक गहलोत पोस्टर्स , सचिन पायलट वीडियोस , सचिन पायलट पोस्टर्स , सचिन पायलट विशन सभा चुनाव , वसुंधरा राजे मुख्यमंत्री , राजस्थान चुनाव विशेष , 
        rajsthan election posters , rajsthan election banners , rajasthan election prachar , rajasthan election videos downloads , rajsthan election bjp , rajasthan election stickers , Telangana election
        Telangana election date, Telangana election schedule.Telangana election candidates, Telangana election parties,Telangana election manifesto
        Telangana election campaign,Telangana election results,Telangana election exit polls,Telangana election surveys,Telangana election opinion polls,Telangana election predictions,Telangana election analysis,Telangana election victory
        Telangana election,Telangana election coalition,Telangana election government,Telangana election opposition,Telangana election 2023
        brs posters , brs videos , brs party stickers , brs party video download , brs telangana , trs telangana , bjp telangana posters , bjp telangana videos , bjp telangana election , bjp videos telugu , ktr videos , ktr posters , ktr png , ktr stickers , ktr hydrabad , congress telangana posters , congress telangana videos , congress videos telnagana , congress revananth reddy posters , congress revanth reddy , malkarajgiri mp , arvind dharmapuri , raja singh telnagana, rajendra etala bjp , bandi sanjay bjp , kcr vs bjp , kcr , modi , modi banners posters , narendra modi birthday banner, narendra modi images, narendra modi  poster,  narendra modi ji,  narendra modi
        narendra modi  status,  narendra modi photo, narendra modi happy photo, narendra modi birthday wishes in gujarati, narendra modi
        narendra modi  images, narendra modi , narendra modi birthday status, loksabha election 2024 , modi election , modi elections posters, indore mla videos , indore congress , jitu patwari madhya pradesh ,   " />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <%- include ./layouts/partials/meta.ejs %>

        <!--title-->
        <title>Get election posters & videos for free only on AdBanao App
        </title>

        <!--favicon icon-->
        <link rel="icon" href="./assets/images/logo/favicon.png" type="image/png" sizes="16x16">

        <!--custom css-->
        <%- include ./layouts/partials/styles.ejs %>
            <link rel="stylesheet" href="/css/allevents.css">

            <!-- for google analytics -->
            <%- include ./layouts/partials/google-analytics.ejs %>

</head>
<style>
    .election_img {
        width: 100%;
        /* height: 100vh */
    }

    .section {
        padding: 2em 0px;
    }

    p {
        font-size: 18px;
        font-weight: 600;
        color: black;
    }
    .footer-nav-wrap p{
        color: #fff;
    }

    .downloadFreePost {
        padding: 2px;
    }

    #newTestimonials {
        display: none;
    }

    .election-hero {
        padding-top: 75px;
        padding-bottom: 0px;
        background-color: unset;
        background: unset;
    }

    .ctn-btn {
        position: absolute;
        bottom: 30px;
        gap: 5px;
        left: 15px;
    }
    .new-btn-1{
        box-shadow: unset;
        padding: 5px;
        font-size: 16px;
    } 
    @media screen and (max-width: 768px) {
        .election_img {
        width: 100%;
        height: 100%;
    }
    .new-btn-1{
        display: none;
    }
    .election-hero{
        padding-top: 80px;
    }
}
</style>

<body>

    <!-- Pre-loader start -->
    <%- include ./layouts/partials/pre-loader.ejs %>
        <!-- Pre-loader end -->

        <!-- header start -->
        <header class="header">
            <%- include ./layouts/partials/navbar.ejs %>
        </header>
        <!-- header end -->


        <!--body content wrap start-->
        <div class="main">

            <section class="election-hero gradient-overlay-wave ">
                <div class="hero-container">
                    <img src="/img/election_page/election.jpg" alt="election_img" class="election_img">
                    <div class="d-flex ctn-btn">
                        <div class="text-center text-md-left mx-auto event-video-anchor" id="rajsthanbtn">
                            <a href="#mp" type="button"
                                class="btn  new-btn-1  ptb-3">
                                <samp class="btn-design-1">
                                    <samp>Madhya Pradesh Election 2023</samp>
                                </samp>
                            </a>
                        </div>
                        <div class="text-center text-md-left mx-auto event-video-anchor">
                            <a href="#tg" type="button"
                                class="btn  new-btn-1  ptb-3">
                                <samp class="btn-design-1">
                                    
                                    <samp>Telangana Election 2023</samp>
                                </samp>
                            </a>
                        </div>
                        <div class="text-center text-md-left mx-auto event-video-anchor">
                            <a href="#rj" type="button"
                                class="btn  new-btn-1  ptb-3">
                                <samp class="btn-design-1">
                                   
                                    <samp>Rajasthan Election 2023</samp>
                                </samp>
                            </a>
                        </div>
                    </div>

                </div>

            </section>
            <section class="section" id="mp">
                <div class="container">

                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="section-heading text-center howitworkheading mb-4">
                                <h2 class="allTitle_font_size">Madhya Pradesh Election 2023</h2>
                                <div class="container">
                                    <img src="/img/election_page/madhypardesh.jpg" alt="" class="election_img">
                                </div>
                                <br>
                                
                                <p class="feature_text">The heart of India is pulsating with anticipation.
                                    Shivraj Singh Chauhan or Kamal Nath? Who will emerge victorious?
                                    Make your voice heard with AdBanao.
                                    Get Election Exclusive Posters, Banners, Videos, WhatsApp Stickers, AI Videos and
                                    much more on AdBanao app. </p>
                            </div>
                            <a href="https://adbanao.page.link/" type="button"
                                class="btn downloadFreePost new-btn  ptb-3">
                                <samp class="btn-design">
                                    <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                    <samp>Download For Free Now</samp>
                                </samp>
                            </a>
                        </div>

                    </div>

                </div>
                <br>
                
            </section>
            <section class="section" id="tg">
                <div class="container">

                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="section-heading text-center howitworkheading mb-4">
                                <h2 class="allTitle_font_size">Telangana Election 2023</h2>
                                <div class="container">
                                    <img src="/img/election_page/telengana.jpg" alt="india election" class="election_img">
                                </div>
                                <br>
                                <p class="feature_text">The fastest-growing state in India is gearing up for a thrilling
                                    contest.
                                    BRS, BJP, or Congress? Who will reign supreme?
                                    Get Election Exclusive Posters, Banners, Videos, WhatsApp Stickers, AI Videos and
                                    much more on AdBanao app.
                                </p>
                            </div>
                            <a href="https://adbanao.page.link/" type="button"
                                class="btn downloadFreePost new-btn  ptb-3">
                                <samp class="btn-design">
                                    <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                    <samp>Download For Free Now</samp>
                                </samp>
                            </a>
                        </div>

                    </div>

                </div>
                <br>
               
            </section>
            <section class="section" id="rj"> 
                <div class="container">

                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="section-heading text-center howitworkheading mb-4">
                                <h2 class="allTitle_font_size">Rajasthan Election 2023</h2>
                                <div class="container">
                                    <img src="/img/election_page/rajsthan.jpg" alt="india election" class="election_img">
                                </div>
                                <br>
                                <p class="feature_text">The desert state is ablaze with political fervor.
                                    Congress or BJP? The choice is yours.
                                    Get Election Exclusive Posters, Banners, Videos, WhatsApp Stickers, AI Videos and
                                    much more on AdBanao app. </p>
                            </div>
                            <a href="https://adbanao.page.link/" type="button"
                                class="btn downloadFreePost new-btn  ptb-3">
                                <samp class="btn-design">
                                    <img src="/img/adbanao-btn.png" alt="Download Free Posters Now">
                                    <samp>Download For Free Now</samp>
                                </samp>
                            </a>
                        </div>

                    </div>

                </div>
                <br>
                
            </section>
            <!--hero section end-->
            <!--testimonial section end-->
            <%- include ./layouts/partials/event-testimonials.ejs %>
                <!--testimonial section end-->
        </div>
        <!--body content wrap end-->

        <!-- footer section start -->
        <%- include ./layouts/partials/footer.ejs %>
            <!-- footer section end -->


            <!-- script start -->
            <%- include ./layouts/partials/scripts.ejs %>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>
                <script src="/js/allevents.js"></script>

                <!-- script end -->
</body>

</html>